Repository justnewbee/kcuF: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint-cli2, eslint

.lintstagedrc:

{
  "package.json": "npmPkgJsonLint",
  "*.md": "markdownlint-cli2",
  "*.{jsx?,tsx?}": "eslint"
}

chore: ready pub fetcher-interceptor-cache-local
  packages-fetcher/fetcher-interceptor-cache-local/README.md
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher/README.md
Due: npmPkgJsonLint, markdownlint-cli2

chore: ready pub fetcher-interceptor-merging
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/README.md
  packages-fetcher/fetcher-interceptor-merging/package.json
Due: npmPkgJsonLint, markdownlint-cli2

chore: ready pub @kcuf/json-stringify-ordered
  packages-fetcher/fetcher/package.json
  packages-util/json-stringify-ordered/package.json
Due: npmPkgJsonLint

chore: before pub
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher/package.json
Due: npmPkgJsonLint

chore: before pub fetcher
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
Due: npmPkgJsonLint

feat(geometry-basic): segment included angle
  package.json
  packages-util/geometry-basic/package.json
  packages-util/geometry-basic/src/helper/get-segment-included-angle.ts
  packages-util/geometry-basic/src/helper/index.ts
  packages-util/geometry-basic/test/get-segment-included-angle.test.ts
Due: npmPkgJsonLint

chore: before pub marking
  packages-canvas/canvas-marking/package.json
Due: npmPkgJsonLint

fix(geometry-basic): export type vector
  package.json
  packages-canvas/canvas-marking/package.json
  packages-dev/stylelint-config/package.json
  packages-util/geometry-basic/package.json
  packages-util/geometry-basic/src/index.ts
Due: npmPkgJsonLint

feat(geometry-basic): angle logic
  packages-canvas/canvas-marking/package.json
  packages-util/geometry-basic/package.json
  packages-util/geometry-basic/src/helper/convert-angle-from-degrees-to-radians.ts
  packages-util/geometry-basic/src/helper/convert-angle-from-radians-to-degrees.ts
  packages-util/geometry-basic/src/helper/get-angle-between-segment-and-axis-x.ts
  packages-util/geometry-basic/src/helper/get-angle-between-segment-and-axis-y.ts
  packages-util/geometry-basic/src/helper/get-angle-between-segments.ts
  packages-util/geometry-basic/src/helper/index.ts
  packages-util/geometry-basic/test/convert-angle.test.ts
  packages-util/geometry-basic/test/get-angle-between-segment-and-axis-x.test.ts
  packages-util/geometry-basic/test/get-angle-between-segment-and-axis-y.test.ts
  packages-util/geometry-basic/test/get-angle-between-segments.test.ts
  packages-util/geometry-basic/test/get-segment-included-angle.test.ts
Due: npmPkgJsonLint

chore: up dep ✨
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-rc/package.json
  packages-dom/mere-dom/package.json
  packages-dom/sandbox-escape/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/react-hook-click-away/package.json
  packages-hook/react-hook-controllable/package.json
  packages-hook/react-hook-is-unmounted/package.json
  packages-hook/react-hook-mouse-hover/package.json
  packages-hook/react-hook-with-class/package.json
  packages-rc-headless/rc-headless-alert/package.json
  packages-rc-headless/rc-headless-backdrop/package.json
  packages-rc-headless/rc-headless-button/package.json
  packages-rc-headless/rc-headless-form/package.json
  packages-rc-headless/rc-headless-input-text/package.json
  packages-rc/rc-backdrop/package.json
  packages-theme/theme-base/package.json
  packages-theme/theme-helper-code-gen/package.json
  packages-theme/theme-token-base/package.json
  packages-util/base64/package.json
  packages-util/geometry-basic/package.json
  packages-util/geometry-extended/package.json
  packages-util/json-stringify-ordered/package.json
  packages-util/ts-missing-helpers/package.json
Due: npmPkgJsonLint

feat(geometry-basic): siblings point logic and snapping between siblings logic
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-util/geometry-basic/package.json
  packages-util/geometry-basic/src/helper/get-point-siblings-from-path.ts
  packages-util/geometry-basic/src/helper/get-snapping-point-base.ts
  packages-util/geometry-basic/src/helper/get-snapping-point-between.ts
  packages-util/geometry-basic/src/helper/get-snapping-point.ts
  packages-util/geometry-basic/src/helper/index.ts
  packages-util/geometry-basic/test/get-point-siblings-from-path.test.ts
Due: npmPkgJsonLint

feat(canvas-marking): snapping when editing dragging point
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-util/geometry-basic/src/helper/get-point-siblings-from-path.ts
  packages-util/geometry-basic/src/helper/get-snapping-point-base.ts
  packages-util/geometry-basic/src/helper/get-snapping-point-between.ts
  packages-util/geometry-basic/src/helper/get-snapping-point.ts
  packages-util/geometry-basic/test/get-point-siblings-from-path.test.ts
Due: npmPkgJsonLint

fix(canva-marking): toggle snapping should trigger when just hold
  packages-canvas/canvas-marking/src/class/marking-stage.ts
Due: none

chore: up dep ✨
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-demo/demo-rc/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/react-hook-mouse-hover/package.json
  packages-rc/rc-backdrop/package.json
  packages-theme/theme-base/package.json
  packages-theme/theme-token-base/package.json
Due: npmPkgJsonLint

chore: up dep ✨
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/types/marking-stage-class.ts
  packages-canvas/canvas-marking/src/types/options.ts
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-rc/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/react-hook-click-away/package.json
  packages-hook/react-hook-controllable/package.json
  packages-hook/react-hook-is-unmounted/package.json
  packages-hook/react-hook-mouse-hover/package.json
  packages-hook/react-hook-with-class/package.json
  packages-rc-headless/rc-headless-alert/package.json
  packages-rc-headless/rc-headless-backdrop/package.json
  packages-rc-headless/rc-headless-button/package.json
  packages-rc-headless/rc-headless-form/package.json
  packages-rc-headless/rc-headless-input-text/package.json
  packages-rc/rc-backdrop/package.json
  packages-theme/theme-base/package.json
  packages-theme/theme-token-base/package.json
  packages-util/geometry-basic/package.json
  packages-util/geometry-basic/src/helper/get-path-centroid.ts
  packages-util/geometry-basic/src/helper/index.ts
  packages-util/geometry-basic/test/get-path-centroid.test.ts
Due: npmPkgJsonLint

fix(canvas-marking): floating will trigger mouse leave
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/plugin/plugin-tooltip/util/get-tooltip-message-basic.ts
  packages-canvas/canvas-marking/src/plugin/plugin-tooltip/util/get-tooltip-message.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/index.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-dispatch-toggle-floating-visible.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-floating-visible.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-handle-toggle-floating-visible.ts
  packages-canvas/canvas-marking/stories/demo-ui/floating/index.tsx
  packages-canvas/canvas-marking/stories/demo-ui/index.tsx
  packages-canvas/canvas-marking/stories/demo-ui/ops/index.tsx
  packages-canvas/canvas-marking/stories/story-default.tsx
Due: none

chore: version bump
  packages-canvas/canvas-marking/package.json
Due: npmPkgJsonLint

fix(canvas-marking): demo using immer will freeze path which was shallow copied
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-canvas/canvas-marking/src/class/marking-stage.ts
Due: npmPkgJsonLint

fix(geometry-basic): get angle between segments was wrong
  packages-canvas/canvas-marking/package.json
  packages-util/geometry-basic/package.json
  packages-util/geometry-basic/src/helper/get-angle-between-segments.ts
  packages-util/geometry-basic/test/get-angle-between-segments.test.ts
Due: npmPkgJsonLint

feat(canvas-marking): close point style
  package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/get-stats-display-html.ts
  packages-canvas/canvas-marking/src/plugin/plugin-tooltip/util/get-tooltip-message-basic.ts
  packages-canvas/canvas-marking/src/types/common.ts
  packages-canvas/canvas-marking/src/types/stats.ts
  packages-canvas/canvas-marking/src/util/get-path-creating-free.ts
  packages-canvas/canvas-marking/src/util/index.ts
  packages-canvas/canvas-sorting-algorithm/README.md
  packages-util/geometry-basic/package.json
  packages-util/geometry-basic/src/helper/index.ts
Due: npmPkgJsonLint, markdownlint-cli2

chore: up dep ✨
  package.json
Due: npmPkgJsonLint

fix(geometry-basic): crossing logic fixed
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-canvas/canvas-marking/stories/demo-model/enum/index.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/index.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-dispatch-toggle-log-events.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-handle-toggle-log-events.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-log-events.ts
  packages-canvas/canvas-marking/stories/demo-model/reducer/index.ts
  packages-canvas/canvas-marking/stories/demo-model/reducer/reduce-toggle-log-events.ts
  packages-canvas/canvas-marking/stories/demo-model/types/action.ts
  packages-canvas/canvas-marking/stories/demo-model/types/state.ts
  packages-canvas/canvas-marking/stories/demo-model/util/create-initial-state.ts
  packages-canvas/canvas-marking/stories/demo-ui/ops/index.tsx
  packages-util/geometry-basic/src/helper/check-in-path-point-overlapping-segment.ts
  packages-util/geometry-basic/src/helper/check-in-path-segment-crossing.ts
  packages-util/geometry-basic/src/helper/index.ts
  packages-util/geometry-basic/src/helper/is-nearly-equal.ts
  packages-util/geometry-basic/src/helper/line-intersection.ts
  packages-util/geometry-basic/src/helper/path-has-point.ts
  packages-util/geometry-basic/src/helper/path-pas-segment-crossing.ts
  packages-util/geometry-basic/src/helper/point-is-along-path.ts
  packages-util/geometry-basic/src/helper/point-is-along-segment.ts
  packages-util/geometry-basic/src/helper/point-is-included.ts
  packages-util/geometry-basic/src/helper/segment-inner-slice-list-by-path.ts
  packages-util/geometry-basic/src/helper/segment-intersection-with-path.ts
  packages-util/geometry-basic/src/helper/segment-intersection.ts
  packages-util/geometry-basic/src/helper/segment-is-crossing.ts
  packages-util/geometry-basic/test/line-intersection-point.test.ts
  packages-util/geometry-basic/test/line-intersection.test.ts
  packages-util/geometry-basic/test/path-has-segment-crossing.test.ts
  packages-util/geometry-basic/test/point-is-along-path.test.ts
  packages-util/geometry-basic/test/point-is-along-segment.test.ts
  packages-util/geometry-basic/test/point-is-included.test.ts
  packages-util/geometry-basic/test/segment-inner-slice-list-by-path.test.ts
  packages-util/geometry-basic/test/segment-intersection-with-path.test.ts
  packages-util/geometry-basic/test/segment-is-crossing.test.ts
  packages-util/geometry-basic/test/segment-to-line.test.ts
  packages-util/geometry-basic/test/segment-vector.test.ts
Due: none

chore: before pub
  packages-canvas/canvas-marking/package.json
  packages-util/geometry-basic/package.json
  packages-util/geometry-basic/src/helper/segment-intersection.ts
Due: npmPkgJsonLint

feat(geometry-basic): segment intersection with line to gst
  packages-util/geometry-basic/src/helper/index.ts
  packages-util/geometry-basic/src/helper/segment-intersection-with-line.ts
  packages-util/geometry-basic/src/helper/segment-intersection-with-path-extended.ts
  packages-util/geometry-basic/src/helper/segment-intersection-with-path.ts
  packages-util/geometry-basic/src/helper/segment-intersection.ts
  packages-util/geometry-basic/test/segment-intersection-with-line.test.ts
  packages-util/geometry-basic/test/segment-intersection-with-path-extended.test.ts
  packages-util/geometry-basic/test/segment-intersection-with-path.test.ts
  packages-util/geometry-basic/test/segment-vector.test.ts
Due: none

chore: before pub
  packages-canvas/canvas-marking/package.json
  packages-util/geometry-basic/package.json
  packages-util/geometry-basic/src/helper/segment-inner-slice-list-by-path.ts
  packages-util/geometry-basic/test/const/index.ts
  packages-util/geometry-basic/test/segment-inner-slice-list-by-path.test.ts
  packages-util/geometry-basic/test/segment-intersection-with-path-extended.test.ts
  packages-util/geometry-basic/test/segment-intersection-with-path.test.ts
Due: npmPkgJsonLint

test(geometry-basic): more test
  package.json
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-util/geometry-basic/src/helper/index.ts
  packages-util/geometry-basic/src/helper/path-perimeter.ts
  packages-util/geometry-basic/src/helper/point-is-within-path.ts
  packages-util/geometry-basic/test/const/index.ts
  packages-util/geometry-basic/test/path-perimeter.test.ts
  packages-util/geometry-basic/test/path-segment-list.test.ts
  packages-util/geometry-basic/test/point-is-along-path.test.ts
  packages-util/geometry-basic/test/point-is-included.test.ts
  packages-util/geometry-basic/test/point-is-within-path.test.ts
  packages-util/geometry-basic/test/segment-inner-slice-list-by-path.test.ts
  packages-util/geometry-basic/test/segment-intersection-with-path-extended.test.ts
  packages-util/geometry-basic/test/segment-intersection-with-path.test.ts
Due: npmPkgJsonLint

fix(geometry-basic): segment inner slice by path when concave mode
  packages-util/geometry-basic/src/helper/path-perimeter.ts
  packages-util/geometry-basic/src/helper/segment-inner-slice-list-by-path.ts
  packages-util/geometry-basic/src/helper/segment-intersection-with-path.ts
  packages-util/geometry-basic/test/const/index.ts
  packages-util/geometry-basic/test/path-perimeter.test.ts
  packages-util/geometry-basic/test/path-segment-list.test.ts
  packages-util/geometry-basic/test/point-is-along-path.test.ts
  packages-util/geometry-basic/test/point-is-included.test.ts
  packages-util/geometry-basic/test/segment-inner-slice-list-by-path.test.ts
  packages-util/geometry-basic/test/segment-inner-slice-total-length-by-path.test.ts
  packages-util/geometry-basic/test/segment-intersection-with-path-extended.test.ts
  packages-util/geometry-basic/test/segment-intersection-with-path.test.ts
Due: none

fix(canvas-marking): path midpoint list now is more generic
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-util/geometry-basic/src/helper/path-bbox.ts
  packages-util/geometry-basic/src/helper/path-midpoint-list.ts
  packages-util/geometry-basic/src/index.ts
  packages-util/geometry-basic/src/types/index.ts
  packages-util/geometry-basic/test/const/index.ts
  packages-util/geometry-basic/test/path-area.test.ts
  packages-util/geometry-basic/test/path-bbox.test.ts
  packages-util/geometry-basic/test/path-centroid.test.ts
  packages-util/geometry-basic/test/path-has-segment-crossing.test.ts
  packages-util/geometry-basic/test/path-midpoint-list.test.ts
  packages-util/geometry-basic/test/path-perimeter.test.ts
  packages-util/geometry-basic/test/path-segment-list.test.ts
Due: none

test(geometry-basic): a regular triangle
  packages-util/geometry-basic/test/const/index.ts
  packages-util/geometry-basic/test/path-area.test.ts
  packages-util/geometry-basic/test/path-bbox.test.ts
  packages-util/geometry-basic/test/path-has-segment-crossing.test.ts
  packages-util/geometry-basic/test/path-midpoint-list.test.ts
  packages-util/geometry-basic/test/path-perimeter.test.ts
  packages-util/geometry-basic/test/path-segment-list.test.ts
  packages-util/geometry-basic/test/point-is-along-path.test.ts
  packages-util/geometry-basic/test/point-is-included.test.ts
Due: none

fix(gemetry-basic): a typo
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-util/geometry-basic/src/helper/index.ts
  packages-util/geometry-basic/src/helper/path-has-segment-crossing.ts
  packages-util/geometry-basic/src/helper/point-siblings-from-path.ts
  packages-util/geometry-basic/test/const/index.ts
  packages-util/geometry-basic/test/get-point-siblings-from-path.test.ts
  packages-util/geometry-basic/test/path-area.test.ts
  packages-util/geometry-basic/test/path-bbox.test.ts
  packages-util/geometry-basic/test/path-has-segment-crossing.test.ts
  packages-util/geometry-basic/test/path-midpoint-list.test.ts
  packages-util/geometry-basic/test/path-perimeter.test.ts
  packages-util/geometry-basic/test/path-segment-list.test.ts
  packages-util/geometry-basic/test/point-is-along-path.test.ts
  packages-util/geometry-basic/test/point-is-included.test.ts
  packages-util/geometry-basic/test/point-siblings-from-path.test.ts
Due: none

test(geometry-basic): more tests
  packages-util/geometry-basic/test/point-is-in-segment-projection.test.ts
  packages-util/geometry-basic/test/segment-slope.test.ts
Due: none

chore: rename
  packages-util/geometry-basic/src/helper/get-angle-between-segments.ts
  packages-util/geometry-basic/src/helper/get-auxiliary-segment-list.ts
  packages-util/geometry-basic/src/helper/get-path-edge-and-center-points-array.ts
  packages-util/geometry-basic/src/helper/get-rect-path-by-segment-and-point.ts
  packages-util/geometry-basic/src/helper/index.ts
  packages-util/geometry-basic/src/helper/line-intersection.ts
  packages-util/geometry-basic/src/helper/path-centroid.ts
  packages-util/geometry-basic/src/helper/path-edge-center-points.ts
  packages-util/geometry-basic/src/helper/path-intersection-with-segment.ts
  packages-util/geometry-basic/src/helper/point-is-equal.ts
  packages-util/geometry-basic/src/helper/segment-inner-slice-list-by-path.ts
  packages-util/geometry-basic/src/helper/segment-intersection-with-path-extended.ts
  packages-util/geometry-basic/src/helper/segment-is-equal-slope.ts
  packages-util/geometry-basic/src/index.ts
  packages-util/geometry-basic/src/types/index.ts
  packages-util/geometry-basic/src/util/index.ts
  packages-util/geometry-basic/src/util/is-nearly-equal.ts
  packages-util/geometry-basic/src/util/no-negative-zero.ts
  packages-util/geometry-basic/src/util/pairwise.ts
  packages-util/geometry-basic/src/util/round-coords.ts
  packages-util/geometry-basic/test/const/index.ts
  packages-util/geometry-basic/test/path-area.test.ts
  packages-util/geometry-basic/test/path-bbox.test.ts
  packages-util/geometry-basic/test/path-centroid.test.ts
  packages-util/geometry-basic/test/path-edge-and-center-points.test.ts
  packages-util/geometry-basic/test/path-has-segment-crossing.test.ts
  packages-util/geometry-basic/test/path-intersection-with-segment.test.ts
  packages-util/geometry-basic/test/path-midpoint-list.test.ts
  packages-util/geometry-basic/test/path-perimeter.test.ts
  packages-util/geometry-basic/test/path-segment-list.test.ts
  packages-util/geometry-basic/test/point-is-along-path.test.ts
  packages-util/geometry-basic/test/point-is-included.test.ts
  packages-util/geometry-basic/test/point-is-within-path.test.ts
  packages-util/geometry-basic/test/point-siblings-from-path.test.ts
  packages-util/geometry-basic/test/segment-inner-slice-list-by-path.test.ts
  packages-util/geometry-basic/test/segment-intersection-with-path-extended.test.ts
  packages-util/geometry-basic/test/segment-intersection-with-path.test.ts
Due: none

chore: before pub
  packages-canvas/canvas-marking/package.json
  packages-util/geometry-basic/package.json
Due: npmPkgJsonLint

test(geometry-baic): simpler test
  packages-demo/demo-rc/package.json
  packages-util/geometry-basic/src/helper/index.ts
  packages-util/geometry-basic/src/helper/path-slice-list-by-lines.ts
  packages-util/geometry-basic/test/const/common.ts
  packages-util/geometry-basic/test/const/index.ts
  packages-util/geometry-basic/test/const/path-0.ts
  packages-util/geometry-basic/test/const/path-1.ts
  packages-util/geometry-basic/test/const/path-2.ts
  packages-util/geometry-basic/test/const/path-3.ts
  packages-util/geometry-basic/test/const/path-4.ts
  packages-util/geometry-basic/test/const/path-5.ts
  packages-util/geometry-basic/test/const/path-6.ts
  packages-util/geometry-basic/test/path-area.test.ts
  packages-util/geometry-basic/test/path-bbox.test.ts
  packages-util/geometry-basic/test/path-centroid.test.ts
  packages-util/geometry-basic/test/path-edge-and-center-points.test.ts
  packages-util/geometry-basic/test/path-has-segment-crossing.test.ts
  packages-util/geometry-basic/test/path-intersection-with-segment.test.ts
  packages-util/geometry-basic/test/path-midpoint-list.test.ts
  packages-util/geometry-basic/test/path-perimeter.test.ts
  packages-util/geometry-basic/test/path-segment-list.test.ts
  packages-util/geometry-basic/test/path-slice-list-by-lines.test.ts
  packages-util/geometry-basic/test/point-is-along-path.test.ts
  packages-util/geometry-basic/test/point-is-included.test.ts
  packages-util/geometry-basic/test/point-is-within-path.test.ts
  packages-util/geometry-basic/test/point-siblings-from-path.test.ts
  packages-util/geometry-basic/test/segment-inner-slice-list-by-path.test.ts
  packages-util/geometry-basic/test/types/index.ts
Due: npmPkgJsonLint

feat(geometry-basic): path split by line done
  packages-util/geometry-basic/src/helper/index.ts
  packages-util/geometry-basic/src/helper/path-intersection-with-line.ts
  packages-util/geometry-basic/src/helper/path-push-point.ts
  packages-util/geometry-basic/src/helper/path-split-by-line.ts
  packages-util/geometry-basic/src/helper/path-split-by-lines.ts
  packages-util/geometry-basic/test/const/common.ts
  packages-util/geometry-basic/test/const/index.ts
  packages-util/geometry-basic/test/const/path-0.ts
  packages-util/geometry-basic/test/const/path-1.ts
  packages-util/geometry-basic/test/const/path-2.ts
  packages-util/geometry-basic/test/const/path-3-isosceles-right.ts
  packages-util/geometry-basic/test/const/path-3-regular.ts
  packages-util/geometry-basic/test/const/path-3.ts
  packages-util/geometry-basic/test/const/path-4-crossing.ts
  packages-util/geometry-basic/test/const/path-4-diamond.ts
  packages-util/geometry-basic/test/const/path-4-rectangle.ts
  packages-util/geometry-basic/test/const/path-4-square.ts
  packages-util/geometry-basic/test/const/path-4.ts
  packages-util/geometry-basic/test/const/path-5-convex.ts
  packages-util/geometry-basic/test/const/path-6-concave.ts
  packages-util/geometry-basic/test/path-intersection-with-line.test.ts
  packages-util/geometry-basic/test/path-intersection-with-segment.test.ts
  packages-util/geometry-basic/test/path-split-by-line.test.ts
  packages-util/geometry-basic/test/path-split-by-lines.test.ts
  packages-util/geometry-basic/test/types/index.ts
Due: none

test: better case writing
  packages-util/geometry-basic/src/helper/path-split-by-line.ts
  packages-util/geometry-basic/src/helper/path-split-by-lines.ts
  packages-util/geometry-basic/src/helper/point-is-within-path.ts
  packages-util/geometry-basic/test/const/path-4-square.ts
  packages-util/geometry-basic/test/const/path-5-convex.ts
  packages-util/geometry-basic/test/path-intersection-with-line.test.ts
  packages-util/geometry-basic/test/path-intersection-with-segment.test.ts
  packages-util/geometry-basic/test/path-split-by-line.test.ts
  packages-util/geometry-basic/test/types/index.ts
Due: none

feat(geometry-basic): compare paths in a resonable way
  packages-util/geometry-basic/src/helper/compare-paths.ts
  packages-util/geometry-basic/src/helper/path-split-by-line.ts
  packages-util/geometry-basic/test/const/path-4-square.ts
  packages-util/geometry-basic/test/path-split-by-line.test.ts
Due: none
