Repository justnewbee/kcuF: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint-cli2, eslint, stylelint

.lintstagedrc:

{
  "package.json": "npmPkgJsonLint",
  "*.md": "markdownlint-cli2",
  "*.{js,ts,tsx}": ["eslint", "stylelint"]
}

chore: before pub 🍷
  packages-config/eslint-config/package.json
  packages-config/stylelint-config/package.json
Due: npmPkgJsonLint

chore: up version ✨
  package.json
  packages-config/eslint-config/package.json
Due: npmPkgJsonLint

feat: demo rc
  packages-demo/demo-rc/package.json
  packages-demo/demo-rc/src/rc/choice-group-base/index.ts
  packages-demo/demo-rc/src/rc/choice-group-checkbox/rc/index.tsx
  packages-demo/demo-rc/src/rc/choice-group-checkbox/types/index.ts
  packages-demo/demo-rc/src/rc/choice-group-radio/rc/index.tsx
  packages-demo/demo-rc/src/rc/choice-group-radio/types/index.ts
  packages-demo/demo-rc/src/rc/input-switch/rc/index.tsx
  packages-demo/demo-rc/src/types/common.ts
  packages-demo/demo-rc/stories/choice-group-checkbox/story-default.tsx
  packages-demo/demo-rc/stories/choice-group-radio/story-default.tsx
  packages-hook/react-hook-controllable/package.json
  packages-hook/react-hook-controllable/src/hook/use-controllable-soft-trim.ts
  packages-hook/react-hook-controllable/src/hook/use-controllable-unprotected.ts
  packages-hook/react-hook-controllable/src/hook/use-controllable.ts
  packages-hook/react-hook-controllable/src/types/index.ts
Due: npmPkgJsonLint, eslint, stylelint

chore: whatever
  packages-canvas/canvas-marking-react/stories/const/index.ts
  packages-canvas/canvas-marking-react/stories/enum/index.ts
  packages-canvas/canvas-marking-react/stories/util/get-image-url.ts
  packages-canvas/canvas-marking-react/stories/util/get-marking-items.ts
Due: eslint, stylelint

chore: up version ✨
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/react-hook-mouse-hover/package.json
  packages-rc/rc-backdrop/package.json
  packages-rc/rc-button/package.json
  packages-rc/rc-icon/package.json
  packages-rc/rc-keyboard-mac/package.json
  packages-theme/theme-token-base/package.json
Due: npmPkgJsonLint

chore: up version ✨
  .ncurc.yml
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/react-hook-mouse-hover/package.json
  packages-rc/rc-backdrop/package.json
  packages-rc/rc-button/package.json
  packages-rc/rc-icon/package.json
  packages-rc/rc-keyboard-mac/package.json
  packages-theme/theme-token-base/package.json
Due: npmPkgJsonLint

chore: before pub 🍷
  packages-canvas/canvas-marking-react-headless/README.md
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/README.md
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
Due: npmPkgJsonLint, markdownlint-cli2

chore: demo rc icon
  packages-canvas/canvas-marking-react/src/ui/index.tsx
  packages-config/eslint-config/config-ts.js
  packages-demo/demo-rc/package.json
  packages-demo/demo-rc/src/rc/alert/rc/alert-icon.tsx
  packages-demo/demo-rc/src/rc/alert/rc/index.tsx
  packages-demo/demo-rc/src/rc/alert/types/index.ts
  packages-demo/demo-rc/src/rc/button/rc/index.tsx
  packages-demo/demo-rc/src/rc/button/types/index.ts
  packages-demo/demo-rc/src/rc/icon/const/index.ts
  packages-demo/demo-rc/src/rc/icon/index.tsx
  packages-demo/demo-rc/src/rc/icon/types/index.ts
  packages-demo/demo-rc/src/rc/icon/util/get-icon-code.ts
  packages-demo/demo-rc/src/rc/icon/util/get-icon-color.ts
  packages-demo/demo-rc/src/rc/icon/util/index.ts
  packages-demo/demo-rc/src/rc/index.ts
  packages-demo/demo-rc/src/rc/simple/h1.ts
  packages-demo/demo-rc/src/rc/simple/h2.ts
  packages-demo/demo-rc/src/rc/simple/h3.ts
  packages-demo/demo-rc/src/rc/simple/h4.ts
  packages-demo/demo-rc/src/rc/simple/h5.ts
  packages-demo/demo-rc/src/rc/simple/h6.ts
  packages-demo/demo-rc/stories/icon/index.stories.ts
  packages-demo/demo-rc/stories/icon/story-default.tsx
Due: npmPkgJsonLint, eslint, stylelint

chore: before pub 🍷
  packages-demo/demo-rc/package.json
Due: npmPkgJsonLint

chore: before pub 🍷
  packages-canvas/canvas-marking-react/package.json
Due: npmPkgJsonLint

feat: icon base now support scale
  packages-config/eslint-config/config-ts.js
  packages-rc/rc-icon-base/package.json
  packages-rc/rc-icon-base/src/icon-base/index.tsx
  packages-rc/rc-icon-base/src/types/index.ts
  packages-rc/rc-icon-base/src/util/get-css-icon-rotation.ts
Due: npmPkgJsonLint, eslint, stylelint

feat: canvas marking default line color changed
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/const/index.ts
  packages-demo/demo-rc/package.json
Due: npmPkgJsonLint, eslint, stylelint

feat: zoom with easy arg
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react-headless/src/hook/use-imperative-ref.ts
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/enum/index.ts
  packages-canvas/canvas-marking/src/index.ts
  packages-canvas/canvas-marking/src/types/canvas-marking-class.ts
  packages-canvas/canvas-marking/src/types/common.ts
Due: npmPkgJsonLint, eslint, stylelint

fix: arg was wrong
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react-headless/src/types/common.ts
  packages-canvas/canvas-marking-react/package.json
Due: npmPkgJsonLint, eslint, stylelint

chore: update icons
  packages-demo/demo-rc/package.json
  packages-demo/demo-rc/src/rc/icon/const/index.ts
  packages-rc/rc-icon/package.json
  packages-rc/rc-icon/src/const/index.ts
  packages-rc/rc-icon/src/util/get-icon-color.ts
Due: npmPkgJsonLint, eslint, stylelint

chore: before pub 🍷
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react-headless/src/hook/use-imperative-ref.ts
  packages-canvas/canvas-marking-react-headless/src/reducer/index.ts
  packages-canvas/canvas-marking-react-headless/src/reducer/reduce-set-marking-instance.ts
  packages-canvas/canvas-marking-react-headless/src/types/common.ts
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking-react/stories/demo-model/enum/index.ts
  packages-canvas/canvas-marking-react/stories/demo-model/hook/index.ts
  packages-canvas/canvas-marking-react/stories/demo-model/hook/use-dispatch-set-marking-stats.ts
  packages-canvas/canvas-marking-react/stories/demo-model/hook/use-marking-stats.ts
  packages-canvas/canvas-marking-react/stories/demo-model/reducer/index.ts
  packages-canvas/canvas-marking-react/stories/demo-model/reducer/reduce-set-marking-stats.ts
  packages-canvas/canvas-marking-react/stories/demo-model/types/action.ts
  packages-canvas/canvas-marking-react/stories/demo-model/types/state.ts
  packages-canvas/canvas-marking-react/stories/demo-model/util/create-initial-state.ts
  packages-canvas/canvas-marking-react/stories/demo-ui/rc-canvas/index.tsx
  packages-canvas/canvas-marking-react/stories/demo-ui/rc-ops/index.tsx
  packages-canvas/canvas-marking-react/stories/demo-ui/rc-ops/ops-create.tsx
  packages-canvas/canvas-marking-react/stories/demo-ui/rc-ops/ops-zoom-move.tsx
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/types/canvas-marking-class.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/index.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-handle-toggle-move.ts
  packages-canvas/canvas-marking/stories/demo-ui/ops/index.tsx
  packages-canvas/canvas-marking/stories/demo-ui/ops/ops-zoom-move.tsx
  packages-rc-headless/rc-headless-dropdown/src/hook/use-dropdown.ts
Due: npmPkgJsonLint, eslint, stylelint

feat: update icons
  packages-rc/rc-icon/src/const/index.ts
  packages-rc/rc-icon/src/util/get-icon-color.ts
  packages-theme/theme-token-base/README.md
Due: markdownlint-cli2, eslint, stylelint

chore: canvas marking before hooks
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react-headless/src/hook/use-effect-set-event-handlers.ts
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking-item.ts
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/types/canvas-marking-item-class.ts
  packages-canvas/canvas-marking/src/types/common.ts
  packages-canvas/canvas-marking/src/types/events.ts
  packages-canvas/canvas-marking/stories/demo-ui/ops/ops-plugin.tsx
  packages-demo/demo-rc/package.json
  packages-rc/rc-button/stories/index.stories.ts
  packages-rc/rc-button/stories/story-default.tsx
  packages-rc/rc-button/stories/types/index.ts
Due: npmPkgJsonLint, eslint, stylelint

fix: backdrop blur from 7 to 1
  packages-rc/rc-backdrop/package.json
  packages-rc/rc-backdrop/src/ui/index.tsx
Due: npmPkgJsonLint, eslint, stylelint

chore: backdrop no blur
  packages-canvas/canvas-marking/src/class/canvas-marking-item.ts
  packages-rc/rc-backdrop/package.json
  packages-rc/rc-backdrop/src/ui/index.tsx
Due: npmPkgJsonLint, eslint, stylelint

chore: canvas default point alt color
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/const/index.ts
  packages-canvas/canvas-marking/src/util/init-draw-style-point.ts
Due: npmPkgJsonLint, eslint, stylelint

fix: small issue
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking-item.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-init.ts
Due: npmPkgJsonLint, eslint, stylelint

fix: canvas marking create with a creatingWait
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking-item.ts
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/enum/index.ts
Due: npmPkgJsonLint, eslint, stylelint

chore: rename
  package.json
  packages-config/eslint-config/package.json
  packages-rc/rc-button-headless/.babelrc.js
  packages-rc/rc-button-headless/.npmignore
  packages-rc/rc-button-headless/README.md
  packages-rc/rc-button-headless/package.json
  packages-rc/rc-button-headless/src/context/index.ts
  packages-rc/rc-button-headless/src/enum/index.ts
  packages-rc/rc-button-headless/src/hook/_use-model-context.ts
  packages-rc/rc-button-headless/src/hook/_use-model-props.ts
  packages-rc/rc-button-headless/src/hook/index.ts
  packages-rc/rc-button-headless/src/hook/use-props-custom.ts
  packages-rc/rc-button-headless/src/hook/use-props-dom.ts
  packages-rc/rc-button-headless/src/index.ts
  packages-rc/rc-button-headless/src/provider/index.tsx
  packages-rc/rc-button-headless/src/types/common.ts
  packages-rc/rc-button-headless/src/types/context.ts
  packages-rc/rc-button-headless/src/types/index.ts
  packages-rc/rc-button-headless/src/types/props.ts
  packages-rc/rc-button-headless/src/util/get-button-aria-label.ts
  packages-rc/rc-button-headless/src/util/get-button-href-target.ts
  packages-rc/rc-button-headless/src/util/get-button-title.ts
  packages-rc/rc-button-headless/src/util/index.ts
  packages-rc/rc-button-headless/tsconfig.json
Due: npmPkgJsonLint, markdownlint-cli2, eslint, stylelint

chore: before pub 🍷
  package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/index.ts
  packages-rc/rc-button-headless/src/hook/_use-model-props.ts
  packages-rc/rc-button-headless/src/hook/use-props-custom.ts
  packages-rc/rc-button-headless/src/types/props.ts
Due: npmPkgJsonLint, eslint, stylelint

chore: before pub 🍷
  packages-canvas/canvas-marking/src/types/common.ts
Due: eslint, stylelint
