Repository justnewbee/kcuF: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint-cli2, eslint

.lintstagedrc:

{
  "package.json": "npmPkgJsonLint",
  "*.md": "markdownlint-cli2",
  "*.{jsx?,tsx?}": "eslint"
}

feat(fetcher): fetcher config responseType
  packages-fetcher/fetcher/src/types/config.ts
  packages-fetcher/fetcher/src/types/fn.ts
  packages-fetcher/fetcher/src/types/response.ts
  packages-fetcher/fetcher/src/util/build-response-for-fetch.ts
  packages-fetcher/fetcher/src/util/build-response-for-jsonp.ts
  packages-fetcher/fetcher/src/util/build-response-x.ts
  packages-fetcher/fetcher/src/util/fetch-x.ts
  packages-fetcher/fetcher/test/index.test.ts
Due: none

fix(fetcher): cyc dep
  packages-fetcher/fetcher-interceptor-biz/src/util/create-interceptor-response-fulfilled.ts
  packages-fetcher/fetcher-interceptor-cache-local/src/util/create-interceptor-request.ts
  packages-fetcher/fetcher-interceptor-cache-local/src/util/create-interceptor-response-fulfilled.ts
  packages-fetcher/fetcher-interceptor-cache-local/src/util/create-interceptor-response-rejected.ts
  packages-fetcher/fetcher-interceptor-merging/src/util/create-interceptor-request.ts
  packages-fetcher/fetcher-interceptor-merging/src/util/create-interceptor-response-fulfilled.ts
  packages-fetcher/fetcher-interceptor-merging/src/util/create-interceptor-response-rejected.ts
  packages-fetcher/fetcher/src/class/index.ts
  packages-fetcher/fetcher/src/factory/index.ts
  packages-fetcher/fetcher/src/factory/request-with-body.ts
  packages-fetcher/fetcher/src/factory/request-with-no-body.ts
  packages-fetcher/fetcher/src/helper/index.ts
  packages-fetcher/fetcher/src/index.ts
  packages-fetcher/fetcher/src/types/class.ts
  packages-fetcher/fetcher/src/types/common.ts
  packages-fetcher/fetcher/src/types/config.ts
  packages-fetcher/fetcher/src/types/error.ts
  packages-fetcher/fetcher/src/types/fetcher.ts
  packages-fetcher/fetcher/src/types/fn.ts
  packages-fetcher/fetcher/src/types/index.ts
  packages-fetcher/fetcher/src/types/interceptor-queue.ts
  packages-fetcher/fetcher/src/types/interceptor.ts
  packages-fetcher/fetcher/src/types/options.ts
  packages-fetcher/fetcher/src/types/response.ts
  packages-fetcher/fetcher/src/types/to-be-separated.ts
  packages-fetcher/fetcher/src/util/build-url.ts
  packages-fetcher/fetcher/src/util/fetch-x.ts
  packages-fetcher/fetcher/src/util/queue-interceptor.ts
  packages-fetcher/fetcher/src/util/serialize-body.ts
Due: none

fix(fetcher): interceptor logic
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/src/util/create-interceptor-response-fulfilled.ts
  packages-fetcher/fetcher-interceptor-biz/src/util/intercept.ts
  packages-fetcher/fetcher-interceptor-cache-local/src/util/create-interceptor-request.ts
  packages-fetcher/fetcher-interceptor-cache-local/src/util/create-interceptor-response-rejected.ts
  packages-fetcher/fetcher-interceptor-cache-local/src/util/intercept.ts
  packages-fetcher/fetcher-interceptor-merging/src/util/intercept.ts
  packages-fetcher/fetcher-interceptor-sls/src/intercept/index.ts
  packages-fetcher/fetcher/src/class/index.ts
  packages-fetcher/fetcher/src/enum/index.ts
  packages-fetcher/fetcher/src/factory/index.ts
  packages-fetcher/fetcher/src/factory/request-with-body.ts
  packages-fetcher/fetcher/src/factory/request-with-no-body.ts
  packages-fetcher/fetcher/src/helper/create-fetcher-error-skip-network.ts
  packages-fetcher/fetcher/src/types/class.ts
  packages-fetcher/fetcher/src/types/common.ts
  packages-fetcher/fetcher/src/types/config.ts
  packages-fetcher/fetcher/src/types/error.ts
  packages-fetcher/fetcher/src/types/fetcher.ts
  packages-fetcher/fetcher/src/types/fn.ts
  packages-fetcher/fetcher/src/types/index.ts
  packages-fetcher/fetcher/src/types/interceptor-queue.ts
  packages-fetcher/fetcher/src/types/interceptor.ts
  packages-fetcher/fetcher/src/util/create-fetcher-error.ts
  packages-fetcher/fetcher/src/util/index.ts
  packages-fetcher/fetcher/src/util/parse-interceptor-queue-item-for-request.ts
  packages-fetcher/fetcher/src/util/parse-interceptor-queue-item-for-response.ts
  packages-fetcher/fetcher/src/util/queue-interceptor.ts
  packages-fetcher/fetcher/src/util/sort-interceptors.ts
  packages-fetcher/fetcher/test/index.test.ts
Due: npmPkgJsonLint

test(fetcher): split test cases
  packages-fetcher/fetcher/src/class/index.ts
  packages-fetcher/fetcher/src/factory/request-with-body.ts
  packages-fetcher/fetcher/src/factory/request-with-no-body.ts
  packages-fetcher/fetcher/src/types/config.ts
  packages-fetcher/fetcher/src/types/fetcher.ts
  packages-fetcher/fetcher/src/util/merge-config-body.ts
  packages-fetcher/fetcher/src/util/merge-config-headers.ts
  packages-fetcher/fetcher/src/util/merge-config-params.ts
  packages-fetcher/fetcher/src/util/merge-config.ts
  packages-fetcher/fetcher/test/basic.test.ts
  packages-fetcher/fetcher/test/const/index.ts
  packages-fetcher/fetcher/test/error.test.ts
  packages-fetcher/fetcher/test/index.test.ts
  packages-fetcher/fetcher/test/interceptor.test.ts
  packages-fetcher/fetcher/test/methods.test.ts
  packages-fetcher/fetcher/test/parse.test.ts
  packages-fetcher/fetcher/test/util/index.ts
  packages-fetcher/fetcher/test/util/setup-fetch-mock.ts
Due: none

test(fetcher): split test cases
  packages-fetcher/fetcher/test/basic.test.ts
  packages-fetcher/fetcher/test/const/index.ts
  packages-fetcher/fetcher/test/methods.test.ts
  packages-fetcher/fetcher/test/parse.test.ts
  packages-fetcher/fetcher/test/upload.test.ts
  packages-fetcher/fetcher/test/util/setup-fetch-mock.ts
Due: none

chore: before pub 🍷
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher/package.json
Due: npmPkgJsonLint

test(fetcher): better test cases
  packages-fetcher/fetcher/src/interceptor/intercept-request-final.ts
  packages-fetcher/fetcher/src/types/common.ts
  packages-fetcher/fetcher/src/util/build-fetch-options.ts
  packages-fetcher/fetcher/src/util/build-jsonp-options.ts
  packages-fetcher/fetcher/src/util/fetch-x.ts
  packages-fetcher/fetcher/src/util/merge-params.ts
  packages-fetcher/fetcher/src/util/serialize-body.ts
  packages-fetcher/fetcher/test/basic.test.ts
  packages-fetcher/fetcher/test/const/index.ts
  packages-fetcher/fetcher/test/error.test.ts
  packages-fetcher/fetcher/test/interceptor.test.ts
  packages-fetcher/fetcher/test/methods.test.ts
  packages-fetcher/fetcher/test/parse.test.ts
  packages-fetcher/fetcher/test/types/index.ts
  packages-fetcher/fetcher/test/upload.test.ts
  packages-fetcher/fetcher/test/util/create-mock-response.ts
  packages-fetcher/fetcher/test/util/setup-fetch-mock.ts
Due: none

test(fetcher): better test cases
  packages-fetcher/fetcher/test/body.test.ts
  packages-fetcher/fetcher/test/params.test.ts
  packages-fetcher/fetcher/test/response-type.test.ts
Due: none

chore: before pub
  packages-fetcher/sls-logger-web/package.json
Due: npmPkgJsonLint

feat: fetcher interceptor login
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-rc/package.json
  packages-dom/mere-dom/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-login/.babelrc.js
  packages-fetcher/fetcher-interceptor-login/.npmignore
  packages-fetcher/fetcher-interceptor-login/README.md
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-login/src/index.ts
  packages-fetcher/fetcher-interceptor-login/src/types/index.ts
  packages-fetcher/fetcher-interceptor-login/src/util/create-interceptor-response-rejected.ts
  packages-fetcher/fetcher-interceptor-login/src/util/intercept.ts
  packages-fetcher/fetcher-interceptor-login/src/util/should-do-login.ts
  packages-fetcher/fetcher-interceptor-login/src/util/singleton-promise.ts
  packages-fetcher/fetcher-interceptor-login/test/index.test.ts
  packages-fetcher/fetcher-interceptor-login/tsconfig.json
  packages-fetcher/fetcher-interceptor-login/tsconfig.node.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/fetcher/src/enum/index.ts
  packages-fetcher/sls-logger-base/package.json
  packages-hook/react-hook-mouse-hover/package.json
  packages-rc/rc-backdrop/package.json
  packages-theme/theme-base/package.json
  packages-theme/theme-helper-code-gen/package.json
  packages-theme/theme-token-base/package.json
  packages-util/geometry-basic/package.json
  packages-util/subscribable/package.json
Due: npmPkgJsonLint, markdownlint-cli2

chore: up version ✨
  package.json
Due: npmPkgJsonLint

chore: up version ✨
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-rc/package.json
  packages-dom/mere-dom/package.json
  packages-dom/sandbox-escape/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/sls-logger-base/package.json
  packages-fetcher/sls-logger-web/package.json
  packages-hook/react-hook-click-away/package.json
  packages-hook/react-hook-controllable/package.json
  packages-hook/react-hook-is-unmounted/package.json
  packages-hook/react-hook-mouse-hover/package.json
  packages-hook/react-hook-with-class/package.json
  packages-rc-headless/rc-headless-alert/package.json
  packages-rc-headless/rc-headless-backdrop/package.json
  packages-rc-headless/rc-headless-button/package.json
  packages-rc-headless/rc-headless-form/package.json
  packages-rc-headless/rc-headless-input-text/package.json
  packages-rc/rc-backdrop/package.json
  packages-theme/theme-base/package.json
  packages-theme/theme-helper-code-gen/package.json
  packages-theme/theme-token-base/package.json
  packages-util/base64/package.json
  packages-util/geometry-basic/package.json
  packages-util/geometry-extended/package.json
  packages-util/json-stringify-ordered/package.json
  packages-util/storage-factory/package.json
  packages-util/subscribable/package.json
  packages-util/ts-missing-helpers/package.json
Due: npmPkgJsonLint

feat(icon): the icon component
  packages-rc/rc-icon-base/.babelrc.js
  packages-rc/rc-icon-base/.npmignore
  packages-rc/rc-icon-base/README.md
  packages-rc/rc-icon-base/package.json
  packages-rc/rc-icon-base/src/helper/index.ts
  packages-rc/rc-icon-base/src/helper/inject-icon-font.ts
  packages-rc/rc-icon-base/src/helper/inject-web-font.ts
  packages-rc/rc-icon-base/src/icon-base/index.tsx
  packages-rc/rc-icon-base/src/index.ts
  packages-rc/rc-icon-base/src/types/index.ts
  packages-rc/rc-icon-base/src/util/generate-font-family-for-icon.ts
  packages-rc/rc-icon-base/src/util/generate-font-family-for-webfont.ts
  packages-rc/rc-icon-base/src/util/index.ts
  packages-rc/rc-icon-base/src/util/inject-font.ts
  packages-rc/rc-icon-base/tsconfig.json
  packages-rc/rc-icon/.babelrc.js
  packages-rc/rc-icon/.npmignore
  packages-rc/rc-icon/.storybook/main.ts
  packages-rc/rc-icon/.storybook/preview.ts
  packages-rc/rc-icon/package.json
  packages-rc/rc-icon/src/const/index.ts
  packages-rc/rc-icon/src/index.tsx
  packages-rc/rc-icon/stories/index.stories.ts
  packages-rc/rc-icon/stories/rc/pkg-info/index.tsx
  packages-rc/rc-icon/stories/story-all.tsx
  packages-rc/rc-icon/stories/types/index.ts
  packages-rc/rc-icon/tsconfig.json
  packages-rc/rc-icon/tsconfig.node.json
  packages-util/iconfont-helper/src/index.ts
  packages-util/iconfont-helper/src/rc/icon-base/index.ts
  packages-util/iconfont-helper/src/rc/index.ts
Due: npmPkgJsonLint, markdownlint-cli2

chore: target in options
  .ncurc.yml
  package.json
  packages-dom/keymap/README.md
  packages-dom/keymap/src/const/index.ts
  packages-dom/keymap/src/index.ts
  packages-dom/keymap/src/types/index.ts
  packages-dom/keymap/src/util/get-modifier-state.ts
  packages-dom/keymap/src/util/keymap.ts
  packages-dom/keymap/src/util/match-key-binding-press.ts
  packages-dom/keymap/src/util/parse-key-binding.ts
  packages-dom/keymap/stories/rc/hello/index.tsx
  packages-dom/keymap/stories/rc/konami/index.tsx
  packages-dom/keymap/stories/story-default.tsx
Due: npmPkgJsonLint, markdownlint-cli2

feat: no event option
  packages-dom/keymap/src/const/index.ts
  packages-dom/keymap/src/index.ts
  packages-dom/keymap/src/types/index.ts
  packages-dom/keymap/src/util/keymap.ts
Due: none

chore: whatever
  packages-dom/keymap/src/index.ts
  packages-dom/keymap/src/types/index.ts
  packages-dom/keymap/src/util/create-key-bindings-handler.ts
Due: none

chore: whatever
  packages-dom/keymap/src/index.ts
  packages-dom/keymap/src/util/create-key-bindings-handler.ts
  packages-dom/keymap/stories/rc/hello/index.tsx
  packages-dom/keymap/stories/rc/konami/index.tsx
  packages-dom/keymap/stories/story-default.tsx
Due: none

chore: use object instead of tuple
  packages-dom/keymap/src/const/index.ts
  packages-dom/keymap/src/enum/index.ts
  packages-dom/keymap/src/index.ts
  packages-dom/keymap/src/types/index.ts
  packages-dom/keymap/src/util/create-key-bindings-handler2.ts
  packages-dom/keymap/src/util/index.ts
  packages-dom/keymap/src/util/match-key-binding-press2.ts
  packages-dom/keymap/src/util/normalize-modifier.ts
  packages-dom/keymap/src/util/normalize-modifiers.ts
  packages-dom/keymap/src/util/parse-key-binding2.ts
  packages-dom/keymap/stories/story-default.tsx
  packages-dom/keymap/stories/util/throw-confetti.ts
Due: none

feat(keymap): almost done
  packages-demo/demo-rc/src/const/css-common.ts
  packages-dom/keymap/src/const/index.ts
  packages-dom/keymap/src/index.ts
  packages-dom/keymap/src/types/index.ts
  packages-dom/keymap/src/util/create-key-binding-handler.ts
  packages-dom/keymap/src/util/create-key-bindings-handler.ts
  packages-dom/keymap/src/util/index.ts
  packages-dom/keymap/src/util/match-key-binding-press.ts
  packages-dom/keymap/src/util/match-key-binding-press2.ts
  packages-dom/keymap/src/util/match-keybinding-key.ts
  packages-dom/keymap/src/util/match-keybinding.ts
  packages-dom/keymap/src/util/normalize-key.ts
  packages-dom/keymap/src/util/normalize-modifier.ts
  packages-dom/keymap/src/util/parse-key-binding.ts
  packages-dom/keymap/src/util/parse-key-binding2.ts
  packages-dom/keymap/stories/rc/hello/index.tsx
  packages-dom/keymap/stories/rc/keymap-demo/index.tsx
  packages-dom/keymap/stories/rc/konami/index.tsx
  packages-dom/keymap/stories/story-default.tsx
Due: none

feat(keymap): almost done
  packages-dom/keymap/src/util/create-key-binding-handler.ts
  packages-dom/keymap/stories/rc/keymap-demo/index.tsx
  packages-dom/keymap/stories/story-default.tsx
Due: none

feat: a new mac keyboard
  packages-dom/keymap/stories/rc/mac-keyboard/const/index.ts
  packages-dom/keymap/stories/rc/mac-keyboard/index.tsx
  packages-dom/keymap/stories/rc/mac-keyboard/util/get-keyboard-event-codes.ts
  packages-dom/keymap/stories/rc/mac-keyboard/util/index.ts
Due: none

feat: keyboard mac
  packages-dom/keymap/stories/rc/mac-keyboard/types/index.ts
  packages-dom/keymap/stories/rc/mac-keyboard/util/index.ts
  packages-dom/keymap/stories/story-default.tsx
  packages-rc/rc-keyboard-mac/.babelrc.js
  packages-rc/rc-keyboard-mac/.npmignore
  packages-rc/rc-keyboard-mac/.storybook/main.ts
  packages-rc/rc-keyboard-mac/.storybook/preview.ts
  packages-rc/rc-keyboard-mac/README.md
  packages-rc/rc-keyboard-mac/package.json
  packages-rc/rc-keyboard-mac/src/const/index.ts
  packages-rc/rc-keyboard-mac/src/index.ts
  packages-rc/rc-keyboard-mac/src/rc/index.tsx
  packages-rc/rc-keyboard-mac/src/types/index.ts
  packages-rc/rc-keyboard-mac/src/util/get-keyboard-event-info.ts
  packages-rc/rc-keyboard-mac/src/util/index.ts
  packages-rc/rc-keyboard-mac/stories/index.stories.ts
  packages-rc/rc-keyboard-mac/stories/types/index.ts
  packages-rc/rc-keyboard-mac/tsconfig.json
  packages-rc/rc-keyboard-mac/tsconfig.node.json
Due: npmPkgJsonLint, markdownlint-cli2

test: splid stories
  packages-dom/keymap/stories/index.stories.ts
  packages-dom/keymap/stories/rc/grid-container/index.ts
  packages-dom/keymap/stories/rc/index.ts
  packages-dom/keymap/stories/story-combo.tsx
  packages-dom/keymap/stories/story-keys.tsx
Due: none

test: better demo
  package.json
  packages-dom/keymap/package.json
  packages-dom/keymap/stories/rc/index.ts
  packages-dom/keymap/stories/rc/keystroke-modifiers/index.tsx
  packages-dom/keymap/stories/rc/keystroke/index.tsx
  packages-dom/keymap/stories/story-combo.tsx
  packages-dom/keymap/stories/story-default.tsx
  packages-dom/keymap/stories/util/get-modifier-names-and-symbols.ts
  packages-dom/keymap/stories/util/index.ts
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/sls-logger-base/package.json
  packages-fetcher/sls-logger-web/package.json
  packages-hook/use-click-away/package.json
  packages-hook/use-controllable/package.json
  packages-hook/use-is-unmounted/package.json
  packages-rc/rc-keyboard-mac/README.md
  packages-rc/rc-keyboard-mac/src/const/index.ts
  packages-rc/rc-keyboard-mac/src/enum/index.ts
  packages-rc/rc-keyboard-mac/src/index.ts
  packages-rc/rc-keyboard-mac/src/rc/index.tsx
  packages-rc/rc-keyboard-mac/src/types/index.ts
  packages-rc/rc-keyboard-mac/src/util/get-keyboard-event-info.ts
  packages-rc/rc-keyboard-mac/stories/index.stories.ts
  packages-rc/rc-keyboard-mac/stories/types/index.ts
  packages-theme/theme-helper-code-gen/package.json
  packages-util/base64/package.json
  packages-util/geometry-basic/package.json
  packages-util/json-stringify-ordered/package.json
  packages-util/storage-factory/package.json
Due: npmPkgJsonLint, markdownlint-cli2

test: better demo
  packages-dom/keymap/stories/rc/grid-container/index.ts
  packages-dom/keymap/stories/rc/keystroke-modifiers/index.tsx
  packages-dom/keymap/stories/story-default.tsx
Due: none

test: better demo
  packages-dom/keymap/stories/story-default.tsx
Due: none

test: better demo
  packages-dom/keymap/stories/story-keys.tsx
Due: none

feat(): return false to stop propagation and prevent default
  packages-dom/keymap/src/index.ts
  packages-dom/keymap/src/types/index.ts
  packages-dom/keymap/src/util/create-keybinding-handler.ts
  packages-dom/keymap/stories/index.stories.ts
  packages-dom/keymap/stories/rc/keystroke/index.tsx
  packages-dom/keymap/stories/story-default.tsx
  packages-dom/keymap/stories/story-return-false.tsx
  packages-rc/rc-keyboard-mac/src/rc/index.tsx
Due: none

feat(keyboard): key press now reflect shift
  packages-dom/keymap/src/const/index.ts
  packages-dom/keymap/src/enum/index.ts
  packages-dom/keymap/src/index.ts
  packages-dom/keymap/src/types/index.ts
  packages-dom/keymap/src/util/create-keybinding-handler.ts
  packages-dom/keymap/src/util/get-keyboard-event-modifiers.ts
  packages-dom/keymap/src/util/get-modifier-state.ts
  packages-dom/keymap/src/util/match-keybinding-modifiers.ts
  packages-dom/keymap/src/util/normalize-modifier.ts
  packages-dom/keymap/src/util/normalize-modifiers.ts
  packages-rc/rc-keyboard-mac/README.md
  packages-rc/rc-keyboard-mac/src/const/index.ts
  packages-rc/rc-keyboard-mac/src/rc/index.tsx
  packages-rc/rc-keyboard-mac/src/rc/keyboard-key/index.tsx
  packages-rc/rc-keyboard-mac/src/types/index.ts
  packages-rc/rc-keyboard-mac/src/util/get-keyboard-key-display-name.ts
  packages-rc/rc-keyboard-mac/src/util/index.ts
  packages-rc/rc-keyboard-mac/stories/index.stories.ts
  packages-rc/rc-keyboard-mac/stories/story-event.tsx
Due: markdownlint-cli2

feat: keymap is good to go now
  package.json
  packages-dom/keymap/README.md
  packages-dom/keymap/package.json
  packages-dom/keymap/src/const/index.ts
  packages-dom/keymap/src/index.ts
  packages-dom/keymap/src/types/index.ts
  packages-dom/keymap/src/util/create-keybinding-handler.ts
  packages-dom/keymap/src/util/get-keyboard-event-key.ts
  packages-dom/keymap/src/util/get-modifier-state.ts
  packages-dom/keymap/src/util/is-keyboard-event-code-alphabet.ts
  packages-dom/keymap/src/util/match-keybinding-key.ts
  packages-dom/keymap/src/util/match-keybinding-modifiers.ts
  packages-dom/keymap/src/util/match-keybinding.ts
  packages-dom/keymap/src/util/normalize-key.ts
  packages-dom/keymap/src/util/normalize-modifier.ts
  packages-dom/keymap/src/util/parse-keybindings.ts
  packages-dom/keymap/stories/index.stories.ts
  packages-dom/keymap/stories/rc/index.ts
  packages-dom/keymap/stories/rc/keyboard-with-modifiers/index.tsx
  packages-dom/keymap/stories/rc/keystroke-modifiers/index.tsx
  packages-dom/keymap/stories/rc/keystroke/index.tsx
  packages-dom/keymap/stories/story-$mod.tsx
  packages-dom/keymap/stories/story-case-sensitive.tsx
  packages-dom/keymap/stories/story-combo.tsx
  packages-dom/keymap/stories/story-default.tsx
  packages-dom/keymap/stories/story-keys-extra.tsx
  packages-dom/keymap/stories/story-keys-input.tsx
  packages-dom/keymap/stories/story-return-false.tsx
  packages-dom/keymap/stories/story-target.tsx
  packages-dom/keymap/stories/util/throw-confetti.ts
  packages-rc/rc-keyboard-mac/README.md
  packages-rc/rc-keyboard-mac/package.json
  packages-rc/rc-keyboard-mac/src/const/index.ts
  packages-rc/rc-keyboard-mac/src/rc/index.tsx
  packages-rc/rc-keyboard-mac/src/rc/keyboard-event-details/index.tsx
  packages-rc/rc-keyboard-mac/src/rc/keyboard-key-name/index.tsx
  packages-rc/rc-keyboard-mac/src/rc/keyboard-key/index.tsx
  packages-rc/rc-keyboard-mac/src/types/index.ts
Due: npmPkgJsonLint, markdownlint-cli2

chore: before pub
  packages-rc/rc-keyboard-mac/package.json
Due: npmPkgJsonLint

fix: whatever
  packages-dom/keymap/package.json
  packages-dom/keymap/stories/rc/keyboard-with-modifiers/index.tsx
  packages-rc/rc-keyboard-mac/package.json
  packages-rc/rc-keyboard-mac/src/model/hook/use-handle-key-click.ts
  packages-rc/rc-keyboard-mac/src/model/types/props.ts
  packages-rc/rc-keyboard-mac/stories/story-event.tsx
Due: npmPkgJsonLint

feat: keymap callback result
  packages-dom/keymap/README.md
  packages-dom/keymap/package.json
  packages-dom/keymap/src/types/index.ts
  packages-dom/keymap/src/util/create-keybinding-handler.ts
Due: npmPkgJsonLint, markdownlint-cli2

chore: dep clean
  packages-demo/demo-rc/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-login/tsconfig.json
  packages-fetcher/fetcher-interceptor-login/tsconfig.node.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-hook/use-controllable/package.json
  packages-rc-headless/rc-headless-dialog/src/util/backdrop.tsx
  packages-theme/theme-base/.babelrc.js
  packages-theme/theme-base/package.json
Due: npmPkgJsonLint

test: 98 test
  packages-dom/keymap/package.json
  packages-dom/keymap/src/util/parse-keybindings.ts
  packages-dom/keymap/test/callback-return.test.ts
  packages-dom/keymap/test/case-sensitive.test.ts
  packages-dom/keymap/test/combo.test.ts
  packages-dom/keymap/test/index.test.ts
  packages-dom/keymap/test/match-keys.test.ts
  packages-dom/keymap/test/match-modifiers.test.ts
  packages-dom/keymap/test/modifier-alt.test.ts
  packages-dom/keymap/test/modifier-shift.test.ts
  packages-dom/keymap/test/space-and-plus.test.ts
  packages-hook/use-is-unmounted/package.json
Due: npmPkgJsonLint
