Repository justnewbee/kcuF: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

.lintstagedrc:

{
  "package.json": "npmPkgJsonLint",
  "*.md": "markdownlint-cli2",
  "*.{js,ts,tsx}": ["stylelint --fix", "eslint"]
}

feat: canvas marking support image as point now
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react-headless/src/hook/use-dispatch-set-dom-container.ts
  packages-canvas/canvas-marking-react-headless/src/hook/use-dispatch-set-marking-instance.ts
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking-item.ts
  packages-canvas/canvas-marking/src/const/index.ts
  packages-canvas/canvas-marking/src/types/canvas-marking-item-class.ts
  packages-canvas/canvas-marking/src/types/style.ts
  packages-canvas/canvas-marking/src/util/canvas-draw-point-shape.ts
  packages-canvas/canvas-marking/src/util/canvas-path-point-shape.ts
  packages-canvas/canvas-marking/src/util/index.ts
  packages-canvas/canvas-marking/src/util/init-draw-style-point.ts
  packages-canvas/canvas-marking/src/util/my-debug.ts
  packages-canvas/canvas-marking/stories/story-default/model/const/index.ts
  packages-canvas/canvas-marking/stories/story-default/model/const/marking-items-aerial.ts
  packages-canvas/canvas-marking/stories/story-default/model/hook/index.ts
  packages-canvas/canvas-marking/stories/story-default/model/hook/use-handle-create-svg-point.ts
  packages-canvas/canvas-marking/stories/story-default/model/hook/use-handle-set-data-aerial.ts
  packages-canvas/canvas-marking/stories/story-default/model/hook/use-handle-toggle-option-debug-events.ts
  packages-canvas/canvas-marking/stories/story-default/model/hook/use-init.ts
  packages-canvas/canvas-marking/stories/story-default/model/util/create-initial-state.ts
  packages-canvas/canvas-marking/stories/story-default/ui/ops/index.tsx
  packages-canvas/canvas-marking/stories/story-default/ui/ops/ops-create.tsx
  packages-canvas/canvas-marking/stories/story-default/ui/ops/ops-debug.tsx
  packages-canvas/canvas-marking/stories/story-default/ui/ops/ops-delete.tsx
  packages-canvas/canvas-marking/stories/story-default/ui/ops/ops-editable.tsx
  packages-canvas/canvas-marking/stories/story-default/ui/ops/ops-options.tsx
  packages-canvas/canvas-particles/src/util/canvas-draw-shape-image.ts
  packages-canvas/geometry-basic/package.json
  packages-config/eslint-config/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: eslint-import-resolver-typescript is OK now
  .ncurc.yml
  packages-config/eslint-config/package.json
Due: npmPkgJsonLint

chore: eslint config
  packages-config/eslint-config/package.json
Due: npmPkgJsonLint

chore: whatever
  packages-demo/demo-rc/package.json
Due: npmPkgJsonLint

feat: canvas-marking item with id always
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking-item.ts
  packages-canvas/canvas-marking/src/types/options-common.ts
  packages-canvas/canvas-marking/src/util/generate-uuid.ts
  packages-canvas/canvas-marking/src/util/index.ts
  packages-canvas/canvas-marking/stories/story-default/model/const/marking-items-girl.ts
  packages-config/eslint-config/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: up version ✨
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-config/eslint-config/package.json
  packages-config/stylelint-config/package.json
  packages-demo/demo-css/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/use-mouse-hover/package.json
  packages-theme/theme-color/package.json
  packages-theme/theme-token-base/package.json
  packages-theme/theme-types/package.json
  packages-ui/rc-backdrop/package.json
  packages-ui/rc-button/package.json
  packages-ui/rc-dialog/package.json
  packages-ui/rc-form/package.json
  packages-ui/rc-icon/package.json
  packages-ui/rc-input-switch/package.json
  packages-ui/rc-input-text/package.json
  packages-ui/rc-keyboard-mac/package.json
  packages-ui/rc-transition/package.json
Due: npmPkgJsonLint

feat: highlight now works right with globalAlpha/
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/.storybook/main.ts
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking-item.ts
  packages-canvas/canvas-marking/src/util/fade-color.ts
  packages-canvas/canvas-marking/src/util/fade-style-border.ts
  packages-canvas/canvas-marking/src/util/fade-style-fill.ts
  packages-canvas/canvas-marking/src/util/fade-style-point.ts
  packages-canvas/canvas-marking/src/util/index.ts
  packages-canvas/canvas-marking/src/util/merge-border-style-with-diff.ts
  packages-canvas/canvas-marking/stories/story-default/model/const/marking-items-aerial.ts
  packages-canvas/canvas-marking/stories/story-default/ui/ops/ops-highlight.tsx
  packages-canvas/canvas-marking/stories/story-default/ui/ops/ops-select.tsx
  tsconfig.json
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: border style fixed
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking-item.ts
  packages-canvas/canvas-marking/src/util/merge-border-style-with-diff.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: up icon-base
  packages-ui/rc-icon-base/package.json
Due: npmPkgJsonLint

feat: canvas-marking finder easier
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/types/common.ts
  packages-util/md5/src/index.ts
  packages-util/md5/src/md5.ts
  packages-util/md5/src/types/index.ts
  packages-util/md5/src/util/bytes-to-string-binary.ts
  packages-util/md5/src/util/crypt-bytes-to-hex.ts
  packages-util/md5/src/util/crypt-bytes-to-words.ts
  packages-util/md5/src/util/crypt-words-to-bytes.ts
  packages-util/md5/src/util/index.ts
  packages-util/md5/src/util/md5.ts
  packages-util/md5/src/util/string-to-byte-array-binary.ts
  packages-util/md5/src/util/string-to-byte-array.ts
  packages-util/md5/test/md5.test.ts
  web/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: can now create with initial path
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking-item.ts
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/types/canvas-marking-class.ts
  packages-canvas/canvas-marking/src/types/index.ts
  packages-canvas/canvas-marking/src/types/style-border.ts
  packages-canvas/canvas-marking/src/types/style-fill.ts
  packages-canvas/canvas-marking/src/types/style-point.ts
  packages-canvas/canvas-marking/src/types/style.ts
  packages-canvas/canvas-marking/src/util/canvas-draw-path-border.ts
  packages-canvas/canvas-marking/src/util/canvas-draw-point-shape.ts
  packages-canvas/canvas-marking/src/util/canvas-path-point-shape.ts
  packages-canvas/canvas-marking/stories/story-default/model/hook/use-handle-create-with-initial.ts
  packages-canvas/canvas-marking/stories/story-default/ui/ops/ops-create.tsx
  packages-canvas/canvas-marking/stories/story-default/ui/ops/ops-highlight.tsx
  packages-canvas/canvas-marking/stories/story-default/ui/ops/ops-select.tsx
Due: npmPkgJsonLint, stylelint --fix, eslint

refactor: point type to shape
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking-react/stories/demo-model/const/marking-items-no-image.ts
  packages-canvas/canvas-marking-react/stories/demo-model/const/marking-items-random.ts
  packages-canvas/canvas-marking-react/stories/demo-ui/const/index.ts
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking-item.ts
  packages-canvas/canvas-marking/src/types/style-point.ts
  packages-canvas/canvas-marking/src/util/canvas-draw-point-shape.ts
  packages-canvas/canvas-marking/src/util/canvas-path-point-shape.ts
  packages-canvas/canvas-marking/src/util/init-draw-style-point.ts
  packages-canvas/canvas-marking/stories/story-default/model/const/marking-config.ts
  packages-canvas/canvas-marking/stories/story-default/model/const/marking-items-aerial.ts
  packages-canvas/canvas-marking/stories/story-default/model/const/marking-items-bad-image.ts
  packages-canvas/canvas-marking/stories/story-default/model/const/marking-items-girl.ts
  packages-canvas/canvas-marking/stories/story-default/model/const/marking-items-no-image.ts
  packages-canvas/canvas-marking/stories/story-default/model/hook/use-handle-create-svg-point.ts
  packages-canvas/canvas-marking/stories/story-default/model/hook/use-handle-create-with-initial.ts
  packages-util/md5/test/md5.test.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: up version ✨
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-css/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/use-mouse-hover/package.json
  packages-theme/theme-color/package.json
  packages-theme/theme-token-base/package.json
  packages-theme/theme-types/package.json
  packages-ui/rc-backdrop/package.json
  packages-ui/rc-button/package.json
  packages-ui/rc-dialog/package.json
  packages-ui/rc-form/package.json
  packages-ui/rc-icon/package.json
  packages-ui/rc-input-switch/package.json
  packages-ui/rc-input-text/package.json
  packages-ui/rc-keyboard-mac/package.json
  packages-ui/rc-transition/package.json
  packages-util/md5/src/util/crypt-bytes-to-words.ts
  packages-util/md5/test/md5.test.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: export Point in canvas-marking
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: export Segment type
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: export uuid as a helper
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking-item.ts
  packages-canvas/canvas-marking/src/index.ts
  packages-canvas/canvas-marking/src/util/index.ts
  packages-canvas/canvas-marking/src/util/uuid.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: up version ✨
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-config/eslint-config/package.json
  packages-demo/demo-css/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/use-mouse-hover/package.json
  packages-theme/theme-color/package.json
  packages-theme/theme-token-base/package.json
  packages-theme/theme-types/package.json
  packages-ui/rc-backdrop/package.json
  packages-ui/rc-button/package.json
  packages-ui/rc-dialog/package.json
  packages-ui/rc-form/package.json
  packages-ui/rc-icon/package.json
  packages-ui/rc-input-switch/package.json
  packages-ui/rc-input-text/package.json
  packages-ui/rc-keyboard-mac/package.json
  packages-ui/rc-transition/package.json
Due: npmPkgJsonLint

fix: tooltip fix
  packages-canvas/canvas-marking/src/plugin/plugin-tooltip/util/get-tooltip-message-basic.ts
  packages-canvas/canvas-marking/src/plugin/plugin-tooltip/util/get-tooltip-message-extra.ts
  packages-canvas/canvas-marking/src/plugin/plugin-tooltip/util/get-tooltip-message.ts
Due: stylelint --fix, eslint

fix: tooltip fix
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
Due: npmPkgJsonLint

fix: tooltip fix
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/plugin/plugin-tooltip/util/get-tooltip-message-basic.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: export types
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/index.ts
  packages-canvas/canvas-marking/src/types/common.ts
  packages-canvas/canvas-marking/src/types/options-common.ts
  packages-canvas/canvas-marking/src/types/stats.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: sort items taking noHover
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/util/index.ts
  packages-canvas/canvas-marking/src/util/sort-marking-items.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: cursor should not be pointer when no click
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/plugin/plugin-cursor/index.ts
  packages-util/md5/src/index.ts
  packages-util/md5/src/util/crypt-bytes-to-words.ts
  packages-util/md5/src/util/crypt-endian.ts
  packages-util/md5/src/util/crypt-words-to-bytes.ts
  packages-util/md5/src/util/index.ts
  packages-util/md5/src/util/is-buffer.ts
  packages-util/md5/src/util/md5-buffer.ts
  packages-util/md5/src/util/md5-string.ts
  packages-util/md5/src/util/md5-unit8-array.ts
  packages-util/md5/src/util/md5.ts
  packages-util/md5/test/md5.test.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: draw point aspect
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking-item.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: md5
  packages-util/md5/README.md
  packages-util/md5/package.json
  packages-util/md5/src/index.ts
  packages-util/md5/src/md5-blob.ts
  packages-util/md5/src/md5-buffer.ts
  packages-util/md5/src/md5-json.ts
  packages-util/md5/src/md5-string.ts
  packages-util/md5/src/md5-unit8-array.ts
  packages-util/md5/src/md5.ts
  packages-util/md5/src/util/index.ts
  packages-util/md5/src/util/md5-buffer.ts
  packages-util/md5/test/md5.test.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

fix: fetcher hash with md5 now
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-cache-local/src/types/options.ts
  packages-fetcher/fetcher-interceptor-cache-local/src/util/parse-cache-local-options.ts
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-merging/src/types/fetcher-config.ts
  packages-fetcher/fetcher-interceptor-merging/src/util/parse-merging-options.ts
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/fetcher/src/interceptor/intercept-request-first.ts
  packages-fetcher/fetcher/src/types/config.ts
  packages-fetcher/fetcher/src/util/generate-config-hash.ts
  packages-fetcher/fetcher/src/util/gnerate-config-id.ts
  packages-fetcher/fetcher/src/util/index.ts
  packages-fetcher/fetcher/test/const/index.ts
  packages-fetcher/fetcher/test/content-type.test.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: up version ✨
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-css/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/use-mouse-hover/package.json
  packages-theme/theme-color/package.json
  packages-theme/theme-token-base/package.json
  packages-theme/theme-types/package.json
  packages-ui/rc-backdrop/package.json
  packages-ui/rc-button/package.json
  packages-ui/rc-dialog/package.json
  packages-ui/rc-form/package.json
  packages-ui/rc-icon/package.json
  packages-ui/rc-input-switch/package.json
  packages-ui/rc-input-text/package.json
  packages-ui/rc-keyboard-mac/package.json
  packages-ui/rc-transition/package.json
Due: npmPkgJsonLint

fix: canvas marking image point ratio fix
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking-item.ts
  packages-canvas/canvas-marking/stories/story-default/model/const/index.ts
  packages-canvas/canvas-marking/stories/story-default/model/const/marking-items-aerial.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: cavas marking tooltip style width and wrap
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/plugin/plugin-tooltip/util/create-tooltip-style.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: geometry slice segment equally
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/geometry-basic/package.json
  packages-canvas/geometry-basic/src/helper/slicing/index.ts
  packages-canvas/geometry-basic/src/helper/slicing/slice-segment-equally.ts
  packages-canvas/geometry-basic/test/slice-segment-equally.test.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: add eye catching pulse effect to icon base
  packages-ui/rc-icon-base/package.json
  packages-ui/rc-icon-base/src/icon-base/index.tsx
  packages-ui/rc-icon-base/src/types/index.ts
  packages-ui/rc-icon/stories/story-all.tsx
  web/docs/component/meida/2-icon-base.mdx
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: icon update
  packages-ui/rc-icon/package.json
Due: npmPkgJsonLint

fix: icon animation on icon will break
  packages-ui/rc-icon-base/package.json
  packages-ui/rc-icon-base/src/icon-base/index.tsx
  packages-ui/rc-icon/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint
