Repository justnewbee/kcuF: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: canvas marking tooltip when no edit
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/plugin/plugin-tooltip/util/get-tooltip-message-basic.ts
  packages-canvas/canvas-marking/src/types/stats.ts
  packages-canvas/canvas-marking/stories/story-default/model/const/marking-items-girl.ts
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-canvas/geometry-basic/src/helper/relation/is-point-within-path.ts
  packages-config/eslint-config/package.json
  packages-demo/demo-css/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/sls-logger-base/package.json
  packages-fetcher/sls-logger-web/package.json
  packages-hook/use-mouse-hover/package.json
  packages-theme/theme-color/package.json
  packages-theme/theme-token-base/package.json
  packages-theme/theme-types/package.json
  packages-ui/rc-backdrop/package.json
  packages-ui/rc-button/package.json
  packages-ui/rc-dialog/package.json
  packages-ui/rc-form/package.json
  packages-ui/rc-icon/package.json
  packages-ui/rc-input-switch/package.json
  packages-ui/rc-input-text/package.json
  packages-ui/rc-keyboard-mac/package.json
  packages-ui/rc-transition/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: up version ✨
  package.json
  packages-canvas/geometry-basic/package.json
  packages-config/eslint-config/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/sls-logger-base/package.json
  packages-fetcher/sls-logger-web/package.json
  packages-hook/use-click-away/package.json
  packages-hook/use-controllable/package.json
  packages-hook/use-fullscreen/package.json
  packages-hook/use-is-unmounted/package.json
  packages-theme/theme-helper-code-gen/package.json
  packages-ui/rc-transition/package.json
  packages-util/base64/package.json
  packages-util/json-stringify-ordered/package.json
  packages-util/md5/package.json
  packages-util/storage-factory/package.json
  packages-x/react-router-link-hijacker/package.json
  web/package.json
Due: npmPkgJsonLint

chore: whatever
  .npmrc
Due: none

feat: rename props of canvas marking
  packages-canvas/canvas-marking/src/class/canvas-marking-item.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/get-stats-display-html.ts
  packages-canvas/canvas-marking/src/types/style.ts
  packages-canvas/canvas-marking/src/util/resolve-marking-style-config.ts
  packages-config/eslint-config/package.json
  packages-ui/rc-backdrop-headless/src/hook/_use-model-dispatch.ts
  packages-ui/rc-backdrop-headless/src/hook/use-dispatch-refresh-visible.ts
  packages-ui/rc-backdrop-headless/src/hook/use-effect-message-refresh.ts
  packages-ui/rc-backdrop-headless/src/hook/use-effect-singleton.ts
  packages-ui/rc-backdrop-headless/src/hook/use-effect-unmounted.ts
  packages-ui/rc-backdrop-headless/src/hook/use-effect-watch-z-index.ts
  packages-ui/rc-backdrop-headless/src/hook/use-effects.ts
  packages-ui/rc-backdrop-headless/src/reducer/index.ts
  packages-ui/rc-backdrop-headless/src/reducer/reduce-refresh-visible.ts
  packages-ui/rc-backdrop-headless/src/types/action.ts
  packages-ui/rc-backdrop-headless/src/types/context.ts
  packages-ui/rc-backdrop-headless/src/types/state.ts
  packages-ui/rc-backdrop-headless/src/util/create-initial-state.ts
  packages-ui/rc-backdrop-headless/src/util/index.ts
  packages-ui/rc-backdrop-headless/src/util/singleton-push.ts
  packages-ui/rc-backdrop/src/ui/index.tsx
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: bump version
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
Due: npmPkgJsonLint

chore: bump version
  package.json
  packages-config/eslint-config/package.json
  packages-hook/use-debounced/package.json
Due: npmPkgJsonLint

fix: canvas marking stats change will throttle 1s whatsoever
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/types/events.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: stop zooming when moving
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking-item.ts
  packages-canvas/canvas-marking/src/plugin/plugin-zoom/index.ts
  packages-canvas/canvas-marking/stories/story-default/model/const/marking-items-aerial.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: whatever
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/geometry-basic/package.json
  packages-canvas/geometry-basic/src/helper/slicing/index.ts
  packages-canvas/geometry-basic/test/slice-segment-by-radius.test.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: up deps ✨
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-canvas/geometry-basic/README.md
  packages-config/eslint-config/package.json
  packages-config/stylelint-config/package.json
  packages-demo/demo-css/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/use-debounced/package.json
  packages-hook/use-mouse-hover/package.json
  packages-theme/theme-color/package.json
  packages-theme/theme-token-base/package.json
  packages-theme/theme-types/package.json
  packages-ui/rc-backdrop/package.json
  packages-ui/rc-button/package.json
  packages-ui/rc-dialog/package.json
  packages-ui/rc-form/package.json
  packages-ui/rc-icon/package.json
  packages-ui/rc-input-switch/package.json
  packages-ui/rc-input-text/package.json
  packages-ui/rc-keyboard-mac/package.json
  packages-ui/rc-transition/package.json
  web/docs/component/1-intro.md
  web/package.json
  web/src/pages/index.tsx
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: onCreateComplete will take reason? for the 3rd arg
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/enum/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-cursor/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/get-stats-display-html.ts
  packages-canvas/canvas-marking/src/types/events.ts
  packages-canvas/canvas-marking/src/types/stats.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: enter when close or last was mistaken
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: select can now do highlight
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/types/canvas-marking-class.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: create complete shall not trigger click right away
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-config/eslint-config/package.json
  packages-dom/mere-color/package.json
  packages-x/react-router-link-hijacker/package.json
  web/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: set data shall not clear creating
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: up deps ✨
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-config/eslint-config/package.json
  packages-demo/demo-css/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/use-debounced/package.json
  packages-hook/use-mouse-hover/package.json
  packages-theme/theme-color/package.json
  packages-theme/theme-token-base/package.json
  packages-theme/theme-types/package.json
  packages-ui/rc-backdrop/package.json
  packages-ui/rc-button/package.json
  packages-ui/rc-dialog/package.json
  packages-ui/rc-form/package.json
  packages-ui/rc-icon/package.json
  packages-ui/rc-input-switch/package.json
  packages-ui/rc-input-text/package.json
  packages-ui/rc-keyboard-mac/package.json
  packages-ui/rc-transition/package.json
Due: npmPkgJsonLint

feat: wierd bug
  .depcheckrc.yaml
  .markdownlint.yml
  .ncurc.yaml
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/util/init-draw-style-point.ts
  template/template-rc-swc/package.json
  web/docusaurus.config.ts
  web/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: init style of marking with safe merge protection
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/util/init-draw-style-border.ts
  packages-canvas/canvas-marking/src/util/init-draw-style-fill.ts
  packages-canvas/canvas-marking/src/util/init-draw-style-point.ts
  packages-canvas/canvas-marking/src/util/safe-merge.ts
  packages-canvas/geometry-basic/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/sls-logger-base/package.json
  packages-fetcher/sls-logger-web/package.json
  packages-hook/use-click-away/package.json
  packages-hook/use-controllable/package.json
  packages-hook/use-debounced/package.json
  packages-hook/use-fullscreen/package.json
  packages-hook/use-is-unmounted/package.json
  packages-theme/theme-helper-code-gen/package.json
  packages-ui/rc-transition/package.json
  packages-util/base64/package.json
  packages-util/json-stringify-ordered/package.json
  packages-util/md5/package.json
  packages-util/storage-factory/package.json
  template/template-lib/package.json
  template/template-rc-headless/package.json
  template/template-rc-swc/package.json
  template/template-rc/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: cmd 0 will not prevent default
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/plugin/plugin-zoom/index.ts
  packages-config/eslint-config/package.json
  web/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: up deps ✨
  package.json
Due: npmPkgJsonLint

fix: minor changes
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
Due: stylelint --fix, eslint

refactor: use one mouse coords only, others will be calculated
  packages-canvas/canvas-marking/src/class/canvas-marking-item.ts
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/get-stats-display-html.ts
  packages-canvas/canvas-marking/src/plugin/plugin-zoom/index.ts
  packages-canvas/canvas-marking/src/types/canvas-marking-class.ts
  packages-canvas/canvas-marking/src/types/stats.ts
  packages-config/eslint-config/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

refactor: use calculated is mouse in stage or canvas
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/enum/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-fps/util/create-fps-style.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/create-stats-style.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/get-stats-display-html.ts
  packages-canvas/canvas-marking/src/plugin/plugin-tooltip/index.ts
  packages-canvas/canvas-marking/src/types/common.ts
  packages-canvas/canvas-marking/src/types/stats.ts
  packages-canvas/canvas-marking/src/util/create-dom-canvas.ts
Due: stylelint --fix, eslint

chore: logic refined
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
Due: stylelint --fix, eslint

feat: drag can now exceed the stage
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/get-stats-display-html.ts
  packages-canvas/canvas-marking/src/types/stats.ts
Due: stylelint --fix, eslint

feat: canvas marking dragging outside will mv the canvas now
  package.json
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/enum/index.ts
  packages-canvas/canvas-marking/src/util/get-relative-position-of-area.ts
  packages-canvas/canvas-marking/src/util/get-relative-position-of-point.ts
  packages-canvas/canvas-marking/src/util/index.ts
  web/blog/2021-08-26-welcome/index.md
  web/docusaurus.config.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

chore: before pub
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
Due: npmPkgJsonLint

feat: data select in demo rc
  packages-demo/demo-rc/src/const/css-form-control.ts
  packages-demo/demo-rc/src/const/sizing.ts
  packages-demo/demo-rc/src/rc/index.ts
  packages-demo/demo-rc/src/rc/input-text/rc/index.tsx
  packages-demo/demo-rc/src/rc/select-with-fetch/index.ts
  packages-demo/demo-rc/src/rc/select-with-fetch/rc/index.tsx
  packages-demo/demo-rc/src/rc/select-with-fetch/types/index.ts
  packages-demo/demo-rc/src/rc/select/index.ts
  packages-demo/demo-rc/src/rc/select/rc/index.tsx
  packages-demo/demo-rc/src/rc/select/types/index.ts
  packages-demo/demo-rc/stories/select/index.stories.ts
Due: stylelint --fix, eslint

chore: demo rc with select
  packages-demo/demo-rc/package.json
Due: npmPkgJsonLint

fix: select types
  packages-demo/demo-rc/package.json
  packages-demo/demo-rc/src/rc/select/rc/index.tsx
  packages-demo/demo-rc/src/rc/select/types/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: select types
  packages-config/stylelint-config/config-order.js
  packages-config/stylelint-config/package.json
  packages-demo/demo-rc/package.json
  packages-demo/demo-rc/src/rc/select/rc/index.tsx
  packages-demo/demo-rc/stories/select/index.stories.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

Path conditions:
  npmPkgJsonLint: any of: package.json
  markdownlint-cli2: any of: *.md
  stylelint --fix: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
