Repository justnewbee/kcuF: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

fix: eslint
  packages-canvas/geometry-basic/src/helper/base/path-angle-list.ts
  packages-canvas/geometry-basic/src/helper/base/path-point-siblings-by-index.ts
  packages-canvas/geometry-basic/src/helper/justify/justify-magnet-along-path.ts
  packages-canvas/geometry-basic/src/helper/justify/justify-perpendicular-123.ts
  packages-canvas/geometry-basic/src/util/pairwise.ts
  packages-canvas/geometry-basic/test/is-equal-points.test.ts
  web/.depcheckrc.yaml
Due: stylelint --fix, eslint

feat: added isPointInSegment & isOverlappingSegments
  packages-canvas/geometry-basic/src/helper/base/index.ts
  packages-canvas/geometry-basic/src/helper/base/segment-line-normalized.ts
  packages-canvas/geometry-basic/src/helper/base/segment-line.ts
  packages-canvas/geometry-basic/src/helper/comparison/is-equal-segments-slope.ts
  packages-canvas/geometry-basic/src/helper/relation/index.ts
  packages-canvas/geometry-basic/src/helper/relation/intersection-line-with-circle.ts
  packages-canvas/geometry-basic/src/helper/relation/intersection-line-with-line.ts
  packages-canvas/geometry-basic/src/helper/relation/intersection-segment-with-segment.ts
  packages-canvas/geometry-basic/src/helper/relation/is-overlapping-segments.ts
  packages-canvas/geometry-basic/src/helper/relation/is-point-in-segment.ts
  packages-canvas/geometry-basic/src/helper/relation/is-point-on-segment.ts
  packages-canvas/geometry-basic/src/helper/relation/is-segment-collinear-with-line.ts
  packages-canvas/geometry-basic/src/util/normalize-line.ts
  packages-canvas/geometry-basic/src/util/normalize-vector.ts
  packages-canvas/geometry-basic/test/const/path-4-square.ts
  packages-canvas/geometry-basic/test/intersection-line-with-path.test.ts
  packages-canvas/geometry-basic/test/intersection-segment-with-path.test.ts
  packages-canvas/geometry-basic/test/is-overlapping-segments.test.ts
  packages-canvas/geometry-basic/test/is-point-in-segment.test.ts
  packages-canvas/geometry-basic/test/segment-inner-slice-by-path.test.ts
  packages-canvas/geometry-basic/test/segment-line.test.ts
  packages-canvas/geometry-basic/test/slice-path-with-line.test.ts
  packages-canvas/geometry-basic/test/slice-path-with-lines.test.ts
  packages-canvas/geometry-basic/test/types/index.ts
Due: stylelint --fix, eslint

chore: before pub
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/geometry-basic/package.json
Due: npmPkgJsonLint

fix: isOverlappingSegments
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/geometry-basic/package.json
  packages-canvas/geometry-basic/src/helper/relation/is-overlapping-segments.ts
  packages-canvas/geometry-basic/test/is-overlapping-segments.test.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: up deps ✨
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-canvas/qr/package.json
  packages-demo/demo-css/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-dom/mere-dom/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/use-debounced/package.json
  packages-hook/use-mouse-hover/package.json
  packages-theme/theme-color/package.json
  packages-theme/theme-token-base/package.json
  packages-theme/theme-types/package.json
  packages-ui/rc-backdrop/package.json
  packages-ui/rc-button/package.json
  packages-ui/rc-dialog/package.json
  packages-ui/rc-form/package.json
  packages-ui/rc-icon/package.json
  packages-ui/rc-input-switch/package.json
  packages-ui/rc-input-text/package.json
  packages-ui/rc-keyboard-mac/package.json
  packages-ui/rc-markdown-base/package.json
  packages-ui/rc-transition/package.json
  pnpm-lock.yaml
  web/package.json
Due: npmPkgJsonLint

chore: rm template headless
  template/template-rc-headless/.babelrc.js
  template/template-rc-headless/package.json
  template/template-rc-headless/src/context/index.ts
  template/template-rc-headless/src/enum/index.ts
  template/template-rc-headless/src/hook/_use-model-context.ts
  template/template-rc-headless/src/hook/_use-model-dispatch.ts
  template/template-rc-headless/src/hook/_use-model-props.ts
  template/template-rc-headless/src/hook/_use-model-state.ts
  template/template-rc-headless/src/hook/index.ts
  template/template-rc-headless/src/hook/use-dispatch-set-xx.ts
  template/template-rc-headless/src/hook/use-dispatch-set-yy.ts
  template/template-rc-headless/src/hook/use-effect-1.ts
  template/template-rc-headless/src/hook/use-effects.ts
  template/template-rc-headless/src/hook/use-handle-set-xx.ts
  template/template-rc-headless/src/hook/use-handle-set-yy.ts
  template/template-rc-headless/src/index.ts
  template/template-rc-headless/src/lifecycle/index.ts
  template/template-rc-headless/src/provider/index.tsx
  template/template-rc-headless/src/reducer/index.ts
  template/template-rc-headless/src/reducer/reduce-set-xx.ts
  template/template-rc-headless/src/reducer/reduce-set-yy.ts
  template/template-rc-headless/src/types/action.ts
  template/template-rc-headless/src/types/common.ts
  template/template-rc-headless/src/types/context.ts
  template/template-rc-headless/src/types/index.ts
  template/template-rc-headless/src/types/props.ts
  template/template-rc-headless/src/types/state.ts
  template/template-rc-headless/src/util/create-initial-state.ts
  template/template-rc-headless/src/util/index.ts
  template/template-rc-headless/tsconfig.json
  template/template-rc/src/rc/alert/index.tsx
  web/docs/tutor/index.md
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: a new theme-toggle package
  .lintstagedrc
  packages-ui/theme-toggle/.babelrc.js
  packages-ui/theme-toggle/.npmignore
  packages-ui/theme-toggle/.storybook/main.ts
  packages-ui/theme-toggle/.storybook/preview.tsx
  packages-ui/theme-toggle/README.md
  packages-ui/theme-toggle/package.json
  packages-ui/theme-toggle/src/index.ts
  packages-ui/theme-toggle/src/toggle/index.ts
  packages-ui/theme-toggle/src/toggle/svg-base.tsx
  packages-ui/theme-toggle/src/toggle/theme-toggle-around.tsx
  packages-ui/theme-toggle/src/toggle/theme-toggle-classic.tsx
  packages-ui/theme-toggle/src/toggle/theme-toggle-dark-inner.tsx
  packages-ui/theme-toggle/src/toggle/theme-toggle-dark-side.tsx
  packages-ui/theme-toggle/src/toggle/theme-toggle-eclipse.tsx
  packages-ui/theme-toggle/src/toggle/theme-toggle-expand.tsx
  packages-ui/theme-toggle/src/toggle/theme-toggle-half-sun.tsx
  packages-ui/theme-toggle/src/toggle/theme-toggle-horizon.tsx
  packages-ui/theme-toggle/src/toggle/theme-toggle-inner-moon.tsx
  packages-ui/theme-toggle/src/toggle/theme-toggle-simple.tsx
  packages-ui/theme-toggle/src/toggle/theme-toggle-within.tsx
  packages-ui/theme-toggle/src/types/index.ts
  packages-ui/theme-toggle/stories/demo-item/index.tsx
  packages-ui/theme-toggle/stories/index.stories.ts
  packages-ui/theme-toggle/stories/story-default.tsx
  packages-ui/theme-toggle/tsconfig.json
  packages-ui/theme-toggle/tsconfig.node.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

fix: eslint should disallow backtick string quoting
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-canvas/qr/package.json
  packages-config/eslint-config/package.json
  packages-config/eslint-config/rules/rules-stylistic.js
  packages-demo/demo-css/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-dom/mere-dom/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/use-debounced/package.json
  packages-hook/use-mouse-hover/package.json
  packages-theme/theme-color/package.json
  packages-theme/theme-token-base/package.json
  packages-theme/theme-types/package.json
  packages-ui/backdrop/package.json
  packages-ui/button/package.json
  packages-ui/dialog/package.json
  packages-ui/error-boundary/package.json
  packages-ui/form/package.json
  packages-ui/icon/package.json
  packages-ui/input-switch/package.json
  packages-ui/input-text/package.json
  packages-ui/keyboard-mac/package.json
  packages-ui/markdown-base/package.json
  packages-ui/theme-toggle/package.json
  packages-ui/transition/package.json
  packages-x/react-router-link-hijacker/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: @typescript-eslint/prefer-nullish-coalescing config details
  packages-config/eslint-config/package.json
  packages-config/eslint-config/rules/rules-ts-type-aware.js
  pnpm-lock.yaml
  web/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: error boundary should display info when error.statck is empty
  packages-ui/error-boundary/package.json
  packages-ui/error-boundary/src/rc/error-display/index.tsx
  packages-ui/error-boundary/src/util/parse-error-stack.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: error boundary will yield dup key
  packages-ui/error-boundary/package.json
  packages-ui/error-boundary/src/rc/error-display/index.tsx
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: use-route-query
  packages-hook/use-route-query/.babelrc.js
  packages-hook/use-route-query/.npmignore
  packages-hook/use-route-query/README.md
  packages-hook/use-route-query/package.json
  packages-hook/use-route-query/src/hook/use-route-query.ts
  packages-hook/use-route-query/src/index.ts
  packages-hook/use-route-query/src/types/index.ts
  packages-hook/use-route-query/src/util/decode-params.ts
  packages-hook/use-route-query/src/util/encode-params.ts
  packages-hook/use-route-query/src/util/index.ts
  packages-hook/use-route-query/tsconfig.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: use-route-query
  packages-hook/use-route-query/package.json
  packages-hook/use-route-query/src/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: theme toggle cursor
  packages-ui/theme-toggle/package.json
  packages-ui/theme-toggle/src/toggle/index.ts
  packages-ui/theme-toggle/src/toggle/svg-base.tsx
  packages-ui/theme-toggle/stories/story-default.tsx
Due: npmPkgJsonLint, stylelint --fix, eslint

docs: helper-loading doc
  packages-helper/helper-loading/README.md
  packages-helper/helper-loading/package.json
Due: npmPkgJsonLint, markdownlint-cli2

chore: whatever
  packages-canvas/qr/package.json
  packages-x/react-router-link-hijacker/src/util/condition.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: normalize line with tolerance
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/geometry-basic/package.json
  packages-canvas/geometry-basic/src/util/normalize-line.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: kcuf-ui/icon-base
  packages-ui/icon-base/package.json
Due: npmPkgJsonLint

feat: kcuf-ui/input-switch-headless
  packages-ui/input-switch-headless/package.json
Due: npmPkgJsonLint

feat: select with fetch legacy
  packages-demo/demo-rc/package.json
  packages-demo/demo-rc/src/rc/index.ts
  packages-demo/demo-rc/src/rc/select-with-fetch-legacy/index.ts
  packages-demo/demo-rc/src/rc/select-with-fetch-legacy/rc/index.tsx
  packages-demo/demo-rc/src/rc/select-with-fetch-legacy/types/index.ts
  packages-demo/demo-rc/src/rc/select-with-fetch/rc/index.tsx
  packages-demo/demo-rc/src/rc/select-with-fetch/types/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: whatever
  packages-demo/demo-rc/package.json
  packages-demo/demo-rc/src/rc/select-with-fetch/rc/index.tsx
  packages-demo/demo-rc/src/rc/select-with-fetch/types/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: pub icon
  packages-ui/icon/package.json
Due: npmPkgJsonLint

fix: paged list order for demo
  package.json
  packages-helper/helper-data/package.json
  packages-helper/helper-data/src/helper/normalize-paged-list-uncertain.ts
  packages-helper/helper-data/src/helper/normalize-paged-list.ts
  packages-helper/helper-data/src/types/generic.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: test-api can disable now
  packages-demo/demo-rc/package.json
  packages-demo/demo-rc/src/rc/test-api/rc/index.tsx
  packages-demo/demo-rc/src/rc/test-api/types/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: a new fetcher interceprot delay
  package.json
  packages-config/eslint-config/package.json
  packages-config/stylelint-config/package.json
  packages-fetcher/fetcher-interceptor-delay/.babelrc.js
  packages-fetcher/fetcher-interceptor-delay/.npmignore
  packages-fetcher/fetcher-interceptor-delay/README.md
  packages-fetcher/fetcher-interceptor-delay/package.json
  packages-fetcher/fetcher-interceptor-delay/src/index.ts
  packages-fetcher/fetcher-interceptor-delay/src/intercept/index.ts
  packages-fetcher/fetcher-interceptor-delay/tsconfig.json
  packages-fetcher/fetcher-interceptor-sls/README.md
  pnpm-lock.yaml
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

fix: icon base ref type was not very right
  packages-ui/icon-base/package.json
  packages-ui/icon-base/src/types/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: keymap calllback type
  packages-dom/keymap/package.json
  packages-dom/keymap/src/types/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

Path conditions:
  npmPkgJsonLint: any of: package.json
  markdownlint-cli2: any of: *.md
  stylelint --fix: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
