Repository justnewbee/kcuF: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

.lintstagedrc:

{
  "package.json": "npmPkgJsonLint",
  "*.md": "markdownlint-cli2",
  "*.{js,ts,tsx}": ["stylelint --fix", "eslint"]
}

chore: dialog draft
  packages-ui/rc-dialog-headless/src/util/handle-key-down-trap-tab.ts
  packages-ui/rc-dialog-headless/src/util/stack-pull.ts
  packages-ui/rc-dialog-headless/src/util/stack-put.ts
Due: stylelint --fix, eslint

docs: in web
  packages-config/markdownlint-config/index.yaml
  packages-demo/demo-css/package.json
  packages-theme/doc/color.md
  packages-theme/doc/css/caniuse.less
  packages-theme/doc/css/console-base.less
  packages-theme/doc/css/github.less
  packages-theme/doc/css/jb.less
  packages-theme/doc/css/jwc.less
  packages-theme/doc/css/kcuf-dark.less
  packages-theme/doc/css/kcuf.less
  packages-theme/doc/css/mdn.less
  packages-theme/doc/css/shadcn.less
  packages-theme/doc/css/tailwind.less
  packages-theme/doc/css/themeui.less
  packages-theme/doc/css/xconsole.less
  packages-theme/doc/research.md
  packages-theme/theme-token-base/README.md
  web/docs/component/1-intro.md
  web/docs/component/_template.mdx
  web/docs/component/feedback/2-dialog.mdx
  web/docs/component/form/1-form.mdx
  web/docs/component/form/2-button.mdx
  web/docs/component/form/3-input-text.mdx
  web/docs/component/form/7-input-switch.mdx
  web/docs/component/meida/1-icon.mdx
  web/docs/guide/1-overview/1-intro.md
  web/docs/guide/1-overview/4-design-token.md
  web/docs/guide/2-theming/2-color.md
  web/docs/guide/2-theming/9-motion.md
Due: npmPkgJsonLint, markdownlint-cli2

chore: whatever
  packages-hook/kcuf-hook/README.md
  web/docs/guide/1-overview/1-intro.md
  web/docs/guide/1-overview/4-design-token.md
  web/docs/guide/3-design/2-category.md
  web/docs/guide/3-design/_category_.json
  web/docs/guide/3-dev/1-principle.md
  web/docs/guide/3-dev/2-shared.md
  web/docs/guide/3-dev/_category_.json
  web/docs/guide/3-dev/a11y.md
  web/docs/guide/3-dev/configurability.md
  web/docs/guide/3-dev/consistency.md
  web/docs/guide/3-dev/guideline-props.md
  web/docs/guide/3-dev/structure.md
  web/docs/guide/4-ref.md
Due: markdownlint-cli2

feat: click hijacker
  packages-dom/click-hijacker/.babelrc.js
  packages-dom/click-hijacker/.npmignore
  packages-dom/click-hijacker/README.md
  packages-dom/click-hijacker/package.json
  packages-dom/click-hijacker/src/const/index.ts
  packages-dom/click-hijacker/src/hijack-click-global.ts
  packages-dom/click-hijacker/src/hijack-click-in-dom.ts
  packages-dom/click-hijacker/src/index.ts
  packages-dom/click-hijacker/src/types/index.ts
  packages-dom/click-hijacker/src/util/create-click-handler.ts
  packages-dom/click-hijacker/src/util/handle-click-global.ts
  packages-dom/click-hijacker/src/util/handle-click-hijacker.ts
  packages-dom/click-hijacker/src/util/index.ts
  packages-dom/click-hijacker/test/todo.test.ts
  packages-dom/click-hijacker/tsconfig.json
  packages-dom/mere-color/src/a11y/get-readable-color.ts
  packages-theme/theme-color/stories/rc/color-block/index.tsx
  packages-theme/theme-color/stories/util/get-contrast-label.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

fix: react router click hijacker will ignore when meta key is hold
  packages-dom/click-hijacker/README.md
  packages-dom/click-hijacker/package.json
  packages-dom/click-hijacker/src/types/index.ts
  packages-dom/click-hijacker/src/util/handle-click-hijacker.ts
  packages-x/react-router-link-hijacker/README.md
  packages-x/react-router-link-hijacker/package.json
  packages-x/react-router-link-hijacker/src/util/condition.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

fix: icon base size & sizeRelative
  packages-ui/rc-icon-base/src/types/index.ts
  web/docs/component/meida/2-icon-base.mdx
Due: stylelint --fix, eslint

chore: ready @kcuf-ui/rc-icon-base
  packages-ui/rc-icon-base/package.json
Due: npmPkgJsonLint

chore: ready @kcuf-ui/rc-form-headless & rc-input-switch-headless
  packages-ui/rc-form-headless/package.json
  packages-ui/rc-input-switch-headless/package.json
Due: npmPkgJsonLint

feat: demo rc testapi
  packages-demo/demo-rc/package.json
  packages-demo/demo-rc/src/rc/index.ts
  packages-demo/demo-rc/src/rc/test-api/index.ts
  packages-demo/demo-rc/src/rc/test-api/rc/index.tsx
  packages-demo/demo-rc/src/rc/test-api/types/index.ts
  packages-demo/demo-rc/stories/table/story-default/index.tsx
  packages-demo/demo-rc/stories/test-api/index.stories.ts
  packages-demo/demo-rc/stories/test-api/story-default/index.tsx
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: more color comparison
  packages-dom/mere-color/package.json
  packages-dom/mere-color/src/manipulate/adjust-lightness-for-contrast.ts
  packages-dom/mere-color/src/manipulate/darken.ts
  packages-dom/mere-color/src/manipulate/grayscale.ts
  packages-dom/mere-color/src/manipulate/index.ts
  packages-dom/mere-color/src/manipulate/invert.ts
  packages-dom/mere-color/src/manipulate/lighten.ts
  packages-dom/mere-color/src/manipulate/mix.ts
  packages-dom/mere-color/src/manipulate/rotate.ts
  packages-dom/mere-color/src/util/adjust-hue.ts
  packages-dom/mere-color/src/util/adjust-lightness.ts
  packages-dom/mere-color/src/util/index.ts
  packages-dom/mere-color/src/util/to-color-string-original-notation.ts
  packages-dom/mere-color/stories/index.stories.ts
  packages-dom/mere-color/stories/rc/color-grid/index.tsx
  packages-dom/mere-color/stories/story-comparison.tsx
  packages-dom/mere-color/stories/story-grayscale.tsx
  packages-dom/mere-color/stories/story-invert.tsx
  packages-dom/mere-color/stories/story-mix.tsx
  packages-dom/mere-color/stories/types/index.ts
  packages-dom/mere-color/stories/util/get-comparison-contrast.ts
  packages-dom/mere-color/stories/util/get-comparison-darken.ts
  packages-dom/mere-color/stories/util/get-comparison-grayscale.ts
  packages-dom/mere-color/stories/util/get-comparison-invert.ts
  packages-dom/mere-color/stories/util/get-comparison-lighten.ts
  packages-dom/mere-color/stories/util/get-comparison-luminance.ts
  packages-dom/mere-color/stories/util/get-comparison-mix.ts
  packages-dom/mere-color/stories/util/get-comparison-rotate.ts
  packages-dom/mere-color/stories/util/get-comparison-to-hex.ts
  packages-dom/mere-color/stories/util/get-comparison-to-hsl.ts
  packages-dom/mere-color/stories/util/get-comparison-to-rgb.ts
  packages-dom/mere-color/stories/util/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: promise mirror tuning
  packages-config/eslint-config/package.json
  packages-demo/demo-rc/README.md
  packages-demo/demo-rc/package.json
  packages-demo/demo-rc/src/rc/code-viewer-json5/index.ts
  packages-demo/demo-rc/src/rc/code-viewer-json5/rc/index.tsx
  packages-demo/demo-rc/src/rc/code-viewer-json5/types/index.ts
  packages-demo/demo-rc/src/rc/index.ts
  packages-demo/demo-rc/src/rc/input-color/rc/index.tsx
  packages-demo/demo-rc/src/rc/input-number/rc/index.tsx
  packages-demo/demo-rc/src/rc/input-range/rc/index.tsx
  packages-demo/demo-rc/src/rc/json-viewer/types/index.ts
  packages-demo/demo-rc/src/rc/list/rc/index.tsx
  packages-demo/demo-rc/src/rc/promise-viewer/rc/index.tsx
  packages-demo/demo-rc/stories/button/index.stories.ts
  packages-demo/demo-rc/stories/button/types/index.ts
  packages-demo/demo-rc/stories/code-viewer-json5/index.stories.ts
  packages-demo/demo-rc/stories/code-viewer/const/index.ts
  packages-demo/demo-rc/stories/code-viewer/index.stories.ts
  packages-demo/demo-rc/stories/code-viewer/story-default.tsx
  packages-demo/demo-rc/stories/input-color/index.stories.ts
  packages-demo/demo-rc/stories/input-number/index.stories.ts
  packages-demo/demo-rc/stories/input-range/index.stories.ts
  packages-demo/demo-rc/stories/json-viewer/index.stories.ts
  packages-demo/demo-rc/stories/json-viewer/story-default.tsx
  packages-dom/mere-color/stories/story-comparison/ui/rc/compare-a11y-contrast/index.tsx
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-darken.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-lighten.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

fix: icon spacing was not passed
  packages-ui/rc-icon-base/package.json
  packages-ui/rc-icon-base/src/icon-base/index.tsx
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: icon size & spacing using data attribute
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-config/eslint-config/package.json
  packages-demo/demo-css/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/use-mouse-hover/package.json
  packages-theme/theme-color/package.json
  packages-theme/theme-token-base/package.json
  packages-theme/theme-types/package.json
  packages-ui/rc-backdrop/package.json
  packages-ui/rc-button/package.json
  packages-ui/rc-dialog/package.json
  packages-ui/rc-form/package.json
  packages-ui/rc-icon-base/package.json
  packages-ui/rc-icon-base/src/icon-base/index.tsx
  packages-ui/rc-icon-base/src/types/index.ts
  packages-ui/rc-icon-base/src/util/get-icon-font-size.ts
  packages-ui/rc-icon-base/src/util/index.ts
  packages-ui/rc-icon/package.json
  packages-ui/rc-input-switch/package.json
  packages-ui/rc-input-text/package.json
  packages-ui/rc-keyboard-mac/package.json
  packages-ui/rc-transition/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: icon spacing 0.4em
  packages-ui/rc-icon-base/package.json
  packages-ui/rc-icon-base/src/icon-base/index.tsx
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: up dependency versions ✨
  packages-demo/demo-rc/package.json
Due: npmPkgJsonLint

feat: publish rc-icon
  packages-ui/rc-icon/package.json
Due: npmPkgJsonLint

chore: ready to launch first mere color
  packages-dom/mere-color/README.md
  packages-dom/mere-color/package.json
Due: npmPkgJsonLint, markdownlint-cli2

fix: fade min max logic
  packages-dom/mere-color/src/generate/fade-in.ts
  packages-dom/mere-color/src/generate/fade-out.ts
  packages-dom/mere-color/src/generate/fade.ts
  packages-dom/mere-color/test/generate-fade.test.ts
Due: stylelint --fix, eslint

fix: fade min max logic
  packages-dom/mere-color/package.json
Due: npmPkgJsonLint

chore: up dependency versions ✨
  packages-dom/mere-color/stories/story-comparison/ui/index.tsx
  packages-dom/mere-color/stories/story-comparison/ui/rc/compare-is-dark/index.tsx
  packages-dom/mere-color/stories/story-comparison/ui/rc/compare-is-equal/index.tsx
  packages-dom/mere-color/stories/story-comparison/ui/rc/compare-is-light/index.tsx
  packages-dom/mere-color/stories/story-comparison/ui/rc/index.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-is-dark.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-is-equal.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-is-light.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/index.ts
Due: stylelint --fix, eslint

docs: some doc in ts files
  packages-dom/mere-color/src/generate/fade-in.ts
  packages-dom/mere-color/src/generate/fade-out.ts
  packages-dom/mere-color/src/generate/fade.ts
  packages-dom/mere-color/src/generate/mix.ts
  packages-dom/mere-color/src/generate/rotate.ts
  packages-dom/mere-color/src/generate/tint.ts
Due: stylelint --fix, eslint

chore: base64 ready to launch
  packages-config/eslint-config/package.json
  packages-dom/mere-color/src/generate/darken.ts
  packages-dom/mere-color/src/generate/desaturate.ts
  packages-dom/mere-color/src/generate/saturate.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-generate-darken.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-generate-desaturate.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-generate-lighten.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-generate-rotate.ts
  packages-util/base64/README.md
  packages-util/base64/src/util/decode.ts
  packages-util/base64/src/util/encode.ts
  packages-util/base64/test/index.test.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

docs: some changes
  packages-util/base64/README.md
  packages-util/base64/package.json
  packages-util/base64/src/util/atob.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

chore: lock version of eslint-import-resolver-typescript for now
  .ncurc.yml
Due: none
