Repository justnewbee/kcuF: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

.lintstagedrc:

{
  "package.json": "npmPkgJsonLint",
  "*.md": "markdownlint-cli2",
  "*.{js,ts,tsx}": ["stylelint --fix", "eslint"]
}

docs: still cannnot up eslint 10
  taze.config.ts
Due: stylelint --fix, eslint

chore: use-is-unmouted peer
  packages-hook/use-is-unmounted/package.json
Due: npmPkgJsonLint

fix: build error
  packages-ui/button/src/ui/index.tsx
  packages-ui/button/src/with-model/index.tsx
  packages-ui/form-headless/src/hook/use-handle-submit.ts
  packages-util/md5/package.json
  packages-util/md5/tsconfig.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: normalize id will only return empty when 0
  _headless/rc-headless-alert/package.json
  package.json
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-helper/helper-data/package.json
  packages-helper/helper-data/src/helper/normalize-id.ts
  packages-hook/use-addable/package.json
  packages-ui/backdrop-headless/package.json
  packages-ui/codemirror-headless/package.json
  packages-ui/dialog-headless/package.json
  packages-ui/dropdown-headless/package.json
  packages-ui/input-text-headless/package.json
  packages-ui/keyboard-mac-headless/package.json
  packages-ui/transition/package.json
  packages-util/md5/package.json
  pnpm-lock.yaml
  web/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: normalize id will only return empty when 0
  packages-helper/helper-data/src/helper/normalize-id.ts
Due: stylelint --fix, eslint

fix: normalize id will only return empty when 0
  packages-helper/helper-regexp/package.json
Due: npmPkgJsonLint

chore: before pub
  packages-ui/button-headless/package.json
Due: npmPkgJsonLint

chore: before pub md lint config
  packages-config/markdownlint-config/package.json
Due: npmPkgJsonLint

chore: mv pacakge around
  packages-dom/messenger/.babelrc.js
  packages-dom/messenger/.npmignore
  packages-dom/messenger/CHANGELOG.md
  packages-dom/messenger/README.md
  packages-dom/messenger/package.json
  packages-dom/messenger/src/index.ts
  packages-dom/messenger/src/messenger/index.ts
  packages-dom/messenger/src/types/index.ts
  packages-dom/messenger/src/util/build-payload-for-promise.ts
  packages-dom/messenger/src/util/error-to-plain.ts
  packages-dom/messenger/src/util/get-target-window.ts
  packages-dom/messenger/src/util/index.ts
  packages-dom/messenger/src/util/plain-to-error.ts
  packages-dom/messenger/test/messenger-class.test.ts
  packages-dom/messenger/test/ssr.test.ts
  packages-dom/messenger/test/util.test.ts
  packages-dom/messenger/tsconfig.json
  packages-dom/storage-factory/.babelrc.js
  packages-dom/storage-factory/.npmignore
  packages-dom/storage-factory/README.md
  packages-dom/storage-factory/package.json
  packages-dom/storage-factory/src/index.ts
  packages-dom/storage-factory/src/storage-factory-with-key.ts
  packages-dom/storage-factory/src/storage-factory.ts
  packages-dom/storage-factory/src/types/index.ts
  packages-dom/storage-factory/test/index.test.ts
  packages-dom/storage-factory/tsconfig.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

chore: pub interceptor login
  packages-fetcher/fetcher-interceptor-login/package.json
Due: npmPkgJsonLint

chore: before pub backdrop
  packages-ui/backdrop-headless/package.json
  packages-ui/backdrop/package.json
Due: npmPkgJsonLint

feat: prepare form data for upload here
  packages-fetcher/fetcher-helper-file/package.json
  packages-fetcher/fetcher-helper-file/src/helper/index.ts
  packages-fetcher/fetcher-helper-file/src/helper/make-sure-file.ts
  packages-fetcher/fetcher-helper-file/src/helper/prepare-form-data.ts
  packages-fetcher/fetcher-helper-file/src/index.ts
  packages-fetcher/fetcher-helper-file/src/types/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: add validateFileType
  packages-fetcher/fetcher-helper-file/CHANGELOG.md
  packages-fetcher/fetcher-helper-file/package.json
  packages-fetcher/fetcher-helper-file/src/helper/index.ts
  packages-fetcher/fetcher-helper-file/src/helper/validate-file-type.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: add file picker
  _headless/rc-headless-alert/package.json
  package.json
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/qr/package.json
  packages-config/eslint-config/package.json
  packages-demo/demo-css/package.json
  packages-demo/demo-rc/package.json
  packages-fetcher/fetcher-helper-file/CHANGELOG.md
  packages-fetcher/fetcher-helper-file/package.json
  packages-fetcher/fetcher-helper-file/src/helper/check-file-type.ts
  packages-fetcher/fetcher-helper-file/src/helper/index.ts
  packages-ui/file-picker/.babelrc.js
  packages-ui/file-picker/.npmignore
  packages-ui/file-picker/.storybook/main.ts
  packages-ui/file-picker/.storybook/preview.tsx
  packages-ui/file-picker/package.json
  packages-ui/file-picker/src/enum/index.ts
  packages-ui/file-picker/src/index.tsx
  packages-ui/file-picker/src/types/index.ts
  packages-ui/file-picker/stories/index.stories.ts
  packages-ui/file-picker/stories/story-default.tsx
  packages-ui/file-picker/tsconfig.json
  packages-ui/file-picker/tsconfig.node.json
  packages-x/react-router-link-hijacker/package.json
  pnpm-lock.yaml
  web/package.json
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: file picker export type
  packages-ui/file-picker/README.md
  packages-ui/file-picker/package.json
  packages-ui/file-picker/src/enum/index.ts
  packages-ui/file-picker/src/index.ts
  packages-ui/file-picker/src/rc/index.tsx
  packages-ui/file-picker/src/types/index.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

fix: check file type
  packages-fetcher/fetcher-helper-file/CHANGELOG.md
  packages-fetcher/fetcher-helper-file/package.json
  packages-fetcher/fetcher-helper-file/src/helper/check-file-type.ts
  packages-fetcher/fetcher-helper-file/src/helper/mime-from-filename.ts
  packages-fetcher/fetcher-helper-file/test/base64-to-blob.test.ts
  packages-fetcher/fetcher-helper-file/test/base64-to-file.test.ts
  packages-fetcher/fetcher-helper-file/test/blob-to-file.test.ts
  packages-fetcher/fetcher-helper-file/test/check-file-type.test.ts
  packages-fetcher/fetcher-helper-file/test/download-array-buffer.test.ts
  packages-fetcher/fetcher-helper-file/test/download-blob.test.ts
  packages-fetcher/fetcher-helper-file/test/get-blob-filename.test.ts
  packages-fetcher/fetcher-helper-file/test/get-mime-type-from-base64-data.test.ts
  packages-fetcher/fetcher-helper-file/test/make-sure-file.test.ts
  packages-fetcher/fetcher-helper-file/test/mime-from-filename.test.ts
  packages-fetcher/fetcher-helper-file/test/mime-to-ext.test.ts
  packages-fetcher/fetcher-helper-file/test/prepare-form-data.test.ts
  packages-ui/file-picker/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: export convert file items
  packages-ui/file-picker/package.json
  packages-ui/file-picker/src/index.ts
  packages-ui/file-picker/src/rc/index.tsx
  packages-ui/file-picker/src/types/index.ts
  packages-ui/file-picker/src/util/index.ts
  packages-ui/file-picker/src/util/normalize-file-items.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

refactor: some api renaming
  packages-fetcher/fetcher-helper-file/src/helper/base64-to-file.ts
  packages-fetcher/fetcher-helper-file/src/helper/blob-to-file.ts
  packages-fetcher/fetcher-helper-file/src/helper/check-file-type.ts
  packages-fetcher/fetcher-helper-file/src/helper/create-blob-from-base64.ts
  packages-fetcher/fetcher-helper-file/src/helper/create-file-from-base64.ts
  packages-fetcher/fetcher-helper-file/src/helper/create-file-from-blob.ts
  packages-fetcher/fetcher-helper-file/src/helper/download-array-buffer.ts
  packages-fetcher/fetcher-helper-file/src/helper/get-blob-filename.ts
  packages-fetcher/fetcher-helper-file/src/helper/get-ext-from-filename.ts
  packages-fetcher/fetcher-helper-file/src/helper/get-ext-from-mime.ts
  packages-fetcher/fetcher-helper-file/src/helper/get-ext.ts
  packages-fetcher/fetcher-helper-file/src/helper/get-mime-from-base64-data.ts
  packages-fetcher/fetcher-helper-file/src/helper/get-mime-from-filename.ts
  packages-fetcher/fetcher-helper-file/src/helper/get-mime.ts
  packages-fetcher/fetcher-helper-file/src/helper/index.ts
  packages-fetcher/fetcher-helper-file/src/helper/make-sure-file.ts
  packages-fetcher/fetcher-helper-file/test/check-file-type.test.ts
  packages-fetcher/fetcher-helper-file/test/create-blob-from-base64.test.ts
  packages-fetcher/fetcher-helper-file/test/create-file-from-base64.test.ts
  packages-fetcher/fetcher-helper-file/test/create-file-from-blob.test.ts
  packages-fetcher/fetcher-helper-file/test/get-blob-filename.test.ts
  packages-fetcher/fetcher-helper-file/test/get-mime-type-from-base64-data.test.ts
  packages-fetcher/fetcher-helper-file/test/mime-from-filename.test.ts
  packages-fetcher/fetcher-helper-file/test/mime-to-ext.test.ts
Due: stylelint --fix, eslint

feat: whatever
  packages-fetcher/fetcher-helper-file/test/download-array-buffer.test.ts
  packages-fetcher/fetcher-helper-file/test/download-blob.test.ts
  packages-fetcher/fetcher-helper-file/test/get-ext-from-mime.test.ts
  packages-fetcher/fetcher-helper-file/test/get-mime-from-base64-data.test.ts
  packages-fetcher/fetcher-helper-file/test/get-mime-from-filename.test.ts
  packages-fetcher/fetcher-helper-file/test/make-sure-file.test.ts
  packages-fetcher/fetcher-helper-file/test/prepare-form-data.test.ts
Due: stylelint --fix, eslint

feat: file md5
  packages-fetcher/fetcher-helper-file/CHANGELOG.md
  packages-fetcher/fetcher-helper-file/package.json
  packages-fetcher/fetcher-helper-file/src/helper/check-file-type.ts
  packages-fetcher/fetcher-helper-file/src/helper/create-blob-from-base64.ts
  packages-fetcher/fetcher-helper-file/src/helper/create-file-from-base64.ts
  packages-fetcher/fetcher-helper-file/src/helper/create-file-from-blob.ts
  packages-fetcher/fetcher-helper-file/src/helper/download-array-buffer.ts
  packages-fetcher/fetcher-helper-file/src/helper/get-ext.ts
  packages-fetcher/fetcher-helper-file/src/helper/get-file-ext-from-filename.ts
  packages-fetcher/fetcher-helper-file/src/helper/get-file-ext-from-mime.ts
  packages-fetcher/fetcher-helper-file/src/helper/get-file-ext.ts
  packages-fetcher/fetcher-helper-file/src/helper/get-file-md5.ts
  packages-fetcher/fetcher-helper-file/src/helper/get-file-mime-from-base64-data.ts
  packages-fetcher/fetcher-helper-file/src/helper/get-file-mime-from-filename.ts
  packages-fetcher/fetcher-helper-file/src/helper/get-file-mime.ts
  packages-fetcher/fetcher-helper-file/src/helper/get-mime.ts
  packages-fetcher/fetcher-helper-file/src/helper/index.ts
  packages-fetcher/fetcher-helper-file/src/helper/make-sure-file.ts
  packages-fetcher/fetcher-helper-file/src/helper/prepare-form-data.ts
  packages-fetcher/fetcher-helper-file/src/index.ts
  packages-fetcher/fetcher-helper-file/src/types/index.ts
  packages-fetcher/fetcher-helper-file/test/get-ext-from-mime.test.ts
  packages-fetcher/fetcher-helper-file/test/get-file-ext-from-filename.test.ts
  packages-fetcher/fetcher-helper-file/test/get-file-ext-from-mime.test.ts
  packages-fetcher/fetcher-helper-file/test/get-file-ext.test.ts
  packages-fetcher/fetcher-helper-file/test/get-file-md5.test.ts
  packages-fetcher/fetcher-helper-file/test/get-file-mime-from-base64-data.test.ts
  packages-fetcher/fetcher-helper-file/test/get-file-mime-from-filename.test.ts
  packages-fetcher/fetcher-helper-file/test/get-file-mime.test.ts
  packages-fetcher/fetcher-helper-file/test/get-mime-from-filename.test.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

chore: rename type
  packages-fetcher/fetcher-helper-file/package.json
  packages-fetcher/fetcher-helper-file/src/helper/get-file-md5.ts
  packages-fetcher/fetcher-helper-file/src/helper/make-sure-file.ts
  packages-fetcher/fetcher-helper-file/src/helper/prepare-form-data.ts
  packages-fetcher/fetcher-helper-file/src/index.ts
  packages-fetcher/fetcher-helper-file/src/types/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: rename type
  packages-ui/file-picker/package.json
Due: npmPkgJsonLint

fix: ext without dot
  packages-fetcher/fetcher-helper-file/src/helper/get-file-ext-from-filename.ts
  packages-fetcher/fetcher-helper-file/test/get-file-ext-from-filename.test.ts
  packages-fetcher/fetcher-helper-file/test/get-file-ext.test.ts
Due: stylelint --fix, eslint

chore: before pub
  packages-fetcher/fetcher-helper-file/package.json
  packages-ui/file-picker/package.json
Due: npmPkgJsonLint

feat: ua
  packages-dom/ua/package.json
  packages-dom/ua/src/index.ts
  packages-dom/ua/src/util/parse-ua-browser.ts
  packages-dom/ua/src/util/parse-ua-os.ts
  packages-dom/ua/test/ua-browser.test.ts
  packages-dom/ua/test/ua-os-android.test.ts
  packages-dom/ua/test/ua-os-chromeos.test.ts
  packages-dom/ua/test/ua-os-freebsd.test.ts
  packages-dom/ua/test/ua-os-ios.test.ts
  packages-dom/ua/test/ua-os-linux.test.ts
  packages-dom/ua/test/ua-os-macos.test.ts
  packages-dom/ua/test/ua-os-other.test.ts
  packages-dom/ua/test/ua-os-windows.test.ts
  packages-dom/ua/test/ua.test.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: disable @typescript-eslint/no-unnecessary-type-arguments
  packages-config/eslint-config/CHANGELOG.md
  packages-config/eslint-config/package.json
  packages-config/eslint-config/rules/rules-ts-type-aware.js
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

chore: up versions ✨
  packages-config/eslint-config/package.json
  packages-ui/codemirror-headless/package.json
  web/package.json
Due: npmPkgJsonLint

fix: add disabled in file picker
  packages-ui/file-picker/CHANGELOG.md
  packages-ui/file-picker/README.md
  packages-ui/file-picker/package.json
  packages-ui/file-picker/src/rc/index.tsx
  packages-ui/file-picker/src/types/index.ts
  packages-ui/file-picker/stories/story-default.tsx
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint
