Repository justnewbee/kcuF: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

test: messenger ut
  packages-util/messenger/test/messenger-class.test.ts
  packages-util/messenger/test/util.test.ts
Due: stylelint --fix, eslint

docs: messenger
  packages-util/messenger/README.md
Due: markdownlint-cli2

feat: use messenger
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-login/src/helper/message-listen-interceptor-login.ts
  packages-fetcher/fetcher-interceptor-login/src/util/singleton-promise.ts
  packages-ui/backdrop-headless/package.json
  packages-ui/backdrop-headless/src/const/index.ts
  packages-ui/backdrop-headless/src/enum/index.ts
  packages-ui/backdrop-headless/src/hook/use-effect-singleton.ts
  packages-ui/backdrop-headless/src/util/index.ts
  packages-ui/backdrop-headless/src/util/message-broadcast-refresh.ts
  packages-ui/backdrop-headless/src/util/message-broadcast.ts
  packages-ui/backdrop-headless/src/util/message-emit-refresh.ts
  packages-ui/backdrop-headless/src/util/message-listen.ts
  packages-ui/backdrop-headless/src/util/singleton-global.ts
  packages-ui/backdrop-headless/src/util/singleton-pull.ts
  packages-ui/backdrop-headless/src/util/singleton-push.ts
  packages-ui/backdrop-headless/src/util/singleton-update.ts
  packages-ui/backdrop/package.json
  packages-util/messenger/README.md
  packages-util/messenger/package.json
  packages-util/messenger/src/messenger/index.ts
  packages-util/messenger/src/types/index.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

fix: haijack condition result type can be void now
  packages-dom/click-hijacker/package.json
  packages-dom/click-hijacker/src/types/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: bump up version
  packages-x/react-router-link-hijacker/package.json
Due: npmPkgJsonLint

feat: added treeMap
  packages-helper/helper-tree/package.json
  packages-helper/helper-tree/src/helper/index.ts
  packages-helper/helper-tree/src/helper/tree-map.ts
  packages-helper/helper-tree/test/tree-map.test.ts
  packages-hook/use-route-query/src/hook/use-route-query.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: added treeMap
  packages-helper/helper-tree/package.json
  packages-helper/helper-tree/src/helper/tree-map.ts
  packages-helper/helper-tree/test/tree-map.test.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: useRouteQuery with optional pathname
  packages-hook/use-route-query/CHANGELOG.md
  packages-hook/use-route-query/README.md
  packages-hook/use-route-query/package.json
  packages-hook/use-route-query/src/hook/use-route-query.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

chore: up versions ✨
  packages-hook/use-route-query/package.json
  packages-hook/use-route-query/src/types/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: useRouterQuery will render infinately
  packages-hook/use-route-query/README.md
  packages-hook/use-route-query/package.json
  packages-hook/use-route-query/src/hook/use-route-query.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

fix: useRouterQuery will render infinately
  packages-hook/use-route-query/src/hook/use-route-query.ts
Due: stylelint --fix, eslint

fix: still need useMemo the current params object
  packages-hook/use-route-query/package.json
  packages-hook/use-route-query/src/hook/use-route-query.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: search prefix was wrong
  packages-hook/use-route-query/package.json
  packages-hook/use-route-query/src/hook/use-route-query.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: should not polute url when navigate with empty
  packages-hook/use-route-query/package.json
  packages-hook/use-route-query/src/hook/use-route-query.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: added resetQuery as 3rd output
  packages-hook/use-route-query/CHANGELOG.md
  packages-hook/use-route-query/package.json
  packages-hook/use-route-query/src/hook/use-route-query.ts
  packages-hook/use-route-query/src/types/index.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

chore: eslint
  packages-canvas/canvas-helper/stories/story-path.tsx
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/stories/story-default/ui/ops/ops-overall.tsx
  packages-canvas/canvas-particles/src/class/particle.ts
  packages-canvas/canvas-particles/src/class/particles.ts
  packages-canvas/canvas-particles/src/util/hex-to-rgb.ts
  packages-canvas/canvas-particles/src/util/parse-config-link-base.ts
  packages-canvas/geometry-extended/src/helper/get-polygon-intersection-path-list.ts
  packages-config/eslint-config/CHANGELOG.md
  packages-config/eslint-config/package.json
  packages-config/eslint-config/rules/rules-ts-type-aware.js
  packages-config/eslint-config/rules/rules-ts-type-unaware.js
  packages-hook/use-route-query/src/util/encode-params.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: the afterListChange can now do unshift
  packages-helper/helper-rc-model/package.json
  packages-helper/helper-rc-model/src/helper/after-list-change.ts
  packages-helper/helper-rc-model/src/types/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: icon before will display block for now
  packages-ui/icon-base/package.json
  packages-ui/icon-base/src/icon-base/index.styled.ts
  packages-ui/icon-base/src/icon-base/index.tsx
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: icon should be inline-block outside and block inside or else it is block
  packages-ui/icon-base/package.json
  packages-ui/icon-base/src/icon-base/index.styled.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: icon block
  packages-ui/icon-base/package.json
  packages-ui/icon-base/src/icon-base/index.styled.ts
  packages-ui/icon-base/src/icon-base/index.tsx
  packages-ui/icon-base/src/types/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: add takePromiseWithLoadingMap
  packages-helper/helper-loading/CHANGELOG.md
  packages-helper/helper-loading/package.json
  packages-helper/helper-loading/src/helper/index.ts
  packages-helper/helper-loading/src/helper/take-promise-with-loading-map.ts
  packages-helper/helper-loading/src/helper/take-promise-with-loading.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: add FullPage in demo rc
  packages-demo/demo-rc/package.json
  packages-demo/demo-rc/src/rc/index.ts
  packages-demo/demo-rc/src/rc/layout/full-page/index.ts
  packages-demo/demo-rc/src/rc/layout/full-page/rc/index.tsx
  packages-demo/demo-rc/src/rc/layout/full-page/types/index.ts
  packages-demo/demo-rc/src/rc/list/types/index.ts
  packages-hook/use-click-away/src/use-click-away.ts
  packages-ui/transition/README.md
  packages-ui/transition/test/SSR-test.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

chore: ready to launch use-click-away
  packages-hook/use-click-away/README.md
  packages-hook/use-click-away/package.json
  packages-hook/use-click-away/src/use-click-away.ts
  packages-hook/use-click-away/test/test-component.tsx
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

fix: click away should use click event
  packages-hook/use-click-away/CHANGELOG.md
  packages-hook/use-click-away/package.json
  packages-hook/use-click-away/src/use-click-away.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

fix: added ignore selector
  packages-hook/use-click-away/CHANGELOG.md
  packages-hook/use-click-away/package.json
  packages-hook/use-click-away/src/use-click-away.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

fix: upload onProgress no matter the method will do xhr
  packages-fetcher/fetcher/CHANGELOG.md
  packages-fetcher/fetcher/package.json
  packages-fetcher/fetcher/src/types/config.ts
  packages-fetcher/fetcher/src/util/fetch-x.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

chore: bump version
  packages-fetcher/fetcher/package.json
Due: npmPkgJsonLint

chore: disable @typescript-eslint/no-unnecessary-type-parameters
  packages-config/eslint-config/CHANGELOG.md
  packages-config/eslint-config/package.json
  packages-config/eslint-config/rules/rules-ts-type-aware.js
  pnpm-lock.yaml
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

fix: add import/first
  packages-config/eslint-config/package.json
  packages-config/eslint-config/rules/rules-import.js
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: add /Users/newbee/zombie/kcuf/packages-helper/helper-data
  packages-helper/helper-data/CHANGELOG.md
  packages-helper/helper-data/package.json
  packages-helper/helper-data/src/helper/index.ts
  packages-helper/helper-data/src/helper/local-search-compare.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

fix: trim tree current level should start from 1 not 0
  packages-helper/helper-tree/package.json
  packages-helper/helper-tree/src/helper/tree-build.ts
  packages-helper/helper-tree/src/helper/tree-trim.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: should not add null to children
  packages-helper/helper-tree/package.json
  packages-helper/helper-tree/src/helper/tree-trim.ts
  packages-helper/helper-tree/src/types/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

Path conditions:
  npmPkgJsonLint: any of: package.json
  markdownlint-cli2: any of: *.md
  stylelint --fix: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
