Repository justnewbee/kcuF: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

chore: up deps ✨
  package.json
  packages-demo/demo-rc/package.json
  packages-demo/demo-rc/src/rc/select-with-fetch/rc/index.tsx
  packages-demo/demo-rc/src/rc/select-with-fetch/types/index.ts
  packages-dom/keymap/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/sls-logger-base/package.json
  packages-fetcher/sls-logger-web/package.json
  packages-hook/use-click-away/package.json
  packages-hook/use-is-unmounted/package.json
  packages-util/storage-factory/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: fetcher login will NOT check biz
  packages-config/eslint-config/package.json
  packages-demo/demo-rc/src/rc/html-text/rc/index.tsx
  packages-demo/demo-rc/stories/select/index.stories.ts
  packages-fetcher/fetcher-interceptor-login/README.md
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-login/src/types/index.ts
  packages-fetcher/fetcher-interceptor-login/src/util/create-interceptor-response-rejected.ts
  packages-ui/rc-backdrop-headless/src/hook/_use-model-props.ts
  packages-ui/rc-dialog-headless/src/hook/_use-model-props.ts
  packages-ui/rc-keyboard-mac-headless/src/hook/_use-model-props.ts
  packages-ui/rc-transition/src/transition/hook/_use-model-props.ts
  template/template-rc-headless/src/hook/_use-model-props.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

fix: fetcher contenttypejson should always have body
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/fetcher/src/factory/request-with-body.ts
  packages-fetcher/fetcher/src/factory/request-with-no-body.ts
  packages-fetcher/fetcher/src/util/process-config-headers-and-body.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: fetcher helper file base64 to file will accept filename
  packages-fetcher/fetch-sse/src/fetch-sse.ts
  packages-fetcher/fetcher-helper-file/package.json
  packages-fetcher/fetcher-helper-file/src/helper/base64-to-file.ts
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: fetchSse onCancel
  packages-fetcher/fetch-sse/package.json
  packages-fetcher/fetch-sse/src/fetch-sse.ts
  packages-fetcher/fetch-sse/src/types/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: fetchSse with onSuccess and onError
  packages-fetcher/fetch-sse/package.json
  packages-fetcher/fetch-sse/src/fetch-sse.ts
  packages-fetcher/fetch-sse/src/types/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: onComplete
  packages-fetcher/fetch-sse/.storybook/main.ts
  packages-fetcher/fetch-sse/.storybook/preview.ts
  packages-fetcher/fetch-sse/package.json
  packages-fetcher/fetch-sse/src/fetch-sse.ts
  packages-fetcher/fetch-sse/src/types/index.ts
  packages-fetcher/fetch-sse/stories/index.stories.ts
  packages-fetcher/fetch-sse/stories/story-fetch-sse.tsx
  packages-fetcher/fetch-sse/stories/types/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: fetchSse onComplete
  packages-fetcher/fetch-sse/package.json
Due: npmPkgJsonLint

feat: immediate TestApi
  package.json
  packages-config/eslint-config/package.json
  packages-config/stylelint-config/package.json
  packages-demo/demo-rc/package.json
  packages-demo/demo-rc/src/rc/test-api/rc/index.tsx
  packages-demo/demo-rc/src/rc/test-api/types/index.ts
  packages-x/react-router-link-hijacker/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: up deps ✨
  package.json
  packages-canvas/geometry-basic/package.json
  packages-config/eslint-config/package.json
  packages-config/stylelint-config/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/sls-logger-base/package.json
  packages-fetcher/sls-logger-web/package.json
  packages-hook/use-click-away/package.json
  packages-hook/use-controllable/package.json
  packages-hook/use-debounced/package.json
  packages-hook/use-fullscreen/package.json
  packages-hook/use-is-unmounted/package.json
  packages-theme/theme-helper-code-gen/package.json
  packages-ui/rc-transition/package.json
  packages-util/base64/package.json
  packages-util/json-stringify-ordered/package.json
  packages-util/md5/package.json
  packages-util/storage-factory/package.json
  packages-x/react-router-link-hijacker/package.json
  web/package.json
Due: npmPkgJsonLint

feat: select with empty by default
  packages-demo/demo-rc/package.json
  packages-demo/demo-rc/src/rc/select/rc/index.tsx
  packages-demo/demo-rc/src/rc/select/types/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: rc-markdown-base
  packages-ui/rc-markdown-base/package.json
Due: npmPkgJsonLint

fix: icon base size m will now render 18px for icon font shall always have a safe space
  packages-ui/rc-icon-base/package.json
  packages-ui/rc-icon-base/src/icon-base/index.tsx
  packages-ui/rc-input-text-headless/src/provider/index.tsx
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: icon base size m revert
  packages-ui/rc-icon-base/package.json
  packages-ui/rc-icon-base/src/icon-base/index.tsx
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: format percentage
  packages-util/intl-formatter/package.json
  packages-util/intl-formatter/src/format-percentage.ts
  packages-util/intl-formatter/src/index.ts
  packages-util/intl-formatter/src/util/format-number-fallback.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: makeSureFile in helper-file
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-config/eslint-config/package.json
  packages-config/stylelint-config/package.json
  packages-demo/demo-css/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-helper-file/package.json
  packages-fetcher/fetcher-helper-file/src/helper/index.ts
  packages-fetcher/fetcher-helper-file/src/helper/make-sure-file.ts
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/use-debounced/package.json
  packages-hook/use-mouse-hover/package.json
  packages-theme/theme-color/package.json
  packages-theme/theme-token-base/package.json
  packages-theme/theme-types/package.json
  packages-ui/rc-backdrop/package.json
  packages-ui/rc-button/package.json
  packages-ui/rc-dialog/package.json
  packages-ui/rc-form/package.json
  packages-ui/rc-icon/package.json
  packages-ui/rc-input-switch/package.json
  packages-ui/rc-input-text/package.json
  packages-ui/rc-keyboard-mac/package.json
  packages-ui/rc-markdown-base/package.json
  packages-ui/rc-transition/package.json
  web/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: up deps ✨
  package.json
  packages-canvas/geometry-basic/package.json
  packages-dom/click-hijacker/package.json
  packages-dom/click-hijacker/src/types/index.ts
  packages-dom/click-hijacker/src/util/handle-click-hijacker.ts
  packages-dom/click-hijacker/test/todo.test.ts
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/sls-logger-base/package.json
  packages-fetcher/sls-logger-web/package.json
  packages-hook/use-click-away/package.json
  packages-hook/use-controllable/package.json
  packages-hook/use-debounced/package.json
  packages-hook/use-fullscreen/package.json
  packages-hook/use-is-unmounted/package.json
  packages-theme/theme-helper-code-gen/package.json
  packages-ui/rc-transition/package.json
  packages-util/base64/package.json
  packages-util/intl-formatter/package.json
  packages-util/json-stringify-ordered/package.json
  packages-util/md5/package.json
  packages-util/storage-factory/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: click hijack with ignore to support ignore in react router hijacker
  packages-dom/click-hijacker/package.json
  packages-dom/click-hijacker/src/util/handle-click-hijacker.ts
  packages-x/react-router-link-hijacker/package.json
  packages-x/react-router-link-hijacker/src/hook/index.ts
  packages-x/react-router-link-hijacker/src/hook/use-effect-click-hijack.ts
  packages-x/react-router-link-hijacker/src/index.ts
  packages-x/react-router-link-hijacker/src/types/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: md5 dep fix
  packages-util/md5/package.json
Due: npmPkgJsonLint

feat: accept result null in TestApi
  package.json
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/geometry-basic/package.json
  packages-config/eslint-config/config-ts.js
  packages-config/eslint-config/package.json
  packages-demo/demo-css/package.json
  packages-demo/demo-rc/package.json
  packages-demo/demo-rc/src/rc/test-api/types/index.ts
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-dom/mere-dom/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/sls-logger-base/package.json
  packages-theme/theme-color/package.json
  packages-theme/theme-helper-code-gen/package.json
  packages-ui/rc-dialog-headless/package.json
  packages-ui/rc-dialog/package.json
  packages-util/intl-formatter/package.json
  packages-util/subscribable/package.json
  web/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: eslint config import prefer-default-export warn
  packages-config/eslint-config/config-import.js
Due: stylelint --fix, eslint

chore: manually bump version
  packages-config/eslint-config/package.json
  packages-config/markdownlint-config/package.json
  packages-config/stylelint-config/package.json
Due: npmPkgJsonLint

chore: ready to publish rc-transition
  packages-ui/rc-transition/package.json
Due: npmPkgJsonLint

docs: minor fix;
  packages-ui/rc-transition/README.md
  packages-ui/rc-transition/package.json
Due: npmPkgJsonLint, markdownlint-cli2

chore: publish rc transition
  packages-dom/mere-dom/package.json
  packages-ui/rc-transition/package.json
Due: npmPkgJsonLint

chore: reorder storybook plugin
  packages-canvas/canvas-helper/.storybook/main.ts
  packages-canvas/canvas-marking-react/.storybook/main.ts
  packages-canvas/canvas-marking/.storybook/main.ts
  packages-canvas/canvas-particles/.storybook/main.ts
  packages-canvas/canvas-sorting-algorithm/.storybook/main.ts
  packages-demo/demo-css/.storybook/main.ts
  packages-demo/demo-rc/.storybook/main.ts
  packages-dom/keymap/.storybook/main.ts
  packages-dom/mere-color/.storybook/main.ts
  packages-fetcher/fetcher-fetch/.storybook/main.ts
  packages-fetcher/fetcher-interceptor-biz/.storybook/main.ts
  packages-fetcher/fetcher-interceptor-cache-local/.storybook/main.ts
  packages-fetcher/fetcher-interceptor-merging/.storybook/main.ts
  packages-fetcher/fetcher-jsonp/.storybook/main.ts
  packages-fetcher/fetcher/.storybook/main.ts
  packages-hook/use-debounced/.storybook/main.ts
  packages-hook/use-mouse-hover/.storybook/main.ts
  packages-theme/theme-color/.storybook/main.ts
  packages-theme/theme-token-base/.storybook/main.ts
  packages-ui/rc-backdrop/.storybook/main.ts
  packages-ui/rc-button/.storybook/main.ts
  packages-ui/rc-dialog/.storybook/main.ts
  packages-ui/rc-form/.storybook/main.ts
  packages-ui/rc-icon/.storybook/main.ts
  packages-ui/rc-input-switch/.storybook/main.ts
  packages-ui/rc-input-text/.storybook/main.ts
  packages-ui/rc-keyboard-mac/.storybook/main.ts
  packages-ui/rc-markdown-base/.storybook/main.ts
  packages-ui/rc-transition/.storybook/main.ts
  template/template-rc-swc/.storybook/main.ts
  template/template-rc/.storybook/main.ts
Due: stylelint --fix, eslint

chore: up version ✨
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-config/eslint-config/package.json
  packages-demo/demo-css/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/use-debounced/package.json
  packages-hook/use-mouse-hover/package.json
  packages-theme/theme-color/package.json
  packages-theme/theme-token-base/package.json
  packages-theme/theme-types/package.json
  packages-ui/rc-backdrop/package.json
  packages-ui/rc-button/package.json
  packages-ui/rc-dialog/package.json
  packages-ui/rc-form/package.json
  packages-ui/rc-icon/package.json
  packages-ui/rc-input-switch/package.json
  packages-ui/rc-input-text/package.json
  packages-ui/rc-keyboard-mac/package.json
  packages-ui/rc-markdown-base/package.json
  packages-ui/rc-transition/package.json
  pnpm-lock.yaml
  web/package.json
Due: npmPkgJsonLint

feat: add bindEventToDocument/Window in mere dom
  package.json
  packages-canvas/geometry-basic/package.json
  packages-config/eslint-config/package.json
  packages-dom/click-hijacker/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-dom/mere-dom/package.json
  packages-dom/mere-dom/src/helper/bind-event-to-document.ts
  packages-dom/mere-dom/src/helper/bind-event-to-window.ts
  packages-dom/mere-dom/src/helper/index.ts
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/sls-logger-base/package.json
  packages-fetcher/sls-logger-web/package.json
  packages-hook/use-click-away/package.json
  packages-hook/use-controllable/package.json
  packages-hook/use-debounced/package.json
  packages-hook/use-fullscreen/package.json
  packages-hook/use-is-unmounted/package.json
  packages-theme/theme-helper-code-gen/package.json
  packages-ui/rc-transition/package.json
  packages-util/base64/package.json
  packages-util/intl-formatter/package.json
  packages-util/json-stringify-ordered/package.json
  packages-util/md5/package.json
  packages-util/storage-factory/package.json
  pnpm-lock.yaml
  web/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: add bindEventToDocument/Window in mere dom
  packages-dom/mere-dom/src/helper/bind-event-to-document.ts
  packages-dom/mere-dom/src/helper/bind-event-to-window.ts
Due: stylelint --fix, eslint

chore: up version ✨
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/plugin/plugin-magnet/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-move/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-snapping/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-zoom/index.ts
  packages-canvas/canvas-marking/src/util/bind-document-event.ts
  packages-canvas/canvas-marking/src/util/index.ts
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-config/eslint-config/package.json
  packages-demo/demo-css/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/use-debounced/package.json
  packages-hook/use-mouse-hover/package.json
  packages-theme/theme-color/package.json
  packages-theme/theme-token-base/package.json
  packages-theme/theme-types/package.json
  packages-ui/rc-backdrop/package.json
  packages-ui/rc-button/package.json
  packages-ui/rc-dialog/package.json
  packages-ui/rc-form/package.json
  packages-ui/rc-icon/package.json
  packages-ui/rc-input-switch/package.json
  packages-ui/rc-input-text/package.json
  packages-ui/rc-keyboard-mac/package.json
  packages-ui/rc-markdown-base/package.json
  packages-ui/rc-transition/package.json
  pnpm-lock.yaml
  web/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: should not do perpendicular justify when magnet to a vertex
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/stories/story-default/model/const/marking-items-aerial.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: should not do perpendicular justify when magnet to a vertex
  .npmrc
Due: none

feat: ratio in mere dom
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/get-stats-display-html.ts
  packages-canvas/canvas-marking/src/plugin/plugin-zoom/index.ts
  packages-canvas/canvas-marking/src/types/canvas-marking-class.ts
  packages-canvas/canvas-marking/src/types/stats.ts
  packages-config/stylelint-config/package.json
  packages-dom/mere-dom/package.json
  packages-dom/mere-dom/src/helper/get-pixel-ratio.ts
  packages-dom/mere-dom/src/helper/index.ts
  packages-dom/mere-dom/src/helper/listen-pixel-ratio-change.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

Path conditions:
  npmPkgJsonLint: any of: package.json
  markdownlint-cli2: any of: *.md
  stylelint --fix: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
