Repository justnewbee/kcuF: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint-cli2, eslint

.lintstagedrc:

{
  "package.json": "npmPkgJsonLint",
  "*.md": "markdownlint-cli2",
  "*.{jsx?,tsx?}": "eslint"
}

docs: readme now has a picture
  packages-rc/rc-keyboard-mac/README.md
  packages-rc/rc-keyboard-mac/package.json
  packages-rc/rc-keyboard-mac/src/model/types/props.ts
  packages-rc/rc-keyboard-mac/src/ui/const/index.ts
  packages-rc/rc-keyboard-mac/src/ui/index.tsx
  packages-rc/rc-keyboard-mac/src/ui/rc/keyboard-key/index.tsx
Due: npmPkgJsonLint, markdownlint-cli2

feat: better effects
  packages-rc/rc-keyboard-mac/README.md
  packages-rc/rc-keyboard-mac/src/model/enum/index.ts
  packages-rc/rc-keyboard-mac/src/model/hook/index.ts
  packages-rc/rc-keyboard-mac/src/model/hook/use-dispatch-set-key-details.ts
  packages-rc/rc-keyboard-mac/src/model/hook/use-effect-clear-codes.ts
  packages-rc/rc-keyboard-mac/src/model/hook/use-effect-clear-details.ts
  packages-rc/rc-keyboard-mac/src/model/hook/use-effect-details.ts
  packages-rc/rc-keyboard-mac/src/model/hook/use-effect-listen.ts
  packages-rc/rc-keyboard-mac/src/model/hook/use-effects.ts
  packages-rc/rc-keyboard-mac/src/model/hook/use-handle-key-click.ts
  packages-rc/rc-keyboard-mac/src/model/hook/use-is-shift-on.ts
  packages-rc/rc-keyboard-mac/src/model/hook/use-key-details.ts
  packages-rc/rc-keyboard-mac/src/model/provider/index.tsx
  packages-rc/rc-keyboard-mac/src/model/reducer/index.ts
  packages-rc/rc-keyboard-mac/src/model/reducer/reduce-set-key-details.ts
  packages-rc/rc-keyboard-mac/src/model/types/action.ts
  packages-rc/rc-keyboard-mac/src/model/types/common.ts
  packages-rc/rc-keyboard-mac/src/model/types/props.ts
  packages-rc/rc-keyboard-mac/src/model/types/state.ts
  packages-rc/rc-keyboard-mac/src/model/util/create-initial-state.ts
  packages-rc/rc-keyboard-mac/src/model/util/get-event-details.ts
  packages-rc/rc-keyboard-mac/src/model/util/get-event-info.ts
  packages-rc/rc-keyboard-mac/src/model/util/index.ts
  packages-rc/rc-keyboard-mac/src/ui/const/index.ts
  packages-rc/rc-keyboard-mac/src/ui/rc/keyboard-event-details/index.tsx
  packages-rc/rc-keyboard-mac/src/ui/rc/keyboard-key-name/index.tsx
  packages-rc/rc-keyboard-mac/stories/index.stories.ts
Due: markdownlint-cli2

fix: tab and caps cannot keyup
  packages-rc-headless/rc-headless-keyboard-mac/src/enum/index.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/hook/use-active-codes.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/hook/use-active-modifiers.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/hook/use-codes.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/hook/use-dispatch-pull-active-code.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/hook/use-dispatch-push-active-code.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/hook/use-dispatch-update-active-modifiers.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/hook/use-effect-clear-codes.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/hook/use-effect-listen.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/hook/use-effects.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/hook/use-handle-key-click.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/hook/use-handle-update-active-modifiers.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/hook/use-is-key-active.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/hook/use-is-key-on.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/hook/use-modifier-state.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/index.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/reducer/index.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/reducer/reduce-pull-active-code.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/reducer/reduce-push-active-code.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/reducer/reduce-set-caps-lock.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/reducer/reduce-set-codes.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/reducer/reduce-update-active-modifiers.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/reducer/reduce-update-modifier-state.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/types/action.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/types/common.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/types/props.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/types/state.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/util/create-initial-state.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/util/get-event-info.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/util/index.ts
  packages-rc/rc-keyboard-mac/src/index.ts
  packages-rc/rc-keyboard-mac/stories/index.stories.ts
  packages-rc/rc-keyboard-mac/stories/story-event.tsx
Due: none

fix: tab and caps cannot keyup
  packages-dom/keymap/stories/rc/index.ts
  packages-dom/keymap/stories/rc/keyboard-with-modifiers/index.tsx
  packages-dom/keymap/stories/story-case-sensitive.tsx
  packages-dom/keymap/stories/story-default.tsx
  packages-dom/keymap/stories/story-return-false.tsx
  packages-dom/keymap/stories/util/get-modifier-names-and-symbols.ts
  packages-rc-headless/rc-headless-keyboard-mac/src/types/props.ts
  packages-rc/rc-keyboard-mac/README.md
Due: markdownlint-cli2

fix: tab and caps cannot keyup
  packages-dom/keymap/package.json
  packages-rc/rc-keyboard-mac/package.json
Due: npmPkgJsonLint

docs: kebyard mac with demo
  packages-rc/rc-keyboard-mac/README.md
  packages-rc/rc-keyboard-mac/package.json
Due: npmPkgJsonLint, markdownlint-cli2

docs: kebyard mac with demo
  packages-rc/rc-keyboard-mac/README.md
Due: markdownlint-cli2

chore: up version ✨
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/use-mouse-hover/package.json
  packages-rc/rc-backdrop/package.json
  packages-rc/rc-icon/package.json
  packages-rc/rc-keyboard-mac/package.json
  packages-theme/theme-token-base/package.json
Due: npmPkgJsonLint

fix(keyboard): very fast typing will not clear active status of keys
  packages-rc-headless/rc-headless-keyboard-mac/package.json
  packages-rc-headless/rc-headless-keyboard-mac/src/hook/use-effect-listen.ts
  packages-rc/rc-keyboard-mac/CHANGELOG.md
  packages-rc/rc-keyboard-mac/README.md
  packages-rc/rc-keyboard-mac/package.json
Due: npmPkgJsonLint, markdownlint-cli2

test: up fetch mock
  .ncurc.yml
  packages-demo/demo-rc/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-fetch/test/index.test.ts
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-biz/test/index.test.ts
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-cache-local/test/index.test.ts
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-login/test/index.test.ts
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-merging/test/index.test.ts
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-interceptor-sls/test/index.test.ts
  packages-fetcher/fetcher-interceptor-sls/test/util/get-last-call-body.ts
  packages-fetcher/fetcher/package.json
  packages-fetcher/fetcher/test/basic.test.ts
  packages-fetcher/fetcher/test/body.test.ts
  packages-fetcher/fetcher/test/content-type.test.ts
  packages-fetcher/fetcher/test/interceptor-request.test.ts
  packages-fetcher/fetcher/test/merge-headers.test.ts
  packages-fetcher/fetcher/test/methods.test.ts
  packages-fetcher/fetcher/test/params.test.ts
  packages-fetcher/fetcher/test/response-type.test.ts
  packages-fetcher/fetcher/test/util/setup-fetch-mock.ts
  packages-fetcher/sls-logger-base/package.json
  packages-fetcher/sls-logger-base/test/create-logger.test.ts
  packages-fetcher/sls-logger-base/test/generate-create-logger-base.test.ts
  packages-fetcher/sls-logger-base/test/methods.test.ts
  packages-fetcher/sls-logger-base/test/payload-flatten.test.ts
  packages-fetcher/sls-logger-base/test/payload.test.ts
  packages-fetcher/sls-logger-base/test/peformance-in-mind.test.ts
  packages-fetcher/sls-logger-base/test/util/get-last-call-body.ts
  packages-fetcher/sls-logger-base/test/util/setup-fetch-mock.ts
  packages-fetcher/sls-logger-web/package.json
  packages-fetcher/sls-logger-web/test/index.test.ts
  packages-fetcher/sls-logger-web/test/util/get-last-call-body.ts
  packages-rc/rc-keyboard-mac/README.md
Due: npmPkgJsonLint, markdownlint-cli2

chore: up version ✨
  .lintstagedrc
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/use-mouse-hover/package.json
  packages-rc/rc-backdrop/package.json
  packages-rc/rc-icon/package.json
  packages-rc/rc-keyboard-mac/package.json
  packages-theme/theme-token-base/package.json
Due: npmPkgJsonLint

feat: basic route layout
  packages-dev/stylelint-config/index.js
Due: none

feat: stylelint config with sanity
  package.json
  packages-dev/stylelint-config/README.md
  packages-dev/stylelint-config/config-css.js
  packages-dev/stylelint-config/config-less.js
  packages-dev/stylelint-config/config-order.js
  packages-dev/stylelint-config/config-scss.js
  packages-dev/stylelint-config/config-vue.js
  packages-dev/stylelint-config/index.js
  packages-dev/stylelint-config/package.json
  packages-rc/rc-keyboard-mac/src/ui/rc/keyboard-key/index.tsx
Due: npmPkgJsonLint, markdownlint-cli2

chore: whatever
  packages-hook/react-hook-is-unmounted/README.md
  packages-hook/react-hook-moreact-hook-hover/README.md
  packages-hook/react-hook-with-class/README.md
  packages-rc-headless/rc-headless-button/README.md
  packages-rc-headless/rc-headless-dialog/README.md
  packages-rc-headless/rc-headless-dropdown/README.md
  packages-rc-headless/rc-headless-form/README.md
  packages-rc-headless/rc-headless-input-text/README.md
Due: markdownlint-cli2

chore: whatever
  packages-demo/demo-rc/CHANGELOG.md
  packages-demo/demo-rc/README.md
  packages-demo/demo-rc/package.json
  packages-demo/demo-rc/src/index.ts
  packages-demo/demo-rc/src/rc/index.ts
  packages-demo/demo-rc/stories/code-viewer/const/index.ts
  packages-hook/react-hook-controllable/package.json
  packages-hook/react-hook-is-unmounted/README.md
  packages-hook/react-hook-with-class/README.md
Due: npmPkgJsonLint, markdownlint-cli2

chore: before publish headless form
  packages-rc-headless/rc-headless-form/package.json
Due: npmPkgJsonLint

chore: before publish react-hook-is-unmounted
  packages-hook/react-hook-is-unmounted/package.json
Due: npmPkgJsonLint

chore: before publish rc-headless-form
  packages-rc-headless/rc-headless-form/package.json
Due: npmPkgJsonLint

chore: up version ✨
  packages-dev/stylelint-config/package.json
Due: npmPkgJsonLint

chore: before publish demo-rc
  packages-demo/demo-rc/.npmignore
Due: none

chore: before publish demo-rc
  packages-demo/demo-rc/package.json
Due: npmPkgJsonLint

chore: rename
  .lintstagedrc
  packages-hook/react-hook-mouse-hover/.babelrc.js
  packages-hook/react-hook-mouse-hover/.npmignore
  packages-hook/react-hook-mouse-hover/.storybook/main.ts
  packages-hook/react-hook-mouse-hover/.storybook/preview.ts
  packages-hook/react-hook-mouse-hover/README.md
  packages-hook/react-hook-mouse-hover/package.json
  packages-hook/react-hook-mouse-hover/src/hook/use-mouse-hover.ts
  packages-hook/react-hook-mouse-hover/src/index.ts
  packages-hook/react-hook-mouse-hover/stories/demo-default/index.tsx
  packages-hook/react-hook-mouse-hover/stories/index.stories.tsx
  packages-hook/react-hook-mouse-hover/test/index.test.ts
  packages-hook/react-hook-mouse-hover/tsconfig.json
  packages-hook/react-hook-mouse-hover/tsconfig.node.json
Due: npmPkgJsonLint, markdownlint-cli2

chore: eslint 9
  .depcheckrc.yml
  .eslintrc
  .ncurc.yml
  eslint.config.js
  package.json
  packages-dev/eslint-config/index.js
  packages-dev/eslint-config/package.json
Due: npmPkgJsonLint

chore: rename package folder
  packages-config/eslint-config/index.js
  packages-config/eslint-config/package.json
  packages-config/markdownlint-config/README.md
  packages-config/markdownlint-config/index.yaml
  packages-config/markdownlint-config/package.json
  packages-config/npm-package-json-lint-config/README.md
  packages-config/npm-package-json-lint-config/index.js
  packages-config/npm-package-json-lint-config/package.json
  packages-config/stylelint-config/README.md
  packages-config/stylelint-config/config-css.js
  packages-config/stylelint-config/config-less.js
  packages-config/stylelint-config/config-order.js
  packages-config/stylelint-config/config-scss.js
  packages-config/stylelint-config/config-vue.js
  packages-config/stylelint-config/index.js
  packages-config/stylelint-config/package.json
  packages-config/ts-config/README.md
  packages-config/ts-config/index.json
  packages-config/ts-config/package.json
  packages-config/ts-config/tsconfig-node.json
Due: npmPkgJsonLint, markdownlint-cli2

chore: whatever
  package.json
  packages-config/eslint-config/config-import.js
  packages-config/eslint-config/config-react.js
Due: npmPkgJsonLint

feat(eslint-config): plugin import and react
  package.json
  packages-config/eslint-config/config-import.js
  packages-config/eslint-config/config-react.js
  packages-config/eslint-config/index.js
  packages-config/eslint-config/package.json
  packages-config/npm-package-json-lint-config/index.js
  packages-config/stylelint-config/package.json
  packages-demo/demo-rc/src/rc/alert/rc/index.tsx
Due: npmPkgJsonLint

chore: rm temp
  package.json
Due: npmPkgJsonLint

feat: a new package data normalizer
  packages-util/data-normalizer/.babelrc.js
  packages-util/data-normalizer/.npmignore
  packages-util/data-normalizer/README.md
  packages-util/data-normalizer/package.json
  packages-util/data-normalizer/src/index.ts
  packages-util/data-normalizer/src/types/base-data.ts
  packages-util/data-normalizer/src/types/base-params.ts
  packages-util/data-normalizer/src/types/generic.ts
  packages-util/data-normalizer/src/types/index.ts
  packages-util/data-normalizer/src/util/index.ts
  packages-util/data-normalizer/src/util/normalize-boolean.ts
  packages-util/data-normalizer/src/util/normalize-enum.ts
  packages-util/data-normalizer/src/util/normalize-id.ts
  packages-util/data-normalizer/src/util/normalize-number.ts
  packages-util/data-normalizer/src/util/normalize-paged-list.ts
  packages-util/data-normalizer/src/util/normalize-time.ts
  packages-util/data-normalizer/tsconfig.json
Due: npmPkgJsonLint, markdownlint-cli2

chore: up version ✨
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/react-hook-mouse-hover/package.json
  packages-rc/rc-backdrop/package.json
  packages-rc/rc-icon/package.json
  packages-rc/rc-keyboard-mac/package.json
  packages-theme/theme-token-base/package.json
Due: npmPkgJsonLint

fix: icon rotate can now be negative
  packages-rc/rc-icon-base/package.json
  packages-rc/rc-icon-base/src/icon-base/index.tsx
Due: npmPkgJsonLint

chore: up version ✨
  package.json
  packages-config/markdownlint-config/package.json
  packages-demo/demo-rc/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/sls-logger-base/package.json
  packages-fetcher/sls-logger-web/package.json
Due: npmPkgJsonLint

chore: before pub 🍷
  packages-rc-headless/rc-headless-backdrop/.npmignore
  packages-rc-headless/rc-headless-backdrop/package.json
Due: npmPkgJsonLint

chore: before pub 🍷
  packages-rc/rc-backdrop/package.json
Due: npmPkgJsonLint

chore: before pub 🍷
  packages-rc/rc-icon/package.json
Due: npmPkgJsonLint

chore: before pub 🍷
  packages-rc/rc-button/package.json
Due: npmPkgJsonLint

chore: before pub 🍷
  packages-rc/rc-button/src/ui/util/css-button-shadow.ts
  packages-rc/rc-button/src/ui/util/css-button-size.ts
  packages-rc/rc-button/src/ui/util/get-style-text-align.ts
  packages-rc/rc-button/src/ui/util/is-block.ts
  packages-rc/rc-button/src/ui/util/is-borderless.ts
Due: none
