Repository justnewbee/kcuF: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint-cli2, eslint

.lintstagedrc:

{
  "package.json": "npmPkgJsonLint",
  "*.md": "markdownlint-cli2",
  "*.{jsx?,tsx?}": "eslint"
}

feat(geometry-basic): path split by lines
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-rc/package.json
  packages-dev/markdownlint-config/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/react-hook-mouse-hover/package.json
  packages-rc/rc-backdrop/package.json
  packages-theme/theme-base/package.json
  packages-theme/theme-token-base/package.json
  packages-util/geometry-basic/src/helper/compare-paths.ts
  packages-util/geometry-basic/src/helper/compare-points.ts
  packages-util/geometry-basic/src/helper/line-intersection.ts
  packages-util/geometry-basic/src/helper/line-is-equal.ts
  packages-util/geometry-basic/src/helper/line-standardize.ts
  packages-util/geometry-basic/src/helper/path-intersection-with-line.ts
  packages-util/geometry-basic/src/helper/path-split-by-line.ts
  packages-util/geometry-basic/src/helper/path-split-by-lines.ts
  packages-util/geometry-basic/src/helper/segment-inner-slice-list-by-path.ts
  packages-util/geometry-basic/src/helper/segment-is-on-line.ts
  packages-util/geometry-basic/src/helper/segment-to-line.ts
  packages-util/geometry-basic/test/const/common.ts
  packages-util/geometry-basic/test/const/path-4-square.ts
  packages-util/geometry-basic/test/path-intersection-with-segment.test.ts
  packages-util/geometry-basic/test/path-split-by-lines.test.ts
Due: npmPkgJsonLint

chore: before pub
  packages-canvas/canvas-marking/package.json
  packages-util/geometry-basic/package.json
Due: npmPkgJsonLint

feat(geometry-basic): round coords default 4
  packages-canvas/canvas-marking/package.json
  packages-util/geometry-basic/package.json
  packages-util/geometry-basic/src/helper/from-radians-to-degrees.ts
  packages-util/geometry-basic/src/util/round-coords.ts
  packages-util/geometry-basic/test/round-coords.test.ts
Due: npmPkgJsonLint

feat(canvas-marking): select item as public api
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/enum/index.ts
  packages-canvas/canvas-marking/src/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/create-stats-style.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/display-boolean.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/display-coords-and-index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/display-coords.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/display-percentage.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/display-size.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/get-stats-display-html.ts
  packages-canvas/canvas-marking/src/types/common.ts
  packages-canvas/canvas-marking/src/types/marking-stage-class.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/index.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-handle-highlight-next-border.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-handle-highlight-next.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-handle-highlight-none.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-handle-highlight-prev-border.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-handle-highlight-prev.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-handle-highlight.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-handle-select.ts
  packages-canvas/canvas-marking/stories/demo-ui/ops/index.tsx
  packages-canvas/canvas-marking/stories/demo-ui/ops/ops-highlight.tsx
  packages-canvas/canvas-marking/stories/demo-ui/ops/ops-image-data.tsx
  packages-canvas/canvas-marking/stories/demo-ui/ops/ops-markings.tsx
  packages-canvas/canvas-marking/stories/demo-ui/ops/ops-overall.tsx
  packages-canvas/canvas-marking/stories/demo-ui/ops/ops-select.tsx
  packages-canvas/canvas-marking/stories/demo-ui/ops/ops-zoom.tsx
Due: none

chore: before pub
  packages-canvas/canvas-marking/package.json
Due: npmPkgJsonLint

feat(marking): some more onXx callbacks
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/types/options.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-handle-init.ts
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-rc/package.json
  packages-dom/mere-dom/package.json
  packages-dom/sandbox-escape/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/react-hook-click-away/package.json
  packages-hook/react-hook-controllable/package.json
  packages-hook/react-hook-is-unmounted/package.json
  packages-hook/react-hook-mouse-hover/package.json
  packages-hook/react-hook-with-class/package.json
  packages-rc-headless/rc-headless-alert/package.json
  packages-rc-headless/rc-headless-backdrop/package.json
  packages-rc-headless/rc-headless-button/package.json
  packages-rc-headless/rc-headless-form/package.json
  packages-rc-headless/rc-headless-input-text/package.json
  packages-rc/rc-backdrop/package.json
  packages-theme/theme-base/package.json
  packages-theme/theme-helper-code-gen/package.json
  packages-theme/theme-token-base/package.json
  packages-util/base64/package.json
  packages-util/geometry-basic/package.json
  packages-util/geometry-extended/package.json
  packages-util/json-stringify-ordered/package.json
  packages-util/ts-missing-helpers/package.json
Due: npmPkgJsonLint

feat(canvas-marking): events better
  .ncurc.yml
  jest.config.js
  package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/get-stats-display-html.ts
  packages-canvas/canvas-marking/src/types/common.ts
  packages-canvas/canvas-marking/src/types/events.ts
  packages-canvas/canvas-marking/src/types/index.ts
  packages-canvas/canvas-marking/src/types/marking-stage-class.ts
  packages-canvas/canvas-marking/src/types/options.ts
  packages-demo/demo-rc/package.json
  packages-util/subscribable/.babelrc.js
  packages-util/subscribable/package.json
  packages-util/subscribable/src/index.ts
  packages-util/subscribable/src/types/index.ts
  packages-util/subscribable/tsconfig.json
  script/template-rc-swc/package.json
  script/template-rc/package.json
Due: npmPkgJsonLint

feat(canvas-marking): a subscribable to to emit and on
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/types/events.ts
  packages-canvas/canvas-marking/src/types/marking-item-class.ts
  packages-canvas/canvas-marking/src/types/marking-stage-class.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-effect-log-events.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-effects.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-handle-init.ts
  packages-canvas/canvas-marking/stories/demo-ui/ops/ops-overall.tsx
  packages-util/subscribable/README.md
  packages-util/subscribable/package.json
  packages-util/subscribable/src/index.ts
  packages-util/subscribable/src/types/index.ts
Due: npmPkgJsonLint, markdownlint-cli2

chore: up ✨
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-rc/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/react-hook-mouse-hover/package.json
  packages-rc/rc-backdrop/package.json
  packages-theme/theme-base/package.json
  packages-theme/theme-token-base/package.json
Due: npmPkgJsonLint

fix(canvas-marking): highlighting tuning
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/types/options.ts
  packages-canvas/canvas-marking/stories/demo-ui/ops/ops-highlight.tsx
  packages-canvas/canvas-marking/stories/demo-ui/ops/ops-select.tsx
Due: npmPkgJsonLint

feat(canvas-marking): beforeDragEnd hook method
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/types/events.ts
  packages-canvas/canvas-marking/src/types/marking-item-class.ts
  packages-canvas/canvas-marking/src/types/options.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/index.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-effect-init.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-init.ts
  packages-canvas/canvas-marking/stories/demo-ui/ops/ops-overall.tsx
Due: npmPkgJsonLint

feat(marking): beforeCreateComplete and beforeEditDragEnd
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/types/events.ts
  packages-canvas/canvas-marking/src/types/marking-item-class.ts
  packages-canvas/canvas-marking/src/types/options.ts
  packages-hook/react-hook-click-away/package.json
  packages-hook/react-hook-controllable/package.json
  packages-hook/react-hook-is-unmounted/package.json
  packages-theme/theme-helper-code-gen/package.json
  packages-util/base64/package.json
  packages-util/geometry-basic/package.json
  packages-util/json-stringify-ordered/package.json
Due: npmPkgJsonLint

fix(marking): type better
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/types/events.ts
Due: npmPkgJsonLint

chore: update and add npmrc in git
  .gitignore
  package.json
  packages-fetcher/fetcher/package.json
  packages-hook/react-hook-click-away/package.json
  packages-hook/react-hook-controllable/package.json
  packages-hook/react-hook-is-unmounted/package.json
  packages-theme/theme-helper-code-gen/package.json
  packages-util/base64/package.json
  packages-util/geometry-basic/package.json
  packages-util/json-stringify-ordered/package.json
Due: npmPkgJsonLint

chore: update and add npmrc in git
  .npmrc
Due: none

test(fetch-fetch): 100 cov
  packages-fetcher/aliyun-sls-logger-factory/.babelrc.js
  packages-fetcher/aliyun-sls-logger-factory/.npmignore
  packages-fetcher/aliyun-sls-logger-factory/package.json
  packages-fetcher/aliyun-sls-logger-factory/src/const/index.ts
  packages-fetcher/aliyun-sls-logger-factory/src/factory/create-logger-factory.ts
  packages-fetcher/aliyun-sls-logger-factory/src/factory/create-logger.ts
  packages-fetcher/aliyun-sls-logger-factory/src/index.ts
  packages-fetcher/aliyun-sls-logger-factory/src/types/index.ts
  packages-fetcher/aliyun-sls-logger-factory/src/util/build-post-body.ts
  packages-fetcher/aliyun-sls-logger-factory/src/util/convert-error-to-plain.ts
  packages-fetcher/aliyun-sls-logger-factory/src/util/convert-log-info.ts
  packages-fetcher/aliyun-sls-logger-factory/src/util/flatten-object.ts
  packages-fetcher/aliyun-sls-logger-factory/src/util/flatten-should-ignore.ts
  packages-fetcher/aliyun-sls-logger-factory/src/util/get-log-once-key.ts
  packages-fetcher/aliyun-sls-logger-factory/src/util/index.ts
  packages-fetcher/aliyun-sls-logger-factory/src/util/log-pipe.ts
  packages-fetcher/aliyun-sls-logger-factory/src/util/merge-default-params.ts
  packages-fetcher/aliyun-sls-logger-factory/src/util/merge-on-before-send.ts
  packages-fetcher/aliyun-sls-logger-factory/src/util/send-logs.ts
  packages-fetcher/aliyun-sls-logger-factory/tsconfig.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-fetch/test/index.test.ts
  packages-hook/react-hook-click-away/package.json
  packages-hook/react-hook-controllable/package.json
  packages-hook/react-hook-is-unmounted/package.json
  packages-theme/theme-helper-code-gen/package.json
  packages-util/base64/test/index.test.ts
  packages-util/geometry-basic/package.json
  packages-util/geometry-basic/test/convert-angle.test.ts
  packages-util/json-stringify-ordered/package.json
Due: npmPkgJsonLint

test: test fetcher stuff
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-rc/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-fetch/src/index.ts
  packages-fetcher/fetcher-fetch/src/util/fetcher-fetch.ts
  packages-fetcher/fetcher-fetch/test/index.test.ts
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher-jsonp/test/index.test.ts
  packages-fetcher/fetcher/package.json
  packages-fetcher/fetcher/src/util/fetch-x.ts
  packages-hook/react-hook-click-away/package.json
  packages-hook/react-hook-controllable/package.json
  packages-hook/react-hook-is-unmounted/package.json
  packages-hook/react-hook-mouse-hover/package.json
  packages-hook/react-hook-with-class/package.json
  packages-rc-headless/rc-headless-alert/package.json
  packages-rc-headless/rc-headless-backdrop/package.json
  packages-rc-headless/rc-headless-button/package.json
  packages-rc-headless/rc-headless-form/package.json
  packages-rc-headless/rc-headless-input-text/package.json
  packages-rc/rc-backdrop/package.json
  packages-theme/theme-base/package.json
  packages-theme/theme-token-base/package.json
Due: npmPkgJsonLint

test(fetcher): test better
  packages-fetcher/fetcher-fetch/src/enum/index.ts
  packages-fetcher/fetcher-fetch/src/index.ts
  packages-fetcher/fetcher-fetch/src/util/create-error.ts
  packages-fetcher/fetcher-fetch/src/util/fetcher-fetch.ts
  packages-fetcher/fetcher-fetch/test/index.test.ts
  packages-fetcher/fetcher-interceptor-biz/test/index.test.ts
  packages-fetcher/fetcher-jsonp/src/enum/index.ts
  packages-fetcher/fetcher-jsonp/src/index.ts
  packages-fetcher/fetcher-jsonp/src/util/create-error.ts
  packages-fetcher/fetcher-jsonp/src/util/jsonp.ts
  packages-fetcher/fetcher-jsonp/test/index.test.ts
  packages-fetcher/fetcher/package.json
  packages-fetcher/fetcher/src/factory/request-with-body.ts
  packages-fetcher/fetcher/src/factory/request-with-no-body.ts
  packages-fetcher/fetcher/src/fetcher/index.ts
  packages-fetcher/fetcher/src/types/class.ts
  packages-fetcher/fetcher/src/types/fetcher.ts
  packages-fetcher/fetcher/src/util/convert-error.ts
  packages-fetcher/fetcher/test/index.test.ts
Due: npmPkgJsonLint

test(fetcher-biz): almost 100%
  .lintstagedrc
  packages-fetcher/fetcher-interceptor-biz/test/index.test.ts
Due: none

chore: before pub
  packages-canvas/canvas-marking/package.json
  packages-dom/mere-dom/package.json
  packages-fetcher/aliyun-sls-logger-factory/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-theme/theme-helper-code-gen/package.json
  packages-util/geometry-basic/package.json
  packages-util/subscribable/package.json
Due: npmPkgJsonLint

test(fetcher-cache-local): 85%+
  packages-fetcher/fetcher-interceptor-cache-local/test/index.test.ts
Due: none

test(fetcher-merging): good
  packages-fetcher/fetcher-interceptor-cache-local/src/util/parse-cache-local-options.ts
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-merging/src/types/fetcher-config.ts
  packages-fetcher/fetcher-interceptor-merging/src/types/options.ts
  packages-fetcher/fetcher-interceptor-merging/src/util/parse-merging-options.ts
  packages-fetcher/fetcher-interceptor-merging/test/index.test.ts
Due: npmPkgJsonLint

feat(fetcher): interceptor sls
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-sls/.babelrc.js
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-interceptor-sls/src/index.ts
  packages-fetcher/fetcher-interceptor-sls/src/intercept/index.ts
  packages-fetcher/fetcher-interceptor-sls/src/types/index.ts
  packages-fetcher/fetcher-interceptor-sls/stories/index.stories.ts
  packages-fetcher/fetcher-interceptor-sls/stories/story-methods.tsx
  packages-fetcher/fetcher-interceptor-sls/stories/types/index.ts
  packages-fetcher/fetcher-interceptor-sls/test/index.test.ts
  packages-fetcher/fetcher-interceptor-sls/tsconfig.json
  packages-fetcher/fetcher-interceptor-sls/tsconfig.node.json
  packages-fetcher/fetcher/README.md
  packages-fetcher/fetcher/package.json
  packages-fetcher/fetcher/src/util/convert-response-from-fetch.ts
  packages-fetcher/sls-logger-base/README.md
  packages-fetcher/sls-logger-base/package.json
  packages-fetcher/sls-logger-base/src/class/sls-logger.ts
  packages-fetcher/sls-logger-base/src/types/common.ts
  packages-fetcher/sls-logger-base/src/types/options.ts
  packages-fetcher/sls-logger-base/src/util/flatten-object.ts
  packages-fetcher/sls-logger-base/src/util/flatten-should-ignore.ts
  packages-fetcher/sls-logger-base/test/index.test.ts
  packages-fetcher/sls-logger-web/package.json
Due: npmPkgJsonLint, markdownlint-cli2

feat(sls): flatten with pass feature
  packages-canvas/canvas-marking/output.txt
  packages-canvas/canvas-marking/src/types/plugin.ts
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-interceptor-sls/src/intercept/index.ts
  packages-fetcher/fetcher-interceptor-sls/test/const/index.ts
  packages-fetcher/fetcher-interceptor-sls/test/index.test.ts
  packages-fetcher/fetcher-interceptor-sls/test/util/get-last-call-body.ts
  packages-fetcher/fetcher-interceptor-sls/test/util/index.ts
  packages-fetcher/fetcher-interceptor-sls/test/util/sleep.ts
  packages-fetcher/sls-logger-base/package.json
  packages-fetcher/sls-logger-base/src/class/sls-logger.ts
  packages-fetcher/sls-logger-base/src/factory/generate-create-logger.ts
  packages-fetcher/sls-logger-base/src/types/common.ts
  packages-fetcher/sls-logger-base/src/types/options.ts
  packages-fetcher/sls-logger-base/src/util/flatten-object.ts
  packages-fetcher/sls-logger-base/src/util/flatten-should-ignore.ts
  packages-fetcher/sls-logger-base/src/util/flatten-test-path.ts
  packages-fetcher/sls-logger-base/src/util/index.ts
  packages-fetcher/sls-logger-base/src/util/merge-dont-send.ts
  packages-fetcher/sls-logger-base/src/util/merge-should-ignore.ts
  packages-fetcher/sls-logger-base/test/const/index.ts
  packages-fetcher/sls-logger-base/test/index.test.ts
  packages-fetcher/sls-logger-base/test/util/get-last-call-body.ts
  packages-fetcher/sls-logger-base/test/util/index.ts
  packages-fetcher/sls-logger-base/test/util/sender.ts
  packages-fetcher/sls-logger-base/test/util/sleep.ts
  packages-fetcher/sls-logger-web/package.json
  packages-fetcher/sls-logger-web/test/const/index.ts
  packages-fetcher/sls-logger-web/test/index.test.ts
  packages-fetcher/sls-logger-web/test/util/get-last-call-body.ts
  packages-fetcher/sls-logger-web/test/util/index.ts
  packages-fetcher/sls-logger-web/test/util/sleep.ts
Due: npmPkgJsonLint

chore: readme
  packages-fetcher/fetcher-interceptor-sls/README.md
  packages-fetcher/fetcher-interceptor-sls/package.json
Due: npmPkgJsonLint, markdownlint-cli2

chore: up ✨
  package.json
  packages-demo/demo-rc/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/sls-logger-base/package.json
  packages-fetcher/sls-logger-web/package.json
  packages-hook/react-hook-click-away/package.json
  packages-hook/react-hook-controllable/package.json
  packages-hook/react-hook-is-unmounted/package.json
Due: npmPkgJsonLint

feat(storage-factory): a type safe storage factory
  packages-util/storage-factory/.babelrc.js
  packages-util/storage-factory/README.md
  packages-util/storage-factory/package.json
  packages-util/storage-factory/src/index.ts
  packages-util/storage-factory/src/types/index.ts
  packages-util/storage-factory/src/util/storage-factory.ts
  packages-util/storage-factory/test/index.test.ts
  packages-util/storage-factory/tsconfig.json
Due: npmPkgJsonLint, markdownlint-cli2

feat(storage): save whole
  packages-util/storage-factory/src/types/index.ts
  packages-util/storage-factory/src/util/storage-factory.ts
Due: none

feat(storage): save whole
  packages-util/storage-factory/package.json
Due: npmPkgJsonLint

feat(fetcher): default intercept with priority as arg
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-biz/src/util/intercept.ts
  packages-fetcher/fetcher-interceptor-cache-local/README.md
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-cache-local/src/util/intercept.ts
  packages-fetcher/fetcher-interceptor-merging/README.md
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-merging/src/util/intercept.ts
  packages-fetcher/fetcher-interceptor-merging/src/util/merging-reject.ts
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-interceptor-sls/src/intercept/index.ts
  packages-fetcher/fetcher/package.json
  packages-fetcher/fetcher/src/fetcher/index.ts
  packages-fetcher/fetcher/src/util/convert-error.ts
  packages-fetcher/fetcher/src/util/filter-and-sort-interceptors.ts
  packages-fetcher/fetcher/test/index.test.ts
Due: npmPkgJsonLint, markdownlint-cli2

chore: more npm ignores
  packages-canvas/canvas-helper/.npmignore
  packages-canvas/canvas-marking/.npmignore
  packages-canvas/canvas-marking/output.txt
  packages-fetcher/fetcher-fetch/.npmignore
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/.npmignore
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/.npmignore
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/.npmignore
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/.npmignore
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-jsonp/.npmignore
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/.npmignore
  packages-fetcher/fetcher/package.json
  packages-fetcher/sls-logger-base/.npmignore
  packages-fetcher/sls-logger-base/package.json
  packages-fetcher/sls-logger-web/.npmignore
  packages-fetcher/sls-logger-web/package.json
  packages-hook/react-hook-click-away/.npmignore
  packages-hook/react-hook-controllable/.npmignore
  packages-hook/react-hook-fullscreen/.npmignore
  packages-hook/react-hook-is-unmounted/.npmignore
  packages-hook/react-hook-mouse-hover/.npmignore
  packages-hook/react-hook-with-class/.npmignore
  packages-rc/rc-backdrop/.npmignore
  packages-rc/rc-input-text/.npmignore
  packages-util/base64/.npmignore
  packages-util/geometry-basic/.npmignore
  packages-util/geometry-basic/package.json
  packages-util/geometry-extended/.npmignore
  packages-util/iconfont-helper/.npmignore
  packages-util/json-stringify-ordered/.npmignore
  packages-util/json-stringify-ordered/package.json
  packages-util/storage-factory/.npmignore
  packages-util/storage-factory/package.json
  packages-util/subscribable/.npmignore
  packages-util/ts-missing-helpers/.npmignore
Due: npmPkgJsonLint

chore: typing
  packages-fetcher/fetcher/src/types/interceptor.ts
Due: none

fix(fetcher-merging): added config _byInterceptor to avoid merging pending after login interceptor
  packages-fetcher/fetcher-interceptor-merging/src/types/fetcher-config.ts
  packages-fetcher/fetcher-interceptor-merging/src/util/parse-merging-options.ts
  packages-fetcher/fetcher/src/fetcher/index.ts
  packages-fetcher/fetcher/src/types/config.ts
  packages-fetcher/fetcher/src/types/interceptor.ts
Due: none

feat(storage-factory): now all return the whole data
  packages-util/storage-factory/package.json
  packages-util/storage-factory/src/types/index.ts
  packages-util/storage-factory/src/util/storage-factory.ts
Due: npmPkgJsonLint

chore: up dep ✨
  .depcheckrc.yml
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-rc/package.json
  packages-dom/mere-dom/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/sls-logger-base/package.json
  packages-fetcher/sls-logger-web/package.json
  packages-hook/react-hook-click-away/package.json
  packages-hook/react-hook-controllable/package.json
  packages-hook/react-hook-is-unmounted/package.json
  packages-hook/react-hook-mouse-hover/package.json
  packages-hook/react-hook-with-class/package.json
  packages-rc-headless/rc-headless-alert/package.json
  packages-rc-headless/rc-headless-backdrop/package.json
  packages-rc-headless/rc-headless-button/package.json
  packages-rc-headless/rc-headless-form/package.json
  packages-rc-headless/rc-headless-input-text/package.json
  packages-rc/rc-backdrop/package.json
  packages-theme/theme-base/package.json
  packages-theme/theme-helper-code-gen/package.json
  packages-theme/theme-token-base/package.json
  packages-util/geometry-basic/package.json
  packages-util/subscribable/package.json
Due: npmPkgJsonLint

fix(canvas-marking): magnet and snap logic small change
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/enum/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-snapping/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/create-stats-style.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/get-stats-display-html.ts
  packages-canvas/canvas-marking/src/types/marking-item-class.ts
  packages-canvas/canvas-marking/src/types/marking-stage-class.ts
  packages-canvas/canvas-marking/src/types/stats.ts
  packages-canvas/canvas-marking/stories/demo-model/enum/index.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/index.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-dispatch-toggle-floating-visible.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-floating-visible.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-handle-toggle-floating-visible.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-init.ts
  packages-canvas/canvas-marking/stories/demo-model/reducer/index.ts
  packages-canvas/canvas-marking/stories/demo-model/reducer/reduce-set-marking-stage-stats.ts
  packages-canvas/canvas-marking/stories/demo-model/reducer/reduce-toggle-floating-visible.ts
  packages-canvas/canvas-marking/stories/demo-model/reducer/reduce-toggle-log-events.ts
  packages-canvas/canvas-marking/stories/demo-model/types/action.ts
  packages-canvas/canvas-marking/stories/demo-model/types/state.ts
  packages-canvas/canvas-marking/stories/demo-model/util/create-initial-state.ts
  packages-canvas/canvas-marking/stories/demo-ui/floating/index.tsx
  packages-canvas/canvas-marking/stories/demo-ui/index.tsx
  packages-canvas/canvas-marking/stories/demo-ui/ops/ops-overall.tsx
  packages-demo/demo-rc/src/types/table.ts
Due: none
