Repository justnewbee/kcuF: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint-cli2, eslint

.lintstagedrc:

{
  "package.json": "npmPkgJsonLint",
  "*.md": "markdownlint-cli2",
  "*.{jsx?,tsx?}": "eslint"
}

chore: version 000
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-rc/package.json
  packages-dom/mere-dom/package.json
  packages-dom/sandbox-escape/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/react-hook-click-away/package.json
  packages-hook/react-hook-controllable/package.json
  packages-hook/react-hook-is-unmounted/package.json
  packages-hook/react-hook-mouse-hover/package.json
  packages-hook/react-hook-with-class/package.json
  packages-rc-headless/rc-headless-alert/package.json
  packages-rc-headless/rc-headless-backdrop/package.json
  packages-rc-headless/rc-headless-button/package.json
  packages-rc-headless/rc-headless-form/package.json
  packages-rc-headless/rc-headless-input-text/package.json
  packages-rc/rc-backdrop/package.json
  packages-theme/theme-base/package.json
  packages-theme/theme-helper-code-gen/package.json
  packages-theme/theme-token-base/package.json
  packages-util/base64/package.json
  packages-util/geometry-basic/package.json
  packages-util/geometry-extended/package.json
  packages-util/json-stringify-ordered/package.json
  packages-util/ts-missing-helpers/package.json
  script/template-rc-headless/package.json
  script/template-rc-swc/package.json
  script/template-rc/package.json
Due: npmPkgJsonLint

chore: rm useless
  packages-demo/demo-rc/package.json
  packages-demo/demo-rc/src-xx/rc/choice-group/index.tsx
  packages-demo/demo-rc/src-xx/rc/code-viewer-html/index.tsx
  packages-demo/demo-rc/src-xx/rc/code-viewer-js/index.tsx
  packages-demo/demo-rc/src-xx/rc/code-viewer-json/index.tsx
  packages-demo/demo-rc/src-xx/rc/code-viewer-less/index.tsx
  packages-demo/demo-rc/src-xx/rc/code-viewer-markdown/index.tsx
  packages-demo/demo-rc/src-xx/rc/code-viewer-ts/index.tsx
  packages-demo/demo-rc/src-xx/rc/code-viewer/index.tsx
  packages-demo/demo-rc/src-xx/rc/component-testing/index.tsx
  packages-demo/demo-rc/src-xx/rc/flex-100hbf/index.tsx
  packages-demo/demo-rc/src-xx/rc/flex/index.tsx
  packages-demo/demo-rc/src-xx/rc/index.ts
  packages-demo/demo-rc/src-xx/rc/input-json-object/index.tsx
  packages-demo/demo-rc/src-xx/rc/solo-pane/index.tsx
  packages-demo/demo-rc/stories-xx/_shared/index.tsx
  packages-demo/demo-rc/stories-xx/demo-code-viewer/index.tsx
  packages-demo/demo-rc/stories-xx/demo-component-testing/index.tsx
  packages-demo/demo-rc/stories-xx/demo-container/index.tsx
  packages-demo/demo-rc/stories-xx/demo-default/index.tsx
  packages-demo/demo-rc/stories-xx/demo-extended/index.tsx
  packages-demo/demo-rc/stories-xx/demo-form-control/index.tsx
  packages-demo/demo-rc/stories-xx/demo-form/index.tsx
  packages-demo/demo-rc/stories-xx/demo-input-json-object/index.tsx
  packages-demo/demo-rc/stories-xx/demo-solo-pane/index.tsx
  packages-demo/demo-rc/stories-xx/demo-special/index.tsx
  packages-demo/demo-rc/stories-xx/index.stories.tsx
  packages-rc-headless/rc-headless-form/package.json
Due: npmPkgJsonLint

chore: up version
  packages-hook/react-hook-controllable/package.json
Due: npmPkgJsonLint

chore: should every package has its own .npmignore
  packages-hook/react-hook-controllable/.npmignore
Due: none

chore: npmignore
  packages-hook/react-hook-is-unmounted/.npmignore
Due: none

chore: version
  packages-hook/react-hook-is-unmounted/package.json
Due: npmPkgJsonLint

chore: version for @kcuf/geometry-basic
  package.json
  packages-util/geometry-basic/package.json
Due: npmPkgJsonLint

chore: missing .npmignore
  packages-canvas/canvas-helper/package.json
  packages-util/geometry-basic/.npmignore
  packages-util/geometry-basic/package.json
Due: npmPkgJsonLint

chore: add npmignore
  packages-canvas/canvas-helper/.npmignore
Due: none

chore: canvas marking first pub
  packages-canvas/canvas-marking/.npmignore
  packages-canvas/canvas-marking/README.md
  packages-canvas/canvas-marking/_original/assets/css/master.css
  packages-canvas/canvas-marking/_original/assets/css/style.css
  packages-canvas/canvas-marking/_original/assets/js/app.js
  packages-canvas/canvas-marking/_original/assets/js/codepen.js
  packages-canvas/canvas-marking/_original/assets/js/dat.gui.js
  packages-canvas/canvas-marking/_original/assets/js/gui.js
  packages-canvas/canvas-marking/_original/assets/js/jquery-2.1.3.js
  packages-canvas/canvas-marking/_original/assets/js/particles.js
  packages-canvas/canvas-marking/_original/assets/js/stats.js
  packages-canvas/canvas-marking/_original/assets/preset/bubble.json
  packages-canvas/canvas-marking/_original/assets/preset/default.json
  packages-canvas/canvas-marking/_original/assets/preset/nasa.json
  packages-canvas/canvas-marking/_original/assets/preset/nyancat2.json
  packages-canvas/canvas-marking/_original/assets/preset/snow.json
  packages-canvas/canvas-marking/_original/index.html
  packages-canvas/canvas-marking/_original/index2.html
  packages-canvas/canvas-marking/package.json
Due: npmPkgJsonLint, markdownlint-cli2

feat(canvas-marking): hold space to move
  .eslintrc
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/const/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-magnet/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-move/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-zoom/index.ts
  packages-canvas/canvas-marking/src/types/marking-stage-class.ts
  packages-canvas/canvas-marking/src/util/bind-document-event.ts
  packages-canvas/canvas-marking/src/util/index.ts
Due: none

feat(canvas-marking): shift snapping
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/enum/index.ts
  packages-canvas/canvas-marking/src/plugin/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-fps/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-snapping/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/get-stats-display-html.ts
  packages-canvas/canvas-marking/src/types/marking-item-class.ts
  packages-canvas/canvas-marking/src/types/marking-stage-class.ts
  packages-util/geometry-basic/src/helper/get-snapping-point.ts
  packages-util/geometry-basic/src/helper/index.ts
Due: none

chore: ready pub gemetry-basic
  packages-util/geometry-basic/package.json
Due: npmPkgJsonLint

chore: ready pub canvas-marking
  packages-canvas/canvas-marking/package.json
Due: npmPkgJsonLint

fix(canvas-marking): point style type missused
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/util/marking-draw-point.ts
  packages-canvas/canvas-marking/stories/story-default.tsx
Due: npmPkgJsonLint

fix: cannot use npm publish, it will NOT replace workspace protocol
  packages-canvas/canvas-marking/package.json
Due: npmPkgJsonLint

fix(canvas-marking): delete did not trigger render
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/marking-stage.ts
Due: npmPkgJsonLint

fix(canvas-marking): editing cancel or complete did not clear enough
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/enum/index.ts
Due: npmPkgJsonLint

chore: up ✨
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-rc/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/react-hook-click-away/package.json
  packages-hook/react-hook-controllable/package.json
  packages-hook/react-hook-is-unmounted/package.json
  packages-hook/react-hook-mouse-hover/package.json
  packages-hook/react-hook-with-class/package.json
  packages-rc-headless/rc-headless-alert/package.json
  packages-rc-headless/rc-headless-backdrop/package.json
  packages-rc-headless/rc-headless-button/package.json
  packages-rc-headless/rc-headless-form/package.json
  packages-rc-headless/rc-headless-input-text/package.json
  packages-rc/rc-backdrop/package.json
  packages-theme/theme-base/package.json
  packages-theme/theme-token-base/package.json
Due: npmPkgJsonLint

feat(canvas-marking): onXx rename and add onClick
  package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/const/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-tooltip/util/get-tooltip-message-basic.ts
  packages-canvas/canvas-marking/src/types/options.ts
  packages-canvas/canvas-marking/stories/story-default.tsx
Due: npmPkgJsonLint

fix(canvas-marking): multiple setData will result in dup items
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/marking-stage.ts
Due: npmPkgJsonLint

fix(canvas-marking): should not draw or push point when creating and mouse not in canvas
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/marking-stage.ts
Due: npmPkgJsonLint

feat(canvas-marking): default style tuning
  package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/const/index.ts
Due: npmPkgJsonLint

chore: up ✨
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/const/index.ts
  packages-canvas/canvas-marking/stories/const/marking-items-girl.ts
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-rc/package.json
  packages-dom/mere-dom/package.json
  packages-dom/sandbox-escape/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/react-hook-click-away/package.json
  packages-hook/react-hook-controllable/package.json
  packages-hook/react-hook-is-unmounted/package.json
  packages-hook/react-hook-mouse-hover/package.json
  packages-hook/react-hook-with-class/package.json
  packages-rc-headless/rc-headless-alert/package.json
  packages-rc-headless/rc-headless-backdrop/package.json
  packages-rc-headless/rc-headless-button/package.json
  packages-rc-headless/rc-headless-form/package.json
  packages-rc-headless/rc-headless-input-text/package.json
  packages-rc/rc-backdrop/package.json
  packages-theme/theme-base/package.json
  packages-theme/theme-helper-code-gen/package.json
  packages-theme/theme-token-base/package.json
  packages-util/base64/package.json
  packages-util/geometry-basic/package.json
  packages-util/geometry-extended/package.json
  packages-util/json-stringify-ordered/package.json
  packages-util/ts-missing-helpers/package.json
Due: npmPkgJsonLint

chore: depcheck
  .depcheckrc.yml
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-rc/package.json
  packages-hook/react-hook-controllable/package.json
  packages-theme/theme-base/package.json
Due: npmPkgJsonLint

feat(canvas-marking): aux logic improved
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/const/index.ts
  packages-canvas/canvas-marking/src/types/options.ts
  packages-demo/demo-rc/package.json
  packages-util/geometry-basic/package.json
  packages-util/geometry-basic/src/helper/get-auxiliary-segment-list.ts
  packages-util/geometry-basic/src/helper/get-path-edge-and-center-points-array.ts
  packages-util/geometry-basic/src/helper/get-path-edge-and-center-points.ts
  packages-util/geometry-basic/src/helper/index.ts
  packages-util/geometry-basic/src/helper/is-segment-equal.ts
  packages-util/geometry-basic/src/index.ts
  packages-util/geometry-basic/src/types/index.ts
  packages-util/geometry-extended/src/helper/get-polygon-intersection-path-list.ts
Due: npmPkgJsonLint

chore: canvas marking version bump
  packages-canvas/canvas-marking/package.json
Due: npmPkgJsonLint

fix(canvas-marking): aux when creating
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/marking-stage.ts
Due: npmPkgJsonLint

feat(canvas-marking): display hover point in plugin stats
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/plugin/plugin-cursor/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/create-stats-style.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/get-stats-display-html.ts
  packages-canvas/canvas-marking/src/plugin/plugin-tooltip/util/get-tooltip-message-basic.ts
  packages-canvas/canvas-marking/src/types/stats.ts
  packages-demo/demo-rc/stories/codemirror/story-default.tsx
  packages-hook/react-hook-click-away/package.json
  packages-hook/react-hook-controllable/package.json
  packages-hook/react-hook-is-unmounted/package.json
  packages-util/geometry-basic/package.json
  packages-util/geometry-basic/src/helper/get-segment-inside-polygon-length.ts
  packages-util/geometry-basic/src/helper/index.ts
  packages-util/geometry-basic/src/helper/is-point-in-path.ts
  packages-util/geometry-basic/src/helper/is-point-on-path.ts
  packages-util/geometry-basic/test/get-segment-inside-polygon-length.test.ts
  packages-util/geometry-basic/test/get-segment-intersection-point.test.ts
  packages-util/geometry-basic/test/get-segment-length.test.ts
  packages-util/geometry-basic/test/get-segment-list.test.ts
  packages-util/geometry-basic/test/get-segment-middle-point.test.ts
  packages-util/geometry-basic/test/get-segment-projection.test.ts
  packages-util/geometry-basic/test/is-point-equal.test.ts
  packages-util/geometry-basic/test/is-point-in-path.test.ts
  packages-util/geometry-basic/test/is-point-on-path.test.ts
  packages-util/geometry-basic/test/is-point-on-segment.test.ts
  packages-util/geometry-basic/test/is-segment-equal.test.ts
  packages-util/geometry-basic/test/round-coords.test.ts
Due: npmPkgJsonLint

test(geometry-basic): getSegmentInsidePolygonLength
  packages-util/geometry-basic/test/get-segment-inside-polygon-length.test.ts
Due: none

fix(geometry-basic): segment inner slice by path total length logic
  packages-canvas/canvas-marking/package.json
  packages-util/geometry-basic/package.json
  packages-util/geometry-basic/src/helper/get-point-distance.ts
  packages-util/geometry-basic/src/helper/get-segment-inner-slice-list-by-path.ts
  packages-util/geometry-basic/src/helper/get-segment-inner-slice-total-length-by-path.ts
  packages-util/geometry-basic/src/helper/get-segment-inside-polygon-length.ts
  packages-util/geometry-basic/src/helper/get-segment-intersection-point.ts
  packages-util/geometry-basic/src/helper/index.ts
  packages-util/geometry-basic/src/helper/round-coords.ts
  packages-util/geometry-basic/test/get-segment-inside-polygon-length.test.ts
Due: npmPkgJsonLint

test: undo comment out
  packages-util/geometry-basic/test/get-segment-inner-slice-total-length-by-path.test.ts
  packages-util/geometry-basic/test/get-segment-inside-polygon-length.test.ts
Due: none

chore: ready to pub sandbox-escape
  packages-dom/sandbox-escape/package.json
  packages-fetcher/fetcher-fetch/README.md
  packages-fetcher/fetcher-jsonp/README.md
  packages-fetcher/fetcher-jsonp/package.json
Due: npmPkgJsonLint, markdownlint-cli2

chore: ready pub fetcher-fetch
  packages-fetcher/fetcher-fetch/package.json
Due: npmPkgJsonLint

chore: up ✨
  packages-fetcher/fetcher-fetch/package.json
Due: npmPkgJsonLint

chore: ready to pub fetcher
  packages-fetcher/fetcher/package.json
Due: npmPkgJsonLint

chore: ready to pub fetcher interceptor biz
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-biz/stories/story-methods.tsx
Due: npmPkgJsonLint
