Repository justnewbee/kcuF: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: useFullscreen
  package.json
  packages-hook/use-fullscreen/.storybook/main.ts
  packages-hook/use-fullscreen/.storybook/preview.tsx
  packages-hook/use-fullscreen/README.md
  packages-hook/use-fullscreen/package.json
  packages-hook/use-fullscreen/src/hook/use-fullscreen-ref.ts
  packages-hook/use-fullscreen/src/hook/use-fullscreen.ts
  packages-hook/use-fullscreen/src/index.ts
  packages-hook/use-fullscreen/src/types/index.ts
  packages-hook/use-fullscreen/src/util/fuck.ts
  packages-hook/use-fullscreen/src/util/fullscreen-element.ts
  packages-hook/use-fullscreen/src/util/fullscreen-enter.ts
  packages-hook/use-fullscreen/src/util/fullscreen-exit.ts
  packages-hook/use-fullscreen/src/util/fullscreen-listen.ts
  packages-hook/use-fullscreen/src/util/get-document.ts
  packages-hook/use-fullscreen/src/util/index.ts
  packages-hook/use-fullscreen/stories/index.stories.ts
  packages-hook/use-fullscreen/stories/story-default.tsx
  packages-ui/transition/test/CSSTransitionGroup-test.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: use useFullscreen
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/stories/story-default/model/enum/index.ts
  packages-canvas/canvas-marking/stories/story-default/model/hook/index.ts
  packages-canvas/canvas-marking/stories/story-default/model/hook/use-dispatch-toggle-fullscreen.ts
  packages-canvas/canvas-marking/stories/story-default/model/hook/use-effect-document-fullscreen.ts
  packages-canvas/canvas-marking/stories/story-default/model/hook/use-effects.ts
  packages-canvas/canvas-marking/stories/story-default/model/hook/use-fullscreen.ts
  packages-canvas/canvas-marking/stories/story-default/model/hook/use-handle-document-fullscreen-change.ts
  packages-canvas/canvas-marking/stories/story-default/model/hook/use-handle-toggle-fullscreen.ts
  packages-canvas/canvas-marking/stories/story-default/model/reducer/index.ts
  packages-canvas/canvas-marking/stories/story-default/model/reducer/reduce-toggle-fullscreen.ts
  packages-canvas/canvas-marking/stories/story-default/model/types/action.ts
  packages-canvas/canvas-marking/stories/story-default/model/types/state.ts
  packages-canvas/canvas-marking/stories/story-default/model/util/create-initial-state.ts
  packages-canvas/canvas-marking/stories/story-default/ui/index.tsx
  packages-canvas/canvas-marking/stories/story-default/ui/ops/ops-overall.tsx
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: demo rc version bump
  packages-demo/demo-rc/package.json
Due: npmPkgJsonLint

fix: useFullscreen null defaut value was wrong
  packages-hook/use-fullscreen/package.json
  packages-hook/use-fullscreen/src/hook/use-fullscreen.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: add python in language support
  packages-hook/use-route-query/package.json
  packages-ui/codemirror-headless/package.json
  packages-ui/codemirror-headless/src/types/props.ts
  packages-ui/codemirror-headless/src/util/get-extension-language.ts
  packages-ui/codemirror/package.json
  packages-x/react-router-link-hijacker/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: before pub demo -rc
  packages-demo/demo-rc/package.json
Due: npmPkgJsonLint

chore: up versions ✨
  packages-config/eslint-config/package.json
Due: npmPkgJsonLint

chore: up versions ✨
  package.json
  packages-config/eslint-config/package.json
  packages-config/stylelint-config/package.json
  packages-demo/demo-css/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

feat: before pub eslint config
  packages-config/eslint-config/CHANGELOG.md
  packages-config/eslint-config/config-react-hooks.js
  packages-config/eslint-config/package.json
  packages-config/eslint-config/rules/rules-react-hooks.js
  packages-dom/keymap/src/index.ts
  packages-dom/keymap/src/keymap.ts
  packages-dom/keymap/src/types/index.ts
  packages-dom/keymap/src/util/create-keymap-handler.ts
  packages-dom/keymap/src/util/index.ts
  packages-dom/keymap/src/util/parse-keybindings.ts
  packages-dom/keymap/stories/rc/keystroke/index.tsx
  packages-hook/use-route-query/package.json
  packages-ui/codemirror-headless/package.json
  packages-x/react-router-link-hijacker/package.json
  pnpm-lock.yaml
  web/package.json
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: keymap ignore and batch
  packages-dom/keymap/CHANGELOG.md
  packages-dom/keymap/README.md
  packages-dom/keymap/package.json
  packages-dom/keymap/src/index.ts
  packages-dom/keymap/src/keymap-batch.ts
  packages-dom/keymap/src/keymap.ts
  packages-dom/keymap/src/types/index.ts
  packages-dom/keymap/src/util/create-keymap-handler.ts
  packages-dom/keymap/src/util/index.ts
  packages-dom/keymap/src/util/keymap-on-target.ts
  packages-dom/keymap/stories/index.stories.ts
  packages-dom/keymap/stories/rc/keystroke/index.tsx
  packages-dom/keymap/stories/story-ignore.tsx
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: useAddable
  packages-hook/use-addable/.babelrc.js
  packages-hook/use-addable/.npmignore
  packages-hook/use-addable/README.md
  packages-hook/use-addable/package.json
  packages-hook/use-addable/src/index.ts
  packages-hook/use-addable/src/types/index.ts
  packages-hook/use-addable/src/use-addable.ts
  packages-hook/use-addable/tsconfig.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

fix: wrong export
  packages-hook/use-addable/package.json
  packages-hook/use-addable/src/index.ts
  packages-hook/use-controllable/package.json
  packages-hook/use-controllable/src/index.ts
  packages-hook/use-controllable/src/use-controllable-soft-trim.ts
  packages-hook/use-controllable/src/use-controllable-unprotected.ts
  packages-hook/use-controllable/src/use-controllable.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: useAddable with swithPosition support
  packages-hook/use-addable/README.md
  packages-hook/use-addable/package.json
  packages-hook/use-addable/src/index.ts
  packages-hook/use-addable/src/types/index.ts
  packages-hook/use-addable/src/use-addable.ts
  packages-hook/use-click-away/src/index.ts
  packages-hook/use-click-away/src/use-click-away.ts
  packages-hook/use-debounced/src/index.ts
  packages-hook/use-debounced/src/use-debounced-callback.ts
  packages-hook/use-debounced/src/use-debounced-value.ts
  packages-hook/use-debounced/src/use-throttled-callback.ts
  packages-hook/use-debounced/src/use-throttled-value.ts
  packages-hook/use-fullscreen/src/index.ts
  packages-hook/use-fullscreen/src/use-fullscreen-ref.ts
  packages-hook/use-fullscreen/src/use-fullscreen.ts
  packages-hook/use-is-unmounted/src/index.ts
  packages-hook/use-is-unmounted/src/use-is-unmounted.ts
  packages-hook/use-is-unmounted/src/use-safe-state.ts
  packages-hook/use-mouse-hover/src/index.ts
  packages-hook/use-mouse-hover/src/use-mouse-hover.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

fix: should disable auto work together
  packages-demo/demo-rc/package.json
  packages-demo/demo-rc/src/rc/test-api/rc/index.tsx
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: some more typeing def in helper data
  package.json
  packages-helper/helper-data/package.json
  packages-helper/helper-data/src/index.ts
  packages-helper/helper-data/src/types/base-params.ts
  packages-helper/helper-data/src/types/generic.ts
  packages-ui/codemirror-headless/package.json
  web/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: select with fetch will now do loading status
  packages-demo/demo-rc/src/rc/select-with-fetch/rc/index.tsx
Due: stylelint --fix, eslint

fix: code viewer json5 should accept more props
  packages-demo/demo-rc/package.json
  packages-demo/demo-rc/src/rc/code-viewer-json5/rc/index.tsx
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: code viewer json5 can now change right
  _headless/rc-headless-alert/provider/index.tsx
  _headless/rc-headless-app-nav-side/provider/index.tsx
  _headless/rc-headless-app-nav-side/util/parse-item.ts
  packages-canvas/canvas-marking/src/types/common.ts
  packages-canvas/canvas-marking/stories/story-default/model/provider/index.tsx
  packages-canvas/canvas-marking/stories/story-default/ui/ops/ops-highlight.tsx
  packages-demo/demo-rc/package.json
  packages-demo/demo-rc/src/rc/code-viewer-json5/rc/index.tsx
  packages-demo/demo-rc/src/rc/code-viewer-json5/types/index.ts
  packages-demo/demo-rc/src/rc/select-with-fetch-legacy/rc/index.tsx
  packages-demo/demo-rc/src/util/json5-stringify.ts
  packages-dom/mere-color/stories/story-comparison/ui/rc/compare-generate-mix/index.tsx
  packages-dom/mere-color/stories/story-comparison/ui/rc/compare-is-equal/index.tsx
  packages-ui/dialog-headless/src/provider/index.tsx
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: add takePromiseWithLoading
  packages-helper/helper-loading/package.json
  packages-helper/helper-loading/src/helper/index.ts
  packages-helper/helper-loading/src/helper/take-promise-with-loading.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: return storage factory type
  package.json
  packages-config/eslint-config/package.json
  packages-util/storage-factory/README.md
  packages-util/storage-factory/package.json
  packages-util/storage-factory/src/index.ts
  packages-util/storage-factory/src/storage-factory.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: return storage factory type
  packages-util/storage-factory/package.json
  packages-util/storage-factory/src/index.ts
  packages-util/storage-factory/src/storage-factory-with-key.ts
  packages-util/storage-factory/src/storage-factory.ts
  packages-util/storage-factory/src/types/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: export type
  packages-util/storage-factory/package.json
  packages-util/storage-factory/src/index.ts
  packages-util/storage-factory/src/storage-factory-with-key.ts
  packages-util/storage-factory/src/types/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: kcuf-ui/icon base64
  packages-ui/icon/package.json
  packages-ui/icon/src/const/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: datasource value can now contain null or undefined
  packages-demo/demo-rc/src/rc/select/types/index.ts
  packages-demo/demo-rc/src/types/common.ts
  packages-demo/demo-rc/src/util/parse-datasource.ts
Due: stylelint --fix, eslint

feat: datasource value can now contain null or undefined
  packages-demo/demo-rc/package.json
Due: npmPkgJsonLint

feat: eslint react/jsx-no-useless-fragment
  packages-config/eslint-config/package.json
  packages-config/eslint-config/rules/rules-react.js
  packages-ui/dialog-core/src/ui/header/index.tsx
Due: npmPkgJsonLint, stylelint --fix, eslint

Path conditions:
  npmPkgJsonLint: any of: package.json
  markdownlint-cli2: any of: *.md
  stylelint --fix: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
