Repository justnewbee/kcuF: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint-cli2, eslint, stylelint

.lintstagedrc:

{
  "package.json": "npmPkgJsonLint",
  "*.md": "markdownlint-cli2",
  "*.{js,ts,tsx}": ["eslint", "stylelint"]
}

fix: icon base cursor
  package.json
  packages-config/markdownlint-config/package.json
  packages-ui/rc-icon-base/package.json
  packages-ui/rc-icon-base/src/icon-base/index.tsx
  packages-ui/rc-icon-base/src/types/index.ts
Due: npmPkgJsonLint, eslint, stylelint

feat: no-cycle
  packages-config/eslint-config/config-import.js
  packages-config/eslint-config/package.json
  packages-ui/rc-icon-base/README.md
  packages-ui/rc-icon-base/package.json
Due: npmPkgJsonLint, markdownlint-cli2, eslint, stylelint

chore: up dependency versions ✨
  package.json
  packages-config/eslint-config/config-ts.js
  packages-config/eslint-config/package.json
  packages-config/markdownlint-config/package.json
  packages-util/geometry-extended/package.json
Due: npmPkgJsonLint, eslint, stylelint

chore: mv demo css here
  .lintstagedrc
  package.json
  packages-demo/demo-css/.babelrc.js
  packages-demo/demo-css/.npmignore
  packages-demo/demo-css/.storybook/main.ts
  packages-demo/demo-css/.storybook/preview.ts
  packages-demo/demo-css/README.md
  packages-demo/demo-css/package.json
  packages-demo/demo-css/stories/cool-css/index.stories.ts
  packages-demo/demo-css/stories/cool-css/story-back-blur-grid.tsx
  packages-demo/demo-css/stories/cool-css/story-cube-3d.tsx
  packages-demo/demo-css/stories/cool-css/story-emoji-cursor.tsx
  packages-demo/demo-css/stories/cool-css/story-glitch.tsx
  packages-demo/demo-css/stories/cool-css/story-gradient-border.tsx
  packages-demo/demo-css/stories/cool-css/story-link-style.tsx
  packages-demo/demo-css/stories/cool-css/story-loading-wave.tsx
  packages-demo/demo-css/stories/cool-css/story-long-press.tsx
  packages-demo/demo-css/stories/cool-css/story-music-wave.tsx
  packages-demo/demo-css/stories/cool-css/story-radar.tsx
  packages-demo/demo-css/stories/cool-css/story-ripple.tsx
  packages-demo/demo-css/stories/cool-css/story-running-border.tsx
  packages-demo/demo-css/stories/cool-css/story-sun-beam.tsx
  packages-demo/demo-css/stories/cool-css/story-typewriter.tsx
  packages-demo/demo-css/stories/cool-svg/index.stories.ts
  packages-demo/demo-css/stories/cool-svg/story-mdn-mandala/index.less
  packages-demo/demo-css/stories/cool-svg/story-mdn-mandala/index.tsx
  packages-demo/demo-css/tsconfig.json
  packages-demo/demo-css/tsconfig.node.json
  packages-ui/doc/a11y.md
  packages-ui/doc/category.md
  packages-ui/doc/configurability.md
  packages-ui/doc/consistency.md
  packages-ui/doc/principle.md
  packages-ui/doc/structure.md
Due: npmPkgJsonLint, markdownlint-cli2, eslint, stylelint

chore: up dependency versions ✨
  package.json
Due: npmPkgJsonLint

feat: canvas helper can draw cross and more polygon and stars now
  package.json
  packages-canvas/canvas-helper/.storybook/preview.ts
  packages-canvas/canvas-helper/.storybook/preview.tsx
  packages-canvas/canvas-helper/src/helper/index.ts
  packages-canvas/canvas-helper/src/helper/path-circle.ts
  packages-canvas/canvas-helper/src/helper/path-cross.ts
  packages-canvas/canvas-helper/src/helper/path-diamond.ts
  packages-canvas/canvas-helper/src/helper/path-hexagon.ts
  packages-canvas/canvas-helper/src/helper/path-pentagon.ts
  packages-canvas/canvas-helper/src/helper/path-polygon.ts
  packages-canvas/canvas-helper/src/helper/path-square.ts
  packages-canvas/canvas-helper/src/helper/path-star.ts
  packages-canvas/canvas-helper/src/helper/path-triangle.ts
  packages-canvas/canvas-helper/src/helper/pixel-ratio-listen.ts
  packages-canvas/canvas-helper/src/index.ts
  packages-canvas/canvas-helper/src/types/index.ts
  packages-canvas/canvas-helper/src/util/create-path-fn.ts
  packages-canvas/canvas-helper/src/util/get-default-inner-radius-ratio.ts
  packages-canvas/canvas-helper/src/util/index.ts
  packages-canvas/canvas-helper/stories/story-path.tsx
  packages-canvas/canvas-marking/src/util/canvas-path-point-shape.ts
  packages-canvas/canvas-particles/src/class/particle.ts
  packages-config/eslint-config/package.json
  packages-demo/demo-css/.storybook/preview.ts
  packages-demo/demo-css/.storybook/preview.tsx
  packages-demo/demo-css/stories/cool-css/index.stories.ts
  packages-demo/demo-css/stories/cool-css/story-glowing-border-ani.tsx
  packages-demo/demo-rc/src/rc/input-color/rc/index.tsx
Due: npmPkgJsonLint, eslint, stylelint

feat: transition group
  packages-ui/transition-group/src/CSSTransition.tsx
  packages-ui/transition-group/src/ReplaceTransition.tsx
  packages-ui/transition-group/src/SwitchTransition.tsx
  packages-ui/transition-group/src/TransitionGroup.tsx
  packages-ui/transition-group/src/enum/index.ts
  packages-ui/transition-group/src/index.ts
  packages-ui/transition-group/src/transition-class.tsx
  packages-ui/transition-group/src/transition.tsx
  packages-ui/transition-group/src/types-shit/config.d.ts
  packages-ui/transition-group/src/types-shit/css-transition.d.ts
  packages-ui/transition-group/src/types-shit/index.d.ts
  packages-ui/transition-group/src/types-shit/switch-transition.d.ts
  packages-ui/transition-group/src/types-shit/transition-group.d.ts
  packages-ui/transition-group/src/types-shit/transition.d.ts
  packages-ui/transition-group/src/types/index.ts
  packages-ui/transition-group/src/util/PropTypes.ts
  packages-ui/transition-group/src/util/force-reflow.ts
  packages-ui/transition-group/src/util/get-child-mapping.ts
  packages-ui/transition-group/src/util/get-initial-child-mapping.ts
  packages-ui/transition-group/src/util/get-next-child-mapping.ts
  packages-ui/transition-group/src/util/get-prop.ts
  packages-ui/transition-group/src/util/index.ts
  packages-ui/transition-group/src/util/merge-child-mapping.ts
  packages-ui/transition-group/src/utils/ChildMapping.ts
  packages-ui/transition-group/src/utils/reflow.ts
  packages-ui/transition-group/stories/rc/fade/index.tsx
  packages-ui/transition-group/test/CSSTransition-test.js
  packages-ui/transition-group/test/CSSTransitionGroup-test.js
  packages-ui/transition-group/test/SwitchTransition-test.js
  packages-ui/transition-group/test/Transition-test.js
  packages-ui/transition-group/test/TransitionGroup-test.js
Due: eslint, stylelint

feat: transition group
  packages-ui/transition-group/src/TransitionGroupContext.tsx
  packages-ui/transition-group/src/enum/index.ts
  packages-ui/transition-group/src/index.ts
  packages-ui/transition-group/src/transition-class.tsx
  packages-ui/transition-group/src/transition-css.tsx
  packages-ui/transition-group/src/transition-group-context.tsx
  packages-ui/transition-group/src/transition-group.tsx
  packages-ui/transition-group/src/transition-replace.tsx
  packages-ui/transition-group/src/transition-switch.tsx
  packages-ui/transition-group/src/transition.tsx
  packages-ui/transition-group/src/types-shit/css-transition.d.ts
  packages-ui/transition-group/src/types-shit/index.d.ts
  packages-ui/transition-group/src/types-shit/switch-transition.d.ts
  packages-ui/transition-group/src/types-shit/transition-group.d.ts
  packages-ui/transition-group/src/types/index.ts
  packages-ui/transition-group/src/types/transition-css.ts
  packages-ui/transition-group/src/types/transition-group.ts
  packages-ui/transition-group/src/types/transition-replace.ts
  packages-ui/transition-group/src/types/transition-switch.ts
  packages-ui/transition-group/src/types/transition.ts
  packages-ui/transition-group/stories/ReplaceTransition.tsx
  packages-ui/transition-group/stories/index.js
  packages-ui/transition-group/stories/transitions/CSSFade.tsx
  packages-ui/transition-group/stories/transitions/CSSFadeForTransitionGroup.tsx
  packages-ui/transition-group/stories/transitions/Scale.tsx
  packages-ui/transition-group/test/CSSTransition-test.js
  packages-ui/transition-group/test/CSSTransitionGroup-test.js
  packages-ui/transition-group/test/SwitchTransition-test.js
Due: eslint, stylelint

feat: transition group
  packages-ui/transition-group/src/index.ts
  packages-ui/transition-group/src/transition-group.tsx
  packages-ui/transition-group/src/transition.tsx
  packages-ui/transition-group/src/types-shit/config.d.ts
  packages-ui/transition-group/src/types-shit/index.d.ts
Due: eslint, stylelint

chore: whatever
  packages-ui/transition-group/README.md
  packages-ui/transition-group/package.json
  packages-ui/transition-group/src/___transition.tsx
  packages-ui/transition-group/src/index.ts
  packages-ui/transition-group/src/transition-css.tsx
  packages-ui/transition-group/src/transition-group-context.ts
  packages-ui/transition-group/src/transition-group-context.tsx
  packages-ui/transition-group/src/transition-group.tsx
  packages-ui/transition-group/src/transition-switch.tsx
  packages-ui/transition-group/src/transition.tsx
  packages-ui/transition-group/src/types-shit/css-transition.d.ts
  packages-ui/transition-group/src/types-shit/index.d.ts
  packages-ui/transition-group/src/types-shit/transition-group.d.ts
  packages-ui/transition-group/src/types-shit/transition.d.ts
  packages-ui/transition-group/src/types/index.ts
  packages-ui/transition-group/src/types/transition-group-context.ts
  packages-ui/transition-group/src/types/transition-group.ts
  packages-ui/transition-group/src/types/transition-switch.ts
  packages-ui/transition-group/src/types/transition.ts
  packages-ui/transition-group/stories/CSSTransition.tsx
  packages-ui/transition-group/stories/CSSTransitionGroupFixture.tsx
  packages-ui/transition-group/stories/rc/fade/index.tsx
  packages-ui/transition-group/test/CSSTransition-test.js
  packages-ui/transition-group/test/CSSTransitionGroup-test.js
  packages-ui/transition-group/test/SSR-test.js
Due: npmPkgJsonLint, markdownlint-cli2, eslint, stylelint

chore: up dependency versions ✨
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-demo/demo-css/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-dom/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/sls-logger-base/package.json
  packages-fork/fork-console-base-theme/package.json
  packages-hook/use-mouse-hover/package.json
  packages-theme/styled-mixin/package.json
  packages-theme/theme-helper-code-gen/package.json
  packages-theme/theme-token-base/package.json
  packages-theme/theme-types/package.json
  packages-ui/rc-backdrop/package.json
  packages-ui/rc-button/package.json
  packages-ui/rc-icon-base/package.json
  packages-ui/rc-icon/package.json
  packages-ui/rc-input-text/package.json
  packages-ui/rc-keyboard-mac/package.json
  packages-ui/transition-group/package.json
  packages-util/geometry-basic/package.json
  packages-util/subscribable/package.json
Due: npmPkgJsonLint

chore: whatever
  packages-ui/transition-group/README.md
  packages-ui/transition-group/src/index.ts
  packages-ui/transition-group/src/transition-group.tsx
  packages-ui/transition-group/src/transition.tsx
  packages-ui/transition-group/src/types/transition.ts
  packages-ui/transition-group/stories/rc/fade/index.tsx
Due: markdownlint-cli2, eslint, stylelint

chore: whatever
  packages-ui/transition-group/README.md
  packages-ui/transition-group/src/___transition-css.tsx
  packages-ui/transition-group/src/___transition.tsx
  packages-ui/transition-group/src/transition-css.tsx
  packages-ui/transition-group/src/transition.tsx
  packages-ui/transition-group/src/types/common.ts
  packages-ui/transition-group/src/types/index.ts
  packages-ui/transition-group/src/types/transition.ts
  packages-ui/transition-group/stories/rc/fade/index.tsx
  packages-ui/transition-group/stories/story-fade.tsx
  packages-ui/transition-group/stories/transitions/Bootstrap.tsx
  packages-ui/transition-group/test/CSSTransition-test.js
  packages-ui/transition-group/test/CSSTransitionGroup-test.js
Due: markdownlint-cli2, eslint, stylelint

chore: whatever
  packages-config/eslint-config/package.json
  packages-demo/demo-css/stories/cool-css/index.stories.ts
  packages-demo/demo-css/stories/cool-css/story-button-add.tsx
  packages-demo/demo-css/stories/cool-css/story-button-flip.tsx
  packages-demo/demo-css/stories/cool-css/story-button-glow-on-hover.tsx
  packages-ui/rc-backdrop/package.json
  packages-ui/rc-backdrop/src/ui/index.tsx
  packages-ui/rc-transition/README.md
  packages-ui/rc-transition/src/transition/const/index.ts
  packages-ui/rc-transition/src/transition/hook/use-duration-enter.ts
  packages-ui/rc-transition/src/transition/hook/use-duration-exit.ts
  packages-ui/rc-transition/src/transition/hook/use-duration-in.ts
  packages-ui/rc-transition/src/transition/hook/use-duration-out.ts
  packages-ui/rc-transition/src/transition/hook/use-effect-transition-in.ts
  packages-ui/rc-transition/src/transition/hook/use-effect-transition-out.ts
  packages-ui/rc-transition/src/transition/hook/use-handle-force-reflow.ts
  packages-ui/rc-transition/src/transition/hook/use-handle-transition-enter.ts
  packages-ui/rc-transition/src/transition/hook/use-handle-transition-exit.ts
  packages-ui/rc-transition/src/transition/provider/index.tsx
  packages-ui/rc-transition/src/transition/types/context.ts
  packages-ui/rc-transition/src/transition/types/props.ts
  packages-ui/rc-transition/stories/story-transition.tsx
  packages-ui/rc-transition/test/CSSTransition-test.tsx
Due: npmPkgJsonLint, markdownlint-cli2, eslint, stylelint

chore: whatever
  packages-demo/demo-css/stories/cool-css/story-button-add.tsx
Due: eslint, stylelint

chore: whatever
  packages-config/stylelint-config/index.js
  packages-demo/demo-css/stories/cool-css/index.stories.ts
  packages-demo/demo-css/stories/cool-css/story-button-flip.tsx
  packages-demo/demo-css/stories/cool-css/story-button-mortar.tsx
Due: eslint, stylelint

chore: type module
  website/docs/api/index.md
  website/generate-props-md.js
Due: markdownlint-cli2, eslint, stylelint

chore: better generate prop md
  package.json
  website/generate-props-md.js
  website/package.json
  website/script/generate-props-md.ts
Due: npmPkgJsonLint, eslint, stylelint

docs: icon done
  web/docs/component/meida/icon.mdx
  web/src/css/custom-markdown.scss
Due: none

feat: now better docs
  package.json
  packages-config/eslint-config/package.json
  packages-config/stylelint-config/package.json
  packages-ui/rc-icon-base/src/helper/inject-icon-font.ts
  packages-ui/rc-icon-base/src/helper/inject-web-font.ts
  packages-ui/rc-icon-base/src/index.ts
  packages-ui/rc-icon-base/src/types/index.ts
  web/docs/component/_template.mdx
  web/docs/component/meida/icon-base.mdx
  web/docs/component/meida/icon.mdx
  web/package.json
  web/script/generate-md-api-ref.ts
  web/src/css/custom-markdown.scss
  web/src/rc/index.ts
  web/src/rc/required/index.ts
  web/src/rc/tab-base/index.ts
  web/src/rc/tag-default/index.tsx
  web/src/rc/tag-required/index.ts
  web/src/rc/tag-todo/index.ts
  web/src/theme/MDXComponents/index.ts
Due: npmPkgJsonLint, eslint, stylelint

chore: backdrop doc
  packages-ui/kcuf-ui/package.json
  packages-ui/kcuf-ui/src/index.ts
  packages-ui/rc-backdrop-headless/README.md
  web/docs/component/_template.mdx
  web/docs/component/feedback/1-backdrop.mdx
  web/docs/component/feedback/2-dialog.mdx
  web/docs/component/form/2-input-text.mdx
  web/docs/component/form/6-input-switch.mdx
  web/docs/component/meida/1-icon.mdx
  web/docs/guide/1-overview/1-intro.md
  web/src/theme/ReactLiveScope/index.ts
Due: npmPkgJsonLint, markdownlint-cli2, eslint, stylelint

docs: button docs
  packages-ui/rc-button-headless/src/hook/_use-model-props.ts
  packages-ui/rc-button-headless/src/types/props.ts
  packages-ui/rc-button/src/ui/index.tsx
  packages-ui/rc-button/src/ui/types/index.ts
  packages-ui/rc-button/src/ui/util/index.ts
  packages-ui/rc-button/src/ui/util/is-block.ts
  packages-ui/rc-button/src/ui/util/is-fluid.ts
  packages-ui/rc-input-text-headless/src/types/props.ts
  web/docs/component/feedback/1-backdrop.mdx
  web/docs/component/form/1-button.mdx
  web/docs/component/form/2-input-text.mdx
  web/docs/component/form/6-input-switch.mdx
  web/docs/guide/1-overview/1-intro.md
Due: markdownlint-cli2, eslint, stylelint

feat: use input switch headless in demo rc
  packages-demo/demo-rc/package.json
  packages-demo/demo-rc/src/rc/input-switch/index.ts
  packages-demo/demo-rc/src/rc/input-switch/types/index.ts
  packages-demo/demo-rc/src/rc/input-switch/ui/index.tsx
  packages-demo/demo-rc/src/rc/input-switch/with-model/index.tsx
  packages-ui/rc-input-switch-headless/src/enum/index.ts
  packages-ui/rc-input-switch-headless/src/hook/_use-model-dispatch.ts
  packages-ui/rc-input-switch-headless/src/hook/_use-model-state.ts
  packages-ui/rc-input-switch-headless/src/hook/use-dispatch-set-xx.ts
  packages-ui/rc-input-switch-headless/src/hook/use-dispatch-set-yy.ts
  packages-ui/rc-input-switch-headless/src/hook/use-effect-1.ts
  packages-ui/rc-input-switch-headless/src/hook/use-effects.ts
  packages-ui/rc-input-switch-headless/src/hook/use-handle-set-xx.ts
  packages-ui/rc-input-switch-headless/src/hook/use-handle-set-yy.ts
  packages-ui/rc-input-switch-headless/src/lifecycle/index.ts
  packages-ui/rc-input-switch-headless/src/provider/index.tsx
  packages-ui/rc-input-switch-headless/src/reducer/index.ts
  packages-ui/rc-input-switch-headless/src/reducer/reduce-set-xx.ts
  packages-ui/rc-input-switch-headless/src/reducer/reduce-set-yy.ts
  packages-ui/rc-input-switch-headless/src/types/action.ts
  packages-ui/rc-input-switch-headless/src/types/common.ts
  packages-ui/rc-input-switch-headless/src/types/context.ts
  packages-ui/rc-input-switch-headless/src/types/index.ts
  packages-ui/rc-input-switch-headless/src/types/state.ts
  packages-ui/rc-input-switch-headless/src/util/create-initial-state.ts
  packages-ui/rc-input-switch-headless/src/util/index.ts
Due: npmPkgJsonLint, eslint, stylelint
