Repository justnewbee/kcuF: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint-cli2, eslint, stylelint

chore: before pub 🍷
  packages-fork/fork-console-base-dialog-core/package.json
  packages-fork/fork-console-base-dialog/package.json
Due: npmPkgJsonLint

chore: before pub 🍷
  packages-fork/fork-console-base-dialog-core/package.json
  packages-fork/fork-console-base-dialog-core/src/ui/index.tsx
  packages-fork/fork-console-base-dialog-core/src/ui/rc-container/header/index.tsx
  packages-fork/fork-console-base-dialog/package.json
  packages-fork/fork-console-base-dialog/src/promised/confirm.tsx
  packages-fork/fork-console-base-dialog/src/rc/alt-wrap/index.tsx
Due: npmPkgJsonLint, eslint, stylelint

chore: before pub 🍷
  packages-demo/demo-rc/src/types/index.ts
  packages-dom/mere-dom/.npmignore
  packages-dom/mere-dom/package.json
  packages-fetcher/fetcher-interceptor-login/README.md
  packages-fork/fork-console-base-dialog-core/package.json
  packages-fork/fork-console-base-dialog-core/src/model/hook/_use-model-props.ts
  packages-fork/fork-console-base-dialog-core/src/model/util/get-next-element-to-focus.ts
  packages-fork/fork-console-base-dialog/src/promised/confirm.tsx
  packages-rc-headless/rc-headless-app-nav-side/src/hook/use-filter-input-props.ts
  packages-rc-headless/rc-headless-dialog/src/hook/_use-model-props.ts
  packages-rc-headless/rc-headless-dropdown/src/hook/_use-model-props.ts
  packages-rc/rc-input-text/src/ui/rc-container/inner-right-status/index.tsx
  packages-util/intl-factory-basic/src/factory/index.ts
  packages-util/intl-factory-basic/stories/demo-default/index.tsx
  packages-util/intl-factory/src/factory/index.tsx
  packages-util/intl-factory/src/index.ts
  packages-util/intl-factory/src/types/index.ts
  packages-util/storage-factory/README.md
  packages-util/ts-missing-helpers/package.json
Due: npmPkgJsonLint, markdownlint-cli2, eslint, stylelint

chore: before pub 🍷
  packages-util/ts-missing-helpers/package.json
Due: npmPkgJsonLint

chore: before pub 🍷
  packages-fork/fork-console-base-dialog-core/package.json
  packages-fork/fork-console-base-dialog/package.json
  packages-rc-headless/rc-headless-backdrop/package.json
  packages-rc/rc-backdrop/package.json
Due: npmPkgJsonLint

chore: before pub 🍷
  packages-fork/fork-console-base-dialog-core/package.json
  packages-fork/fork-console-base-dialog-core/src/model/types/common.ts
  packages-fork/fork-console-base-dialog-core/src/ui/index.tsx
  packages-fork/fork-console-base-dialog-core/src/ui/rc-container/content/index.tsx
  packages-fork/fork-console-base-dialog/package.json
  packages-rc-headless/rc-headless-dialog/src/types/common.ts
Due: npmPkgJsonLint, eslint, stylelint

chore: adjust fetcher interceptor login priority to 25 (before merging)
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-login/src/util/intercept.ts
Due: npmPkgJsonLint, eslint, stylelint

feat: data normalizer with paged list uncertain now
  packages-fetcher/fetcher-interceptor-login/src/util/intercept.ts
  packages-util/data-normalizer/package.json
  packages-util/data-normalizer/src/helper/index.ts
  packages-util/data-normalizer/src/helper/normalize-boolean.ts
  packages-util/data-normalizer/src/helper/normalize-enum.ts
  packages-util/data-normalizer/src/helper/normalize-id.ts
  packages-util/data-normalizer/src/helper/normalize-number.ts
  packages-util/data-normalizer/src/helper/normalize-paged-list-uncertain.ts
  packages-util/data-normalizer/src/helper/normalize-paged-list.ts
  packages-util/data-normalizer/src/helper/normalize-time.ts
  packages-util/data-normalizer/src/index.ts
  packages-util/data-normalizer/src/types/generic.ts
Due: npmPkgJsonLint, eslint, stylelint

feat: interface can extend
  eslint.config.js
  package.json
  packages-config/eslint-config/config-react.js
  packages-config/eslint-config/config-ts.js
  packages-config/eslint-config/index.js
  packages-config/eslint-config/package.json
Due: npmPkgJsonLint, eslint, stylelint

chore: before pub 🍷
  packages-config/eslint-config/package.json
Due: npmPkgJsonLint

chore: eslint stylisitc
  package.json
  packages-canvas/canvas-particles/src/types/common.ts
  packages-config/eslint-config/config-react.js
  packages-config/eslint-config/config-stylistic.js
  packages-config/eslint-config/config-ts.js
  packages-config/eslint-config/index.js
  packages-config/eslint-config/package.json
  packages-config/stylelint-config/config-order.js
  packages-demo/demo-rc/src/rc/promise-viewer/rc/index.tsx
  packages-fetcher/fetcher-fetch/src/util/fetcher-fetch.ts
  packages-fetcher/fetcher/src/util/convert-error.ts
  packages-fetcher/fetcher/src/util/merge-config.ts
  packages-fork/fork-console-base-dialog-core/src/model/context/index.ts
  packages-fork/fork-console-base-dialog-core/src/model/hook/use-effect-focus-back.ts
  packages-fork/fork-console-base-dialog-core/src/model/reducer/reduce-set-z-index.ts
  packages-fork/fork-console-base-dialog-core/src/model/reducer/reduce-update-data.ts
  packages-fork/fork-console-base-dialog-core/src/model/reducer/reduce-update-props.ts
  packages-fork/fork-console-base-dialog-core/src/model/util/stack-get.ts
  packages-fork/fork-console-base-dialog-core/src/ui/index.tsx
  packages-fork/fork-console-base-dialog-core/src/ui/rc-container/content/index.tsx
  packages-fork/fork-console-base-dialog-core/src/ui/rc-container/footer/button/index.tsx
  packages-fork/fork-console-base-dialog-core/src/ui/rc-container/header/index.tsx
  packages-fork/fork-console-base-dialog-core/src/ui/rc-container/x/index.tsx
  packages-fork/fork-console-base-dialog/src/promised/open-indirect.tsx
  packages-fork/fork-console-base-dialog/src/rc/alt-wrap/index.tsx
  packages-rc-headless/rc-headless-backdrop/src/reducer/index.ts
Due: npmPkgJsonLint, eslint, stylelint

chore: before pub 🍷
  packages-config/eslint-config/package.json
  packages-config/stylelint-config/package.json
Due: npmPkgJsonLint

feat: eslint adjust no-unused-vars and brace style
  packages-config/eslint-config/config-stylistic.js
  packages-config/eslint-config/config-ts.js
  packages-config/eslint-config/package.json
Due: npmPkgJsonLint, eslint, stylelint

chore: up version ✨
  package.json
Due: npmPkgJsonLint

chore: more strict in eslint
  package.json
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-particles/_original/assets/js/jquery-2.1.3.js
  packages-config/eslint-config/config-es.js
  packages-config/eslint-config/config-stylistic.js
  packages-config/eslint-config/config-ts.js
  packages-config/eslint-config/index.js
  packages-dom/mere-dom/src/util/find.ts
  packages-dom/mere-dom/src/util/is-contained-by.ts
  packages-dom/mere-dom/src/util/scroll-into-view.ts
  packages-dom/mere-dom/src/util/scroll-to.ts
  packages-dom/mere-dom/src/util/trigger-window-resize.ts
  packages-dom/sandbox-escape/src/util/get-window-by-dom.ts
  packages-dom/sandbox-escape/src/util/get-window-by-new-function.ts
  packages-fetcher/fetcher-jsonp/src/util/clear-callback-fn.ts
  packages-fetcher/fetcher-jsonp/stories/index.stories.ts
  packages-fetcher/fetcher-jsonp/stories/story-jsonp.tsx
  packages-fetcher/fetcher-jsonp/stories/types/index.ts
  packages-fetcher/fetcher/src/util/build-response-for-fetch.ts
  packages-fetcher/fetcher/src/util/convert-error.ts
  packages-fetcher/sls-logger-base/src/util/convert-log-info.ts
  packages-fork/fork-console-base-dialog-core/src/model/hook/use-handle-focus-back.ts
  packages-fork/fork-console-base-dialog-core/src/model/util/trap-focus.ts
  packages-rc-headless/rc-headless-button/src/util/get-button-href-target.ts
  packages-rc-headless/rc-headless-dialog/src/hook/use-handle-focus-back.ts
  packages-rc-headless/rc-headless-dialog/src/util/trap-focus.ts
  packages-rc-headless/rc-headless-input-text/src/hook/use-effect-focused-change.ts
  packages-rc-headless/rc-headless-input-text/src/hook/use-handle-clear.ts
  packages-rc/rc-button/src/model/util/get-button-href-target.ts
  packages-util/geometry-basic/src/helper/justify/justify-snap-around-pivots.ts
  packages-util/intl-factory-basic/src/util/format-number.ts
Due: npmPkgJsonLint, eslint, stylelint

chore: before pub 🍷
  package.json
  packages-config/eslint-config/package.json
Due: npmPkgJsonLint

chore: up version ✨
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/sls-logger-base/package.json
  packages-fetcher/sls-logger-web/package.json
  packages-fork/fork-console-base-dialog/package.json
  packages-hook/react-hook-click-away/package.json
  packages-hook/react-hook-controllable/package.json
  packages-hook/react-hook-is-unmounted/package.json
  packages-hook/react-hook-mouse-hover/package.json
  packages-rc/rc-backdrop/package.json
  packages-rc/rc-button/package.json
  packages-rc/rc-icon/package.json
  packages-rc/rc-keyboard-mac/package.json
  packages-theme/theme-helper-code-gen/package.json
  packages-theme/theme-token-base/package.json
  packages-util/base64/package.json
  packages-util/geometry-basic/package.json
  packages-util/json-stringify-ordered/package.json
  packages-util/storage-factory/package.json
Due: npmPkgJsonLint

refactor: icon now support color in base
  packages-rc/rc-icon-base/README.md
  packages-rc/rc-icon-base/package.json
  packages-rc/rc-icon-base/src/icon-base/index.tsx
  packages-rc/rc-icon-base/src/index.ts
  packages-rc/rc-icon-base/src/types/index.ts
  packages-rc/rc-icon-base/src/util/get-css-icon-rotation.ts
  packages-rc/rc-icon-base/src/util/index.ts
  packages-rc/rc-icon/package.json
  packages-rc/rc-icon/src/const/index.ts
  packages-rc/rc-icon/src/index.tsx
  packages-rc/rc-icon/src/types/index.ts
  packages-rc/rc-icon/src/util/get-icon-code.ts
  packages-rc/rc-icon/src/util/get-icon-color.ts
  packages-rc/rc-icon/src/util/index.ts
  packages-rc/rc-icon/stories/story-all.tsx
Due: npmPkgJsonLint, markdownlint-cli2, eslint, stylelint

chore: before pub 🍷
  packages-fork/fork-console-base-dialog-core/package.json
  packages-fork/fork-console-base-dialog/package.json
  packages-rc/rc-button/package.json
Due: npmPkgJsonLint

fix: shitty code
  packages-rc/rc-icon-base/package.json
  packages-rc/rc-icon-base/src/index.ts
  packages-rc/rc-icon/package.json
  packages-rc/rc-icon/src/const/index.ts
Due: npmPkgJsonLint, eslint, stylelint

fix: shitty code
  packages-fork/fork-console-base-dialog-core/package.json
  packages-fork/fork-console-base-dialog/package.json
  packages-rc/rc-button/package.json
Due: npmPkgJsonLint

chore: up version ✨
  packages-config/eslint-config/config-import.js
  packages-config/eslint-config/package.json
Due: npmPkgJsonLint, eslint, stylelint

docs: readme for eslint config
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-config/eslint-config/README.md
  packages-config/eslint-config/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-fork/fork-console-base-dialog/package.json
  packages-hook/react-hook-mouse-hover/package.json
  packages-rc/rc-backdrop/package.json
  packages-rc/rc-button/package.json
  packages-rc/rc-icon/package.json
  packages-rc/rc-keyboard-mac/package.json
  packages-theme/theme-token-base/package.json
Due: npmPkgJsonLint, markdownlint-cli2

feat: a themeless mixin package
  packages-theme/styled-mixin/.babelrc.js
  packages-theme/styled-mixin/.npmignore
  packages-theme/styled-mixin/README.md
  packages-theme/styled-mixin/package.json
  packages-theme/styled-mixin/src/index.ts
  packages-theme/styled-mixin/tsconfig.json
  packages-theme/theme-mixin/src/back/enum/motion.ts
  packages-theme/theme-mixin/src/back/mixin-typo.ts
Due: npmPkgJsonLint, markdownlint-cli2, eslint, stylelint

feat: a themeless mixin package
  packages-theme/styled-mixin/README.md
  packages-theme/styled-mixin/package.json
Due: npmPkgJsonLint, markdownlint-cli2

feat: a themeless mixin package
  packages-rc/rc-button/src/ui/index.tsx
  packages-theme/styled-mixin/.babelrc.js
  packages-theme/styled-mixin/package.json
  packages-theme/styled-mixin/src/index.ts
  packages-theme/styled-mixin/src/mixin/index.ts
  packages-theme/styled-mixin/src/mixin/mixin-reset-button.ts
  packages-theme/styled-mixin/src/mixin/mixin-reset-input-text.ts
  packages-theme/styled-mixin/src/mixin/mixin-typo-ellipsis.ts
  packages-theme/styled-mixin/src/mixin/mixin-typo-word-wrap.ts
  packages-theme/styled-mixin/src/sc-base/index.ts
  packages-theme/styled-mixin/src/sc-base/sc-base-button.ts
  packages-theme/styled-mixin/src/sc-base/sc-base-ellipsis-lines.ts
  packages-theme/styled-mixin/src/sc-base/sc-base-iframe-full.ts
  packages-theme/styled-mixin/src/sc-base/sc-base-iframe.ts
  packages-theme/styled-mixin/src/sc-base/sc-base-input-text.ts
Due: npmPkgJsonLint, eslint, stylelint

feat: headless button
  packages-rc-headless/rc-headless-button/package.json
  packages-rc-headless/rc-headless-input-text/package.json
Due: npmPkgJsonLint

chore: before pub 🍷
  packages-canvas/canvas-particles/_original/assets/js/stats.js
  packages-canvas/canvas-particles/src/util/parse-config-click-bubble.ts
  packages-config/eslint-config/config-es.js
  packages-config/eslint-config/config-ts.js
  packages-config/eslint-config/package.json
  packages-rc-headless/rc-headless-button/src/hook/_use-model-props.ts
Due: npmPkgJsonLint, eslint, stylelint

chore: data normalizer to helper data
  packages-fetcher/fetcher/package.json
  packages-helper/helper-data/.babelrc.js
  packages-helper/helper-data/.npmignore
  packages-helper/helper-data/README.md
  packages-helper/helper-data/package.json
  packages-helper/helper-data/src/enum/index.ts
  packages-helper/helper-data/src/helper/create-data-with-loading.ts
  packages-helper/helper-data/src/helper/index.ts
  packages-helper/helper-data/src/helper/normalize-boolean.ts
  packages-helper/helper-data/src/helper/normalize-enum.ts
  packages-helper/helper-data/src/helper/normalize-id.ts
  packages-helper/helper-data/src/helper/normalize-number.ts
  packages-helper/helper-data/src/helper/normalize-paged-list-uncertain.ts
  packages-helper/helper-data/src/helper/normalize-paged-list.ts
  packages-helper/helper-data/src/helper/normalize-time.ts
  packages-helper/helper-data/src/index.ts
  packages-helper/helper-data/src/types/base-data.ts
  packages-helper/helper-data/src/types/base-params.ts
  packages-helper/helper-data/src/types/generic.ts
  packages-helper/helper-data/src/types/index.ts
  packages-helper/helper-data/tsconfig.json
Due: npmPkgJsonLint, markdownlint-cli2, eslint, stylelint

chore: more eslint rules
  package.json
  packages-config/eslint-config/config-es.js
  packages-config/eslint-config/config-react.js
  packages-config/eslint-config/config-stylistic.js
  packages-config/eslint-config/config-ts.js
  packages-config/stylelint-config/config-order.js
  packages-demo/demo-rc/src/rc/button/rc/index.tsx
  packages-rc/rc-button/src/ui/rc-container/button-icon-left/index.tsx
  packages-rc/rc-button/src/ui/rc-container/button-icon-right/index.tsx
  packages-rc/rc-button/src/ui/util/render-icon.ts
  packages-theme/theme-token-base/stories/rc/color-block-list/index.tsx
  packages-theme/theme-token-base/stories/story-font.tsx
  packages-util/intl-factory-basic/stories/demo-default/index.tsx
  packages-util/intl-factory-basic/stories/pkg-info/index.tsx
  packages-util/intl-factory/stories/demo-default/index.tsx
  template/template-rc-swc/stories/story-all.tsx
Due: npmPkgJsonLint, eslint, stylelint

chore: more eslint rules
  packages-demo/demo-rc/src/rc/table/rc/index.tsx
  packages-dom/keymap/stories/story-keys-extra.tsx
  packages-dom/keymap/stories/story-keys-input.tsx
  packages-rc/rc-button/stories/story-default.tsx
  packages-rc/rc-keyboard-mac/src/ui/index.tsx
  packages-theme/theme-token-base/stories/story-font.tsx
Due: eslint, stylelint

Path conditions:
  npmPkgJsonLint: any of: package.json
  markdownlint-cli2: any of: *.md
  eslint: any of: *.{js,ts,tsx}
  stylelint: any of: *.{js,ts,tsx}
