Repository justnewbee/kcuF: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

.lintstagedrc:

{
  "package.json": "npmPkgJsonLint",
  "*.md": "markdownlint-cli2",
  "*.{js,ts,tsx}": ["stylelint --fix", "eslint"]
}

fix: icon base ref should be optional to make react 19 migration smooth
  packages-ui/icon-base/package.json
  packages-ui/icon/package.json
Due: npmPkgJsonLint

fix: interceptor doLogin can now accept Promise<unknown>
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-login/src/types/index.ts
  packages-fetcher/fetcher-interceptor-login/src/util/create-interceptor-response-rejected.ts
  packages-fetcher/fetcher-interceptor-login/test/index.test.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: the ref shall not be required when forwardRef
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking-react/src/ui/index.tsx
  packages-canvas/canvas-marking-react/src/with-model/index.tsx
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: eslint spaced-comment
  packages-config/eslint-config/CHANGELOG.md
  packages-config/eslint-config/package.json
  packages-config/eslint-config/rules/rules-stylistic.js
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

chore: no storybook eslint config
  packages-config/eslint-config/CHANGELOG.md
  packages-config/eslint-config/README.md
  packages-config/eslint-config/config-storybook.js
  packages-config/eslint-config/index-type-unaware.js
  packages-config/eslint-config/index.js
  packages-config/eslint-config/package.json
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

chore: before pub stylelint-config
  packages-config/stylelint-config/package.json
Due: npmPkgJsonLint

chore: before pub
  packages-config/stylelint-config/CHANGELOG.md
  packages-config/stylelint-config/package.json
Due: npmPkgJsonLint, markdownlint-cli2

feat: pub theme toggle
  packages-ui/theme-toggle/package.json
Due: npmPkgJsonLint

chore: pub useControllable
  packages-demo/demo-rc/src/rc/promise-viewer/rc/index.tsx
  packages-hook/use-controllable/package.json
  packages-ui/codemirror-headless/src/hook/use-dispatch-set-dom.ts
  packages-ui/codemirror-headless/src/hook/use-effect-init.ts
  packages-ui/codemirror-headless/src/hook/use-ref-dom.ts
  packages-ui/codemirror-headless/src/provider/index.tsx
  packages-ui/codemirror-headless/src/reducer/index.ts
  packages-ui/codemirror-headless/src/reducer/reduce-set-dom.ts
  packages-ui/codemirror-headless/src/types/action.ts
  packages-ui/codemirror-headless/src/types/context.ts
  packages-ui/codemirror-headless/src/types/state.ts
  packages-ui/codemirror-headless/src/util/create-initial-state.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: use useRef to get rid of dup init of codemirror
  packages-demo/demo-rc/src/rc/promise-viewer/rc/index.tsx
  packages-ui/codemirror-headless/package.json
  packages-ui/codemirror-headless/src/enum/index.ts
  packages-ui/codemirror-headless/src/hook/use-dispatch-set-codemirror-info.ts
  packages-ui/codemirror-headless/src/hook/use-effect-destroy.ts
  packages-ui/codemirror-headless/src/hook/use-effect-init.ts
  packages-ui/codemirror-headless/src/hook/use-effect-read-only.ts
  packages-ui/codemirror-headless/src/hook/use-effect-sync-controllable-value.ts
  packages-ui/codemirror-headless/src/provider/index.tsx
  packages-ui/codemirror-headless/src/reducer/index.ts
  packages-ui/codemirror-headless/src/reducer/reduce-init.ts
  packages-ui/codemirror-headless/src/reducer/reduce-set-codemirror-info.ts
  packages-ui/codemirror-headless/src/types/action.ts
  packages-ui/codemirror-headless/src/types/state.ts
  packages-ui/codemirror-headless/src/util/create-initial-state.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: before pub codemirror
  packages-ui/codemirror/package.json
Due: npmPkgJsonLint

chore: before pub codemirror
  packages-ui/form-headless/package.json
Due: npmPkgJsonLint

feat: icon base react 19
  packages-demo/demo-rc/src/rc/icon/index.tsx
  packages-ui/icon-base/README.md
  packages-ui/icon-base/package.json
  packages-ui/icon-base/src/index.ts
  packages-ui/icon-base/src/types/index.ts
  packages-ui/icon/package.json
  packages-ui/icon/src/index.tsx
  web/docs/component/1-form/2-button.mdx
  web/docs/component/6-meida/1-icon.mdx
  web/docs/component/6-meida/2-icon-base.mdx
  web/src/rc/icon/index.tsx
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

chore: before pub input switch
  packages-ui/input-switch-headless/package.json
Due: npmPkgJsonLint

chore: before pub demo-rc
  packages-demo/demo-rc/CHANGELOG.md
  packages-demo/demo-rc/package.json
Due: npmPkgJsonLint, markdownlint-cli2

feat: normalize tree list with filter
  packages-helper/helper-data/CHANGELOG.md
  packages-helper/helper-data/package.json
  packages-helper/helper-data/src/helper/normalize-tree-list.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: error boudnary better
  packages-ui/error-boundary/CHANGELOG.md
  packages-ui/error-boundary/README.md
  packages-ui/error-boundary/package.json
  packages-ui/error-boundary/src/rc/error-boundary/index.tsx
  packages-ui/error-boundary/src/rc/error-display/index.tsx
  packages-ui/error-boundary/src/types/index.ts
  packages-ui/error-boundary/src/util/get-error-message.ts
  packages-ui/error-boundary/src/util/get-error-stack-items.ts
  packages-ui/error-boundary/src/util/get-error-stack.ts
  packages-ui/error-boundary/src/util/index.ts
  web/package.json
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

fix: allow trailingUnderscore
  packages-config/eslint-config/CHANGELOG.md
  packages-config/eslint-config/package.json
  packages-config/eslint-config/rules/rules-ts-type-unaware.js
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: normalizeTreeList to toTreeList
  packages-helper/helper-data/CHANGELOG.md
  packages-helper/helper-data/package.json
  packages-helper/helper-data/src/helper/index.ts
  packages-helper/helper-data/src/helper/to-tree-list.ts
  packages-helper/helper-data/src/index.ts
  packages-helper/helper-data/src/types/generic.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: helper-tree
  _headless/rc-headless-alert/reducer/index.ts
  _headless/rc-headless-app-nav-side/reducer/index.ts
  packages-canvas/canvas-marking-react-headless/src/reducer/index.ts
  packages-canvas/canvas-marking-react/stories/story-default/model/reducer/index.ts
  packages-canvas/canvas-marking/stories/story-default/model/reducer/index.ts
  packages-config/eslint-config/package.json
  packages-dom/mere-color/stories/story-comparison/model/reducer/index.ts
  packages-helper/helper-tree/.babelrc.js
  packages-helper/helper-tree/.npmignore
  packages-helper/helper-tree/CHANGELOG.md
  packages-helper/helper-tree/README.md
  packages-helper/helper-tree/package.json
  packages-helper/helper-tree/src/helper/index.ts
  packages-helper/helper-tree/src/helper/tree-build.ts
  packages-helper/helper-tree/src/helper/tree-disable-mode-downward.ts
  packages-helper/helper-tree/src/helper/tree-disable-mode-only.ts
  packages-helper/helper-tree/src/helper/tree-disable-mode-upward.ts
  packages-helper/helper-tree/src/helper/tree-disable.ts
  packages-helper/helper-tree/src/helper/tree-filter.ts
  packages-helper/helper-tree/src/helper/tree-flatten.ts
  packages-helper/helper-tree/src/helper/tree-traverse.ts
  packages-helper/helper-tree/src/index.ts
  packages-helper/helper-tree/src/types/index.ts
  packages-helper/helper-tree/test/tree-build.test.ts
  packages-helper/helper-tree/test/tree-disable.test.ts
  packages-helper/helper-tree/test/tree-filter.test.ts
  packages-helper/helper-tree/test/tree-flatten.test.ts
  packages-helper/helper-tree/test/tree-traverse.test.ts
  packages-helper/helper-tree/tsconfig.json
  packages-theme/theme-color/stories/story-color-palette/model/reducer/index.ts
  packages-theme/theme-color/stories/story-color/model/reducer/index.ts
  packages-ui/backdrop-headless/src/reducer/index.ts
  packages-ui/codemirror-headless/package.json
  packages-ui/codemirror-headless/src/reducer/index.ts
  packages-ui/dialog-headless/src/reducer/index.ts
  packages-ui/dropdown-headless/src/reducer/index.ts
  packages-ui/input-text-headless/src/reducer/index.ts
  packages-ui/keyboard-mac-headless/src/reducer/index.ts
  packages-ui/transition/src/transition/reducer/index.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: helper-tree
  packages-helper/helper-tree/README.md
  packages-helper/helper-tree/package.json
  packages-helper/helper-tree/src/helper/index.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: rm tree stuff in helper data
  packages-helper/helper-data/CHANGELOG.md
  packages-helper/helper-data/package.json
  packages-helper/helper-data/src/helper/index.ts
  packages-helper/helper-data/src/helper/to-tree-list.ts
  packages-helper/helper-data/src/index.ts
  packages-helper/helper-data/src/types/generic.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: helper react model
  packages-helper/helper-rc-model/.babelrc.js
  packages-helper/helper-rc-model/.npmignore
  packages-helper/helper-rc-model/README.md
  packages-helper/helper-rc-model/package.json
  packages-helper/helper-rc-model/src/helper/index.ts
  packages-helper/helper-rc-model/src/helper/mute-list-after-change.ts
  packages-helper/helper-rc-model/src/index.ts
  packages-helper/helper-rc-model/src/types/index.ts
  packages-helper/helper-rc-model/src/util/after-list-delete.ts
  packages-helper/helper-rc-model/src/util/after-list-update.ts
  packages-helper/helper-rc-model/src/util/find-index.ts
  packages-helper/helper-rc-model/src/util/index.ts
  packages-helper/helper-rc-model/tsconfig.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: add isLoading in helper-loaing
  packages-helper/helper-loading/package.json
  packages-helper/helper-loading/src/helper/index.ts
  packages-helper/helper-loading/src/helper/is-loading.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: rename to afterListChange
  packages-helper/helper-rc-model/README.md
  packages-helper/helper-rc-model/package.json
  packages-helper/helper-rc-model/src/helper/after-list-change.ts
  packages-helper/helper-rc-model/src/helper/index.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

chore: up versions ✨
  packages-hook/use-route-query/package.json
  packages-ui/codemirror-headless/package.json
  packages-x/react-router-link-hijacker/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

fix: disable node imports
  packages-config/eslint-config/CHANGELOG.md
  packages-config/eslint-config/config/config-node.js
  packages-config/eslint-config/index-node.js
  packages-config/eslint-config/package.json
  packages-config/eslint-config/rules/rules-node.js
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: login will give message so multiple instances can auto close dialog when needed
  packages-fetcher/fetcher-interceptor-login/README.md
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-login/src/const/index.ts
  packages-fetcher/fetcher-interceptor-login/src/helper/index.ts
  packages-fetcher/fetcher-interceptor-login/src/helper/message-listen-interceptor-login.ts
  packages-fetcher/fetcher-interceptor-login/src/index.ts
  packages-fetcher/fetcher-interceptor-login/src/util/create-interceptor-response-rejected.ts
  packages-fetcher/fetcher-interceptor-login/src/util/singleton-promise.ts
  packages-fetcher/fetcher-interceptor-login/test/index.test.ts
  packages-ui/backdrop-headless/src/util/message-broadcast.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint
