Repository justnewbee/kcuF: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: mouseInfo and imageInfo in a nutshell
  packages-canvas/canvas-helper/README.md
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-helper/src/helper/index.ts
  packages-canvas/canvas-helper/src/helper/pixel-ratio-get.ts
  packages-canvas/canvas-helper/src/helper/pixel-ratio-listen.ts
  packages-canvas/canvas-helper/stories/index.stories.ts
  packages-canvas/canvas-marking/src/class/canvas-marking-item.ts
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/plugin/plugin-magnet/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-move/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-snapping/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/get-stats-display-html.ts
  packages-canvas/canvas-marking/src/plugin/plugin-tooltip/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-tooltip/util/get-tooltip-message.ts
  packages-canvas/canvas-marking/src/plugin/plugin-zoom/index.ts
  packages-canvas/canvas-marking/src/types/canvas-marking-class.ts
  packages-canvas/canvas-marking/src/types/common.ts
  packages-canvas/canvas-marking/src/types/stats.ts
  packages-canvas/canvas-marking/src/util/get-image-fit-scale.ts
  packages-canvas/canvas-marking/src/util/index.ts
  packages-dom/mere-dom/.storybook/main.ts
  packages-dom/mere-dom/.storybook/preview.tsx
  packages-dom/mere-dom/package.json
  packages-dom/mere-dom/stories/index.stories.ts
  packages-dom/mere-dom/stories/story-pixel-ratio.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: mouseInfo and imageInfo in a nutshell
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/util/create-dom-bg.ts
  packages-canvas/canvas-marking/src/util/index.ts
Due: stylelint --fix, eslint

feat: movingInfo in a nutshell
  packages-canvas/canvas-marking-react/stories/story-default/ui/rc-ops/ops-zoom-move.tsx
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/plugin/plugin-cursor/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/get-stats-display-html.ts
  packages-canvas/canvas-marking/src/plugin/plugin-tooltip/util/get-tooltip-message.ts
  packages-canvas/canvas-marking/src/plugin/plugin-zoom/index.ts
  packages-canvas/canvas-marking/src/types/common.ts
  packages-canvas/canvas-marking/src/types/stats.ts
  packages-canvas/canvas-marking/stories/story-default/ui/ops/ops-zoom-move.tsx
Due: stylelint --fix, eslint

feat: movingInfo in a nutshell
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/types/canvas-marking-class.ts
Due: stylelint --fix, eslint

chore: before pub
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/get-stats-display-html.ts
  packages-canvas/canvas-marking/src/types/common.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: can zoom when moving
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/plugin/plugin-zoom/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: up storybook 📕
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-config/eslint-config/package.json
  packages-demo/demo-css/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-dom/mere-dom/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/use-debounced/package.json
  packages-hook/use-mouse-hover/package.json
  packages-theme/theme-color/package.json
  packages-theme/theme-token-base/package.json
  packages-theme/theme-types/package.json
  packages-ui/rc-backdrop/package.json
  packages-ui/rc-button/package.json
  packages-ui/rc-dialog/package.json
  packages-ui/rc-form/package.json
  packages-ui/rc-icon/package.json
  packages-ui/rc-input-switch/package.json
  packages-ui/rc-input-text/package.json
  packages-ui/rc-keyboard-mac/package.json
  packages-ui/rc-markdown-base/package.json
  packages-ui/rc-transition/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

feat: add onDeletePre to CanvasMarking so to prevent from being deleted
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/types/events.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: up storybook
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-config/eslint-config/package.json
  packages-demo/demo-css/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-dom/mere-dom/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/use-debounced/package.json
  packages-hook/use-mouse-hover/package.json
  packages-theme/theme-color/package.json
  packages-theme/theme-token-base/package.json
  packages-theme/theme-types/package.json
  packages-ui/rc-backdrop/package.json
  packages-ui/rc-button/package.json
  packages-ui/rc-dialog/package.json
  packages-ui/rc-form/package.json
  packages-ui/rc-icon/package.json
  packages-ui/rc-input-switch/package.json
  packages-ui/rc-input-text/package.json
  packages-ui/rc-keyboard-mac/package.json
  packages-ui/rc-markdown-base/package.json
  packages-ui/rc-transition/package.json
  pnpm-lock.yaml
  template/template-lib/package.json
  template/template-rc-swc/package.json
  template/template-rc/package.json
Due: npmPkgJsonLint

chore: up deps ✨
  package.json
  packages-config/stylelint-config/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: eslint prefer-default export remains off now
  packages-config/eslint-config/config-import.js
  packages-config/eslint-config/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: up deps ✨
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-config/eslint-config/package.json
  packages-demo/demo-css/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-dom/mere-dom/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/use-debounced/package.json
  packages-hook/use-mouse-hover/package.json
  packages-theme/theme-color/package.json
  packages-theme/theme-token-base/package.json
  packages-theme/theme-types/package.json
  packages-ui/rc-backdrop/package.json
  packages-ui/rc-button/package.json
  packages-ui/rc-dialog/package.json
  packages-ui/rc-form/package.json
  packages-ui/rc-icon/package.json
  packages-ui/rc-input-switch/package.json
  packages-ui/rc-input-text/package.json
  packages-ui/rc-keyboard-mac/package.json
  packages-ui/rc-markdown-base/package.json
  packages-ui/rc-transition/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: up deps ✨
  package.json
  packages-config/stylelint-config/package.json
  packages-demo/demo-rc/package.json
Due: npmPkgJsonLint

chore: up deps ✨
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-css/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-dom/mere-dom/package.json
  packages-fetcher/fetch-sse/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/use-debounced/package.json
  packages-hook/use-mouse-hover/package.json
  packages-theme/fork-console-base-theme/package.json
  packages-theme/styled-mixin/package.json
  packages-theme/theme-color/package.json
  packages-theme/theme-token-base/package.json
  packages-theme/theme-types/package.json
  packages-ui/rc-backdrop/package.json
  packages-ui/rc-button/package.json
  packages-ui/rc-dialog-core/package.json
  packages-ui/rc-dialog/package.json
  packages-ui/rc-form/package.json
  packages-ui/rc-icon-base/package.json
  packages-ui/rc-icon/package.json
  packages-ui/rc-input-switch/package.json
  packages-ui/rc-input-text/package.json
  packages-ui/rc-keyboard-mac/package.json
  packages-ui/rc-markdown-base/package.json
  packages-ui/rc-transition/package.json
  pnpm-lock.yaml
  web/package.json
Due: npmPkgJsonLint

chore: up deps ✨
  packages-config/eslint-config/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

chore: docus search in zh
  packages-config/eslint-config/package.json
  pnpm-lock.yaml
  web/package.json
  web/script/generate-md-api-ref.ts
  web/src/components/HomepageFeatures/index.tsx
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: select typing issue
  package.json
  packages-config/eslint-config/config-stylistic.js
  packages-config/eslint-config/package.json
  packages-config/npm-package-json-lint-config/package.json
  packages-demo/demo-rc/package.json
  packages-demo/demo-rc/src/rc/select-with-fetch/rc/index.tsx
  packages-demo/demo-rc/src/rc/select-with-fetch/types/index.ts
  packages-demo/demo-rc/src/rc/select/rc/index.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: use Math.log to make zoom behave more natualy and zoom max is now 10
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/plugin/plugin-zoom/index.ts
  packages-canvas/canvas-marking/src/types/canvas-marking-class.ts
  packages-canvas/canvas-marking/src/types/options.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: up deps ✨
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-canvas/qr/package.json
  packages-config/eslint-config/package.json
  packages-config/stylelint-config/package.json
  packages-demo/demo-css/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-dom/mere-color/package.json
  packages-dom/mere-dom/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/use-debounced/package.json
  packages-hook/use-mouse-hover/package.json
  packages-theme/theme-color/package.json
  packages-theme/theme-token-base/package.json
  packages-theme/theme-types/package.json
  packages-ui/rc-backdrop/package.json
  packages-ui/rc-button/package.json
  packages-ui/rc-dialog/package.json
  packages-ui/rc-form/package.json
  packages-ui/rc-icon/package.json
  packages-ui/rc-input-switch/package.json
  packages-ui/rc-input-text/package.json
  packages-ui/rc-keyboard-mac/package.json
  packages-ui/rc-markdown-base/package.json
  packages-ui/rc-transition/package.json
  packages-x/react-router-link-hijacker/package.json
  pnpm-lock.yaml
  web/package.json
Due: npmPkgJsonLint

fix: shadow shall not change with zooming
  packages-canvas/canvas-marking/src/plugin/plugin-stats/util/create-stats-style.ts
  packages-canvas/canvas-marking/src/util/canvas-draw-path-border.ts
  packages-canvas/canvas-marking/src/util/resolve-marking-style-config.ts
  packages-demo/demo-rc/stories/icon/story-default.tsx
  packages-theme/theme-token-base/stories/story-space.tsx
  packages-ui/rc-backdrop/src/ui/index.tsx
Due: stylelint --fix, eslint

fix: shadow shall not change with zooming
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
Due: npmPkgJsonLint

feat: canvas marking will select when mouse down now
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/CHANGELOG.md
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking-item.ts
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/plugin/plugin-cursor/index.ts
  packages-canvas/canvas-marking/src/plugin/plugin-tooltip/util/get-tooltip-message-basic.ts
  packages-canvas/canvas-marking/src/util/sort-marking-items.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

chore: up deps ✨
  package.json
  packages-config/eslint-config/package.json
Due: npmPkgJsonLint

fix: enforce empty line after import followed by non-import statement
  packages-config/eslint-config/config-stylistic.js
Due: stylelint --fix, eslint

fix: allow ZIndex in variables
  packages-config/eslint-config/package.json
  packages-config/eslint-config/rules/rules-ts-type-unaware.js
  packages-dom/keymap/package.json
  web/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: throttle wheel on canvas marking
  packages-canvas/canvas-marking/src/class/canvas-marking-item.ts
  packages-canvas/canvas-marking/src/plugin/plugin-zoom/index.ts
  packages-config/eslint-config/README.md
Due: markdownlint-cli2, stylelint --fix, eslint

fix: throttle wheel on canvas marking
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking/package.json
Due: npmPkgJsonLint

fix: no-misused-promises checkVoidReturn false
  packages-canvas/canvas-marking/stories/story-default/ui/ops/ops-overall.tsx
  packages-config/eslint-config/package.json
  packages-config/eslint-config/rules/rules-ts-type-aware.js
  web/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: whatever
  packages-canvas/canvas-marking/stories/story-default/ui/ops/ops-overall.tsx
Due: stylelint --fix, eslint

feat: fetch sse default credentials: include
  packages-fetcher/fetch-sse/package.json
  packages-fetcher/fetch-sse/src/fetch-sse.ts
  packages-fetcher/fetcher/src/interceptor/intercept-request-final.ts
  packages-ui/rc-dialog-core/src/ui/footer/button/index.tsx
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: fetcher-xhr withCredentials true
  packages-fetcher/fetcher-xhr/package.json
  packages-fetcher/fetcher-xhr/src/types/index.ts
  packages-fetcher/fetcher-xhr/src/util/fetcher-xhr.ts
  packages-fetcher/fetcher/src/util/build-response-x.ts
  packages-fetcher/fetcher/src/util/fetch-x.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: fetcher using xhr passing withCredentials
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/fetcher/src/util/build-options-for-xhr.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: some depcheck issue
  package.json
  packages-canvas/qr/package.json
  packages-config/stylelint-config/package.json
  packages-demo/demo-css/package.json
  packages-demo/demo-rc/package.json
  packages-theme/theme-color/package.json
  packages-theme/theme-types/package.json
  packages-ui/rc-input-switch-headless/package.json
  packages-ui/rc-input-switch/package.json
  web/package.json
Due: npmPkgJsonLint

Path conditions:
  npmPkgJsonLint: any of: package.json
  markdownlint-cli2: any of: *.md
  stylelint --fix: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
