Repository justnewbee/kcuF: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint-cli2, eslint, stylelint

fix: should trigger create cancel when promise returns false after all
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-init.ts
Due: npmPkgJsonLint, eslint, stylelint

chore: dialog draft
  packages-rc/rc-dialog-headless/package.json
  packages-rc/rc-dialog-headless/src/types/common.ts
  packages-rc/rc-dialog-headless/src/types/props.ts
  packages-rc/rc-dialog-headless/src/types/state.ts
Due: npmPkgJsonLint, eslint, stylelint

chore: before pub 🍷
  packages-canvas/canvas-marking/package.json
Due: npmPkgJsonLint

chore: up dependency versions ✨
  packages-canvas/canvas-marking-react-headless/package.json
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking-react/src/ui/index.tsx
  packages-canvas/canvas-marking/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/sls-logger-base/package.json
  packages-fetcher/sls-logger-web/package.json
  packages-hook/react-hook-click-away/package.json
  packages-hook/react-hook-controllable/package.json
  packages-hook/react-hook-fullscreen/package.json
  packages-hook/react-hook-is-unmounted/package.json
  packages-theme/theme-helper-code-gen/package.json
  packages-util/base64/package.json
  packages-util/geometry-basic/package.json
  packages-util/json-stringify-ordered/package.json
  packages-util/storage-factory/package.json
Due: npmPkgJsonLint, eslint, stylelint

fix: interceptor login should consider headers deleted before resend
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-login/README.md
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-login/src/types/index.ts
  packages-fetcher/fetcher-interceptor-login/src/util/create-interceptor-response-rejected.ts
  packages-fetcher/fetcher-interceptor-login/src/util/intercept.ts
  packages-fetcher/fetcher-interceptor-login/src/util/should-do-login.ts
  packages-fetcher/fetcher-interceptor-login/test/index.test.ts
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher/package.json
Due: npmPkgJsonLint, markdownlint-cli2, eslint, stylelint

feat: some rules added in eslint
  packages-config/eslint-config/config-es.js
  packages-config/eslint-config/package.json
Due: npmPkgJsonLint, eslint, stylelint

fix: prefer-destructuring is not very good to use
  packages-config/eslint-config/config-es.js
  packages-config/eslint-config/package.json
Due: npmPkgJsonLint, eslint, stylelint

chore: whatever
  packages-canvas/canvas-marking-react-headless/src/hook/use-effect-set-event-handlers.ts
  packages-canvas/canvas-marking/src/class/canvas-marking-item.ts
  packages-canvas/canvas-marking/src/class/canvas-marking.ts
  packages-canvas/canvas-marking/src/types/canvas-marking-item-class.ts
  packages-canvas/canvas-marking/src/types/common.ts
  packages-canvas/canvas-marking/src/types/events.ts
  packages-canvas/canvas-marking/stories/demo-model/hook/use-init.ts
Due: eslint, stylelint

fix: hook useIsUnmounted in strict mode
  .ncurc.yml
  package.json
  packages-config/eslint-config/config-ts.js
  packages-config/eslint-config/package.json
  packages-config/markdownlint-config/package.json
  packages-demo/demo-rc/package.json
  packages-hook/react-hook-is-unmounted/package.json
  packages-hook/react-hook-is-unmounted/src/hook/use-is-unmounted.ts
Due: npmPkgJsonLint, eslint, stylelint

chore: whatever
  .npmrc
Due: none

feat: helper-data now ship with whoCreated and whoModified base data
  package.json
  packages-helper/helper-data/README.md
  packages-helper/helper-data/package.json
  packages-helper/helper-data/src/helper/index.ts
  packages-helper/helper-data/src/index.ts
  packages-helper/helper-data/src/types/base-data.ts
Due: npmPkgJsonLint, markdownlint-cli2, eslint, stylelint

feat: fetcher-xhr added and will handle upload with progress later
  .depcheckrc.yml
  package.json
  packages-config/eslint-config/package.json
  packages-config/stylelint-config/package.json
  packages-demo/demo-rc/package.json
  packages-fetcher/fetcher-fetch/README.md
  packages-fetcher/fetcher-fetch/src/util/create-error.ts
  packages-fetcher/fetcher-jsonp/README.md
  packages-fetcher/fetcher-jsonp/src/types/index.ts
  packages-fetcher/fetcher-jsonp/src/util/create-error-abort.ts
  packages-fetcher/fetcher-jsonp/src/util/create-error-network.ts
  packages-fetcher/fetcher-jsonp/src/util/create-error-timeout.ts
  packages-fetcher/fetcher-jsonp/src/util/create-error.ts
  packages-fetcher/fetcher-jsonp/src/util/create-response.ts
  packages-fetcher/fetcher-jsonp/src/util/jsonp.ts
  packages-fetcher/fetcher-xhr/.babelrc.js
  packages-fetcher/fetcher-xhr/.npmignore
  packages-fetcher/fetcher-xhr/README.md
  packages-fetcher/fetcher-xhr/package.json
  packages-fetcher/fetcher-xhr/src/enum/index.ts
  packages-fetcher/fetcher-xhr/src/index.ts
  packages-fetcher/fetcher-xhr/src/types/index.ts
  packages-fetcher/fetcher-xhr/src/util/create-error-abort.ts
  packages-fetcher/fetcher-xhr/src/util/create-error-network.ts
  packages-fetcher/fetcher-xhr/src/util/create-error-timeout.ts
  packages-fetcher/fetcher-xhr/src/util/create-error.ts
  packages-fetcher/fetcher-xhr/src/util/create-response.ts
  packages-fetcher/fetcher-xhr/src/util/fetcher-xhr.ts
  packages-fetcher/fetcher-xhr/tsconfig.json
  packages-fetcher/fetcher-xhr/tsconfig.node.json
  template/template-rc-headless/src/context/index.ts
  template/template-rc-headless/src/enum/index.ts
  template/template-rc-headless/src/hook/index.ts
  template/template-rc-headless/src/provider/index.tsx
  template/template-rc-headless/src/reducer/index.ts
  template/template-rc-headless/src/types/common.ts
  template/template-rc-headless/src/types/context.ts
  template/template-rc-headless/src/types/index.ts
  template/template-rc-headless/src/util/create-initial-state.ts
  template/template-rc-headless/src/util/index.ts
Due: npmPkgJsonLint, markdownlint-cli2, eslint, stylelint

chore: before pub
  packages-fetcher/fetcher-xhr/package.json
Due: npmPkgJsonLint

feat: fetcher will support upload with progress
  packages-fetcher/fetcher-fetch/README.md
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher-jsonp/src/types/index.ts
  packages-fetcher/fetcher-jsonp/src/util/create-response.ts
  packages-fetcher/fetcher-xhr/package.json
  packages-fetcher/fetcher-xhr/src/types/index.ts
  packages-fetcher/fetcher-xhr/src/util/create-response.ts
  packages-fetcher/fetcher-xhr/src/util/fetcher-xhr.ts
  packages-fetcher/fetcher-xhr/src/util/parse-xhr-response-headers.ts
  packages-fetcher/fetcher/package.json
  packages-fetcher/fetcher/src/class/index.ts
  packages-fetcher/fetcher/src/types/common.ts
  packages-fetcher/fetcher/src/types/config.ts
  packages-fetcher/fetcher/src/types/fetcher.ts
  packages-fetcher/fetcher/src/util/build-options-for-fetch.ts
  packages-fetcher/fetcher/src/util/build-options-for-jsonp.ts
  packages-fetcher/fetcher/src/util/build-options-for-xhr.ts
  packages-fetcher/fetcher/src/util/build-response-for-fetch.ts
  packages-fetcher/fetcher/src/util/build-response-for-jsonp.ts
  packages-fetcher/fetcher/src/util/build-response-x.ts
  packages-fetcher/fetcher/src/util/convert-error.ts
  packages-fetcher/fetcher/src/util/fetch-x.ts
  packages-fetcher/fetcher/src/util/process-config-headers-and-body.ts
  packages-fetcher/fetcher/src/util/queue-interceptor.ts
  packages-fetcher/sls-logger-web/package.json
Due: npmPkgJsonLint, markdownlint-cli2, eslint, stylelint

docs: readme
  packages-fetcher/fetcher/README.md
Due: markdownlint-cli2

fix: xhr onProgress logic amend
  packages-fetcher/fetcher/package.json
  packages-fetcher/fetcher/src/util/fetch-x.ts
Due: npmPkgJsonLint, eslint, stylelint

feat: subscribable now has beforeEmit
  packages-config/stylelint-config/config-order.js
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-util/subscribable/package.json
  packages-util/subscribable/src/index.ts
  packages-util/subscribable/src/types/index.ts
Due: npmPkgJsonLint, eslint, stylelint

chore: up dependency versions ✨
  packages-config/eslint-config/package.json
  packages-config/stylelint-config/package.json
Due: npmPkgJsonLint

feat: button will take download attribute now
  packages-rc/rc-button-headless/package.json
  packages-rc/rc-button-headless/src/hook/_use-model-props.ts
  packages-rc/rc-button-headless/src/types/props.ts
Due: npmPkgJsonLint, eslint, stylelint

feat: button will take download attribute now
  packages-rc/rc-button-headless/package.json
Due: npmPkgJsonLint

chore: up dependency versions ✨
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking-react-headless/src/hook/index.ts
  packages-canvas/canvas-marking-react/package.json
  packages-canvas/canvas-marking-react/stories/demo-model/hook/index.ts
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/stories/demo-model/hook/index.ts
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-rc/package.json
  packages-dom/keymap/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/react-hook-mouse-hover/package.json
  packages-rc/rc-backdrop-headless/src/hook/index.ts
  packages-rc/rc-backdrop/package.json
  packages-rc/rc-button/package.json
  packages-rc/rc-dialog/package.json
  packages-rc/rc-icon/package.json
  packages-rc/rc-input-text/package.json
  packages-rc/rc-keyboard-mac-headless/src/hook/index.ts
  packages-rc/rc-keyboard-mac/package.json
  packages-theme/theme-token-base/package.json
  packages-theme/theme-types/package.json
  template/template-rc-headless/src/hook/index.ts
  template/template-rc-headless/src/hook/use-effect-2.ts
  template/template-rc-headless/src/hook/use-effects.ts
Due: npmPkgJsonLint, eslint, stylelint

feat: fetcher support dataType blob and download
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-biz/src/util/create-interceptor-response-fulfilled.ts
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher-jsonp/src/types/index.ts
  packages-fetcher/fetcher-jsonp/src/util/create-response.ts
  packages-fetcher/fetcher-xhr/package.json
  packages-fetcher/fetcher-xhr/src/types/index.ts
  packages-fetcher/fetcher-xhr/src/util/create-response.ts
  packages-fetcher/fetcher/package.json
  packages-fetcher/fetcher/src/class/index.ts
  packages-fetcher/fetcher/src/index.ts
  packages-fetcher/fetcher/src/interceptor/index.ts
  packages-fetcher/fetcher/src/interceptor/intercept-request-final.ts
  packages-fetcher/fetcher/src/interceptor/intercept-response-download.ts
  packages-fetcher/fetcher/src/types/common.ts
  packages-fetcher/fetcher/src/types/fetcher.ts
  packages-fetcher/fetcher/src/types/fn.ts
  packages-fetcher/fetcher/src/types/interceptor.ts
  packages-fetcher/fetcher/src/util/build-response-x.ts
  packages-fetcher/fetcher/src/util/download-blob.ts
  packages-fetcher/fetcher/src/util/index.ts
  packages-fetcher/fetcher/src/util/parse-filename-from-response-headers.ts
Due: npmPkgJsonLint, eslint, stylelint

feat: fetcher support array-buffer and array-buffer-download now
  packages-fetcher/fetcher-helper-file/.babelrc.js
  packages-fetcher/fetcher-helper-file/.npmignore
  packages-fetcher/fetcher-helper-file/README.md
  packages-fetcher/fetcher-helper-file/package.json
  packages-fetcher/fetcher-helper-file/src/const/index.ts
  packages-fetcher/fetcher-helper-file/src/helper/base64-to-blob.ts
  packages-fetcher/fetcher-helper-file/src/helper/base64-to-file.ts
  packages-fetcher/fetcher-helper-file/src/helper/blob-to-file.ts
  packages-fetcher/fetcher-helper-file/src/helper/download-array-buffer.ts
  packages-fetcher/fetcher-helper-file/src/helper/download-blob.ts
  packages-fetcher/fetcher-helper-file/src/helper/get-blob-filename.ts
  packages-fetcher/fetcher-helper-file/src/helper/get-mime-type-from-base64-data.ts
  packages-fetcher/fetcher-helper-file/src/helper/index.ts
  packages-fetcher/fetcher-helper-file/src/helper/mime-from-filename.ts
  packages-fetcher/fetcher-helper-file/src/helper/mime-to-ext.ts
  packages-fetcher/fetcher-helper-file/src/index.ts
  packages-fetcher/fetcher-helper-file/tsconfig.json
  packages-fetcher/fetcher-jsonp/src/types/index.ts
  packages-fetcher/fetcher-jsonp/src/util/create-response.ts
  packages-fetcher/fetcher-xhr/src/types/index.ts
  packages-fetcher/fetcher-xhr/src/util/create-response.ts
  packages-fetcher/fetcher-xhr/tsconfig.node.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/fetcher/src/enum/index.ts
  packages-fetcher/fetcher/src/interceptor/intercept-response-download.ts
  packages-fetcher/fetcher/src/types/common.ts
  packages-fetcher/fetcher/src/types/config.ts
  packages-fetcher/fetcher/src/util/build-response-x.ts
  packages-fetcher/fetcher/src/util/index.ts
  packages-fetcher/fetcher/src/util/parse-filename-from-response-headers.ts
Due: npmPkgJsonLint, markdownlint-cli2, eslint, stylelint

chore: befpre put
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher-xhr/package.json
  packages-fetcher/fetcher/package.json
Due: npmPkgJsonLint

fix(fetcher): the cloneDeep will break blob
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-biz/src/util/create-interceptor-response-fulfilled.ts
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-cache-local/src/util/cache-resolve.ts
  packages-fetcher/fetcher-interceptor-cache-local/src/util/create-interceptor-request.ts
  packages-fetcher/fetcher-interceptor-cache-local/src/util/create-interceptor-response-fulfilled.ts
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-login/src/util/singleton-promise.ts
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-merging/src/util/create-interceptor-response-fulfilled.ts
  packages-fetcher/fetcher-interceptor-merging/src/util/merging-resolve.ts
  packages-fetcher/fetcher-interceptor-merging/test/index.test.ts
  packages-fetcher/fetcher/package.json
  packages-fetcher/fetcher/src/helper/clone-response-data.ts
  packages-fetcher/fetcher/src/helper/index.ts
  packages-fetcher/fetcher/src/util/build-response-x.ts
  packages-fetcher/fetcher/stories/index.stories.ts
  packages-fetcher/fetcher/stories/story-seal.tsx
Due: npmPkgJsonLint, eslint, stylelint

feat: downloadName in config
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/fetcher/src/interceptor/intercept-response-download.ts
  packages-fetcher/fetcher/src/types/config.ts
Due: npmPkgJsonLint, eslint, stylelint

chore: mv hook
  _headless/rc-dialog-headless/package.json
  _headless/rc-dialog/package.json
  package.json
  packages-canvas/canvas-marking-react-headless/src/hook/use-effect-set-event-handlers.ts
  packages-canvas/canvas-marking/src/class/canvas-marking-item.ts
  packages-canvas/canvas-marking/src/types/canvas-marking-item-class.ts
  packages-hook/use-click-away/package.json
  packages-hook/use-controllable/package.json
  packages-hook/use-fullscreen/package.json
  packages-hook/use-is-unmounted/package.json
  packages-hook/use-mouse-hover/package.json
  packages-hook/use-mouse-hover/stories/index.stories.ts
  packages-hook/use-mouse-hover/stories/index.stories.tsx
  packages-hook/use-mouse-hover/stories/story-default.tsx
  packages-hook/use-with-class/package.json
  packages-theme/theme-types/tsconfig.json
  packages-ui/rc-backdrop-headless/package.json
  packages-ui/rc-backdrop/package.json
  packages-ui/rc-button-headless/package.json
  packages-ui/rc-button/package.json
  packages-ui/rc-form-headless/package.json
  packages-ui/rc-icon-base/package.json
  packages-ui/rc-icon/package.json
  packages-ui/rc-input-text-headless/src/hook/use-props-for-input-element.ts
  packages-ui/rc-input-text-headless/src/types/props.ts
  packages-ui/rc-input-text/package.json
  packages-ui/rc-input-text/src/ui/rc-container/the-input/index.tsx
  packages-ui/rc-input-text/src/ui/sc/input-real.ts
  packages-ui/rc-input-text/src/ui/util/get-styled-shadow.ts
  packages-ui/rc-keyboard-mac-headless/package.json
  packages-ui/rc-keyboard-mac/package.json
Due: npmPkgJsonLint, eslint, stylelint

chore: before pub
  packages-config/eslint-config/package.json
  packages-demo/demo-rc/package.json
  packages-hook/use-is-unmounted/package.json
Due: npmPkgJsonLint

feat: icon can now be used as button when with onClick and disabled
  packages-config/eslint-config/config-import.js
  packages-config/eslint-config/config-ts.js
  packages-ui/README.md
  packages-ui/rc-icon-base/README.md
  packages-ui/rc-icon-base/package.json
  packages-ui/rc-icon-base/src/icon-base/index.tsx
  packages-ui/rc-icon-base/src/types/index.ts
Due: npmPkgJsonLint, markdownlint-cli2, eslint, stylelint

feat: icon can now be used as button when with onClick and disabled
  packages-ui/rc-icon-base/README.md
  packages-ui/rc-icon-base/package.json
Due: npmPkgJsonLint, markdownlint-cli2

feat: icon base with ref
  packages-ui/rc-icon-base/README.md
  packages-ui/rc-icon-base/package.json
  packages-ui/rc-icon-base/src/icon-base/index.tsx
  packages-ui/rc-icon-base/src/index.ts
  packages-ui/rc-icon-base/src/types/index.ts
Due: npmPkgJsonLint, markdownlint-cli2, eslint, stylelint

fix: export forwardRef should as to pass generic
  packages-ui/rc-icon-base/package.json
  packages-ui/rc-icon-base/src/icon-base/index.tsx
  packages-ui/rc-icon/src/index.tsx
Due: npmPkgJsonLint, eslint, stylelint

Path conditions:
  npmPkgJsonLint: any of: package.json
  markdownlint-cli2: any of: *.md
  eslint: any of: *.{js,ts,tsx}
  stylelint: any of: *.{js,ts,tsx}
