Repository justnewbee/kcuF: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

.lintstagedrc:

{
  "package.json": "npmPkgJsonLint",
  "*.md": "markdownlint-cli2",
  "*.{js,ts,tsx}": ["stylelint --fix", "eslint"]
}

feat: file picker error to invalid
  packages-ui/file-picker/CHANGELOG.md
  packages-ui/file-picker/package.json
  packages-ui/file-picker/src/enum/index.ts
  packages-ui/file-picker/src/index.ts
  packages-ui/file-picker/src/types/index.ts
  packages-ui/file-picker/src/util/normalize-file-items.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: mere color
  package.json
  packages-canvas/canvas-marking/package.json
  packages-dom/mere-color/src/util/compute-contrast.ts
  packages-dom/mere-color/src/util/rgb-compute-luminance.ts
  packages-dom/mere-color/test/a11y-contrast-guidelines.test.ts
  packages-dom/mere-color/test/a11y-contrast.test.ts
  packages-dom/mere-color/test/a11y-luminance.test.ts
  packages-dom/mere-color/test/const/index.ts
  packages-helper/helper-data/package.json
  packages-hook/use-route-query/package.json
  packages-util/md5/package.json
  packages-x/react-router-link-hijacker/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: color pricision 4
  packages-dom/mere-color/src/generate/fade.ts
  packages-dom/mere-color/stories/story-comparison/model/enum/index.ts
  packages-dom/mere-color/stories/story-comparison/model/hook/index.ts
  packages-dom/mere-color/stories/story-comparison/model/hook/use-color.ts
  packages-dom/mere-color/stories/story-comparison/model/hook/use-controlled-color-alpha.ts
  packages-dom/mere-color/stories/story-comparison/model/hook/use-controlled-color-type.ts
  packages-dom/mere-color/stories/story-comparison/model/hook/use-controlled-color.ts
  packages-dom/mere-color/stories/story-comparison/model/hook/use-dispatch-set-color-alpha.ts
  packages-dom/mere-color/stories/story-comparison/model/reducer/index.ts
  packages-dom/mere-color/stories/story-comparison/model/reducer/reduce-set-color-alpha.ts
  packages-dom/mere-color/stories/story-comparison/model/types/action.ts
  packages-dom/mere-color/stories/story-comparison/model/types/state.ts
  packages-dom/mere-color/stories/story-comparison/model/util/create-initial-state.ts
  packages-dom/mere-color/stories/story-comparison/ui/index.tsx
  packages-dom/mere-color/stories/story-comparison/ui/rc/color-input/index.tsx
  packages-dom/mere-color/stories/story-comparison/ui/rc/grid-item/index.tsx
  packages-dom/mere-color/stories/story-comparison/ui/rc/index.ts
Due: stylelint --fix, eslint

fix: demo error on 3rd color pkg when parsing with alpha
  packages-dom/mere-color/stories/story-comparison/model/enum/index.ts
  packages-dom/mere-color/stories/story-comparison/model/hook/index.ts
  packages-dom/mere-color/stories/story-comparison/model/hook/use-color-input-with-alpha.ts
  packages-dom/mere-color/stories/story-comparison/model/hook/use-color.ts
  packages-dom/mere-color/stories/story-comparison/model/hook/use-controlled-color-input.ts
  packages-dom/mere-color/stories/story-comparison/model/hook/use-controlled-color-notation.ts
  packages-dom/mere-color/stories/story-comparison/model/hook/use-controlled-color-type.ts
  packages-dom/mere-color/stories/story-comparison/model/hook/use-controlled-color.ts
  packages-dom/mere-color/stories/story-comparison/model/hook/use-dispatch-set-color-input.ts
  packages-dom/mere-color/stories/story-comparison/model/hook/use-dispatch-set-color-notation.ts
  packages-dom/mere-color/stories/story-comparison/model/reducer/index.ts
  packages-dom/mere-color/stories/story-comparison/model/reducer/reduce-set-color-input.ts
  packages-dom/mere-color/stories/story-comparison/model/reducer/reduce-set-color-notation.ts
  packages-dom/mere-color/stories/story-comparison/model/reducer/reduce-set-color-type.ts
  packages-dom/mere-color/stories/story-comparison/model/reducer/reduce-set-color.ts
  packages-dom/mere-color/stories/story-comparison/model/types/action.ts
  packages-dom/mere-color/stories/story-comparison/model/types/state.ts
  packages-dom/mere-color/stories/story-comparison/model/util/create-initial-state.ts
  packages-dom/mere-color/stories/story-comparison/ui/rc/color-input/index.tsx
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-a11y-contrast.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-a11y-luminance.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-generate-darken.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-generate-desaturate.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-generate-grayscale.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-generate-invert.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-generate-lighten.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-generate-mix.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-generate-random.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-generate-rotate.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-generate-saturate.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-is-dark.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-is-light.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-to-hex.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-to-hsl.ts
  packages-dom/mere-color/stories/story-comparison/ui/util/get-comparison-to-rgb.ts
Due: stylelint --fix, eslint

feat: intercepter delay
  packages-fetcher/fetcher-fetch/src/util/fetcher-fetch.ts
  packages-fetcher/fetcher-interceptor-delay/package.json
  packages-fetcher/fetcher-interceptor-delay/src/index.ts
  packages-fetcher/fetcher-interceptor-delay/src/intercept/index.ts
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: interceptor merging
  packages-fetcher/fetcher-factory/stories/story-merging.tsx
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-cache-local/src/types/common.ts
  packages-fetcher/fetcher-interceptor-cache-local/src/types/fetcher-config.ts
  packages-fetcher/fetcher-interceptor-cache-local/src/util/cache-global.ts
  packages-fetcher/fetcher-interceptor-cache-local/src/util/create-interceptor-request.ts
  packages-fetcher/fetcher-interceptor-cache-local/src/util/create-interceptor-response-fulfilled.ts
  packages-fetcher/fetcher-interceptor-cache-local/src/util/create-interceptor-response-rejected.ts
  packages-fetcher/fetcher-interceptor-cache-local/src/util/parse-cache-local-options.ts
  packages-fetcher/fetcher-interceptor-delay/src/index.ts
  packages-fetcher/fetcher-interceptor-merging/.storybook/main.ts
  packages-fetcher/fetcher-interceptor-merging/.storybook/preview.ts
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-merging/src/index.ts
  packages-fetcher/fetcher-interceptor-merging/src/types/common.ts
  packages-fetcher/fetcher-interceptor-merging/src/types/fetcher-augmentation.ts
  packages-fetcher/fetcher-interceptor-merging/src/types/fetcher-config.ts
  packages-fetcher/fetcher-interceptor-merging/src/types/index.ts
  packages-fetcher/fetcher-interceptor-merging/src/types/options.ts
  packages-fetcher/fetcher-interceptor-merging/src/util/create-interceptor-request.ts
  packages-fetcher/fetcher-interceptor-merging/src/util/create-interceptor-response-fulfilled.ts
  packages-fetcher/fetcher-interceptor-merging/src/util/create-interceptor-response-rejected.ts
  packages-fetcher/fetcher-interceptor-merging/src/util/index.ts
  packages-fetcher/fetcher-interceptor-merging/src/util/intercept.ts
  packages-fetcher/fetcher-interceptor-merging/src/util/merging-global.ts
  packages-fetcher/fetcher-interceptor-merging/src/util/merging-remove.ts
  packages-fetcher/fetcher-interceptor-merging/src/util/merging-resolve.ts
  packages-fetcher/fetcher-interceptor-merging/src/util/parse-merging-options.ts
  packages-fetcher/fetcher-interceptor-merging/stories/index.stories.ts
  packages-fetcher/fetcher-interceptor-merging/stories/story-methods.tsx
  packages-fetcher/fetcher-interceptor-merging/stories/types/index.ts
  packages-fetcher/fetcher-interceptor-merging/tsconfig.json
  packages-fetcher/fetcher-interceptor-merging/tsconfig.node.json
Due: npmPkgJsonLint, stylelint --fix, eslint

refactor: fetcher
  packages-config/stylelint-config/package.json
  packages-fetcher/fetcher-core/CHANGELOG.md
  packages-fetcher/fetcher-core/package.json
  packages-fetcher/fetcher-core/src/factory/create-fn-get-with-abort.ts
  packages-fetcher/fetcher-core/src/factory/create-fn-get.ts
  packages-fetcher/fetcher-core/src/factory/create-fn-post-with-abort.ts
  packages-fetcher/fetcher-core/src/factory/create-fn-post.ts
  packages-fetcher/fetcher-core/src/factory/index.ts
  packages-fetcher/fetcher-core/src/index.ts
  packages-fetcher/fetcher-core/src/types/config.ts
  packages-fetcher/fetcher-core/src/types/fetcher-fn.ts
  packages-fetcher/fetcher-core/src/types/fetcher-interceptor.ts
  packages-fetcher/fetcher-core/src/types/fetcher.ts
  packages-fetcher/fetcher-core/src/util/parse-args-get.ts
  packages-fetcher/fetcher-core/src/util/parse-args-post.ts
  packages-fetcher/fetcher-factory/README.md
  packages-fetcher/fetcher-factory/package.json
  packages-fetcher/fetcher-factory/src/fetcher-factory.ts
  packages-fetcher/fetcher-factory/src/index.ts
  packages-fetcher/fetcher-factory/src/types/index.ts
  packages-fetcher/fetcher-factory/src/util/default-biz-get-message.ts
  packages-fetcher/fetcher-factory/src/util/default-biz-is-success.ts
  packages-fetcher/fetcher-factory/src/util/index.ts
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-fetch/test/index.test.ts
  packages-fetcher/fetcher-interceptor-biz/src/index.ts
  packages-fetcher/fetcher-interceptor-biz/src/types/intercept-options.ts
  packages-fetcher/fetcher-interceptor-biz/src/util/create-interceptor-response-fulfilled.ts
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-login/src/index.ts
  packages-fetcher/fetcher-interceptor-login/src/types/index.ts
  packages-fetcher/fetcher-interceptor-login/src/util/create-interceptor-response-rejected.ts
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-interceptor-sls/src/index.ts
  packages-fetcher/fetcher-interceptor-sls/src/types/index.ts
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher-jsonp/test/index.test.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

fix: depcheck
  packages-fetcher/fetch-sse/package.json
  packages-fetcher/fetcher-factory/README.md
  packages-fetcher/fetcher-factory/package.json
  packages-fetcher/fetcher-factory/stories/index.stories.ts
  packages-fetcher/fetcher-factory/stories/story-interceptor-biz.tsx
  packages-fetcher/fetcher-factory/stories/story-interceptor-cache-local.tsx
  packages-fetcher/fetcher-factory/stories/story-merging.tsx
  packages-fetcher/fetcher-interceptor-merging/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

chore: bump version
  packages-fetcher/fetcher/README.md
  packages-fetcher/fetcher/package.json
Due: npmPkgJsonLint, markdownlint-cli2

fix: featcher core response headers might not be headers, so export headers helpers
  packages-fetcher/fetcher-core/package.json
  packages-fetcher/fetcher-core/src/factory/intercept-response-download.ts
  packages-fetcher/fetcher-core/src/helper/index.ts
  packages-fetcher/fetcher-core/src/types/fetcher-response.ts
  packages-fetcher/fetcher-core/src/util/get-download-filename.ts
  packages-fetcher/fetcher-core/src/util/get-filename-from-response-headers.ts
  packages-fetcher/fetcher-core/src/util/get-headers-and-body-from-config.ts
  packages-fetcher/fetcher-core/src/util/headers-normalize.ts
  packages-fetcher/fetcher-core/src/util/index.ts
  packages-fetcher/fetcher-core/src/util/merge-headers.ts
  packages-fetcher/fetcher-core/src/util/normalize-header-key.ts
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-delay/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: featcher core response headers might not be headers, so export headers helpers
  packages-fetcher/fetcher-factory/package.json
Due: npmPkgJsonLint

fix: featcher core response headers might not be headers, so export headers helpers
  packages-fetcher/fetcher-core/package.json
  packages-fetcher/fetcher-core/src/helper/index.ts
  packages-fetcher/fetcher-core/src/util/get-download-filename.ts
  packages-fetcher/fetcher-core/src/util/get-headers-and-body-from-config.ts
  packages-fetcher/fetcher-core/src/util/headers-delete.ts
  packages-fetcher/fetcher-core/src/util/headers-get.ts
  packages-fetcher/fetcher-core/src/util/headers-set.ts
  packages-fetcher/fetcher-core/src/util/index.ts
  packages-fetcher/fetcher-factory/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-delay/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: mp error on instanceof directly
  packages-fetcher/fetcher-core/package.json
  packages-fetcher/fetcher-core/src/factory/intercept-response-download.ts
  packages-fetcher/fetcher-core/src/util/clone-type-url-search-params.ts
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-delay/package.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

feat: interceptor headers
  packages-config/eslint-config/package.json
  packages-fetcher/fetcher-core/package.json
  packages-fetcher/fetcher-core/src/index.ts
  packages-fetcher/fetcher-factory/package.json
  packages-fetcher/fetcher-factory/src/fetcher-factory.ts
  packages-fetcher/fetcher-factory/src/types/index.ts
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-delay/package.json
  packages-fetcher/fetcher-interceptor-headers/.babelrc.js
  packages-fetcher/fetcher-interceptor-headers/.npmignore
  packages-fetcher/fetcher-interceptor-headers/README.md
  packages-fetcher/fetcher-interceptor-headers/package.json
  packages-fetcher/fetcher-interceptor-headers/src/index.ts
  packages-fetcher/fetcher-interceptor-headers/tsconfig.json
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/use-route-query/package.json
  packages-x/react-router-link-hijacker/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: interceptor headers
  packages-fetcher/fetcher-interceptor-headers/README.md
Due: markdownlint-cli2

chore: headers
  packages-fetcher/fetcher-interceptor-headers/package.json
Due: npmPkgJsonLint

docs: intercept sls core readme
  packages-fetcher/fetcher-interceptor-sls-core/README.md
Due: markdownlint-cli2

chore: version bump
  packages-fetcher/fetcher-factory/package.json
  packages-fetcher/fetcher-interceptor-sls-core/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
Due: npmPkgJsonLint

feat: normalizeZhEn
  packages-helper/helper-data/CHANGELOG.md
  packages-helper/helper-data/package.json
  packages-helper/helper-data/src/helper/index.ts
  packages-helper/helper-data/src/helper/normalize-ch-en.ts
  packages-helper/helper-data/test/normalize-ch-en.test.ts
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: fetcher core config with _config that cannot be poluted
  package.json
  packages-config/eslint-config/package.json
  packages-demo/demo-rc/src/rc/input-switch/ui/index.tsx
  packages-fetcher/fetch-sse/src/types/index.ts
  packages-fetcher/fetcher-core/CHANGELOG.md
  packages-fetcher/fetcher-core/package.json
  packages-fetcher/fetcher-core/src/factory/fetcher-core.ts
  packages-fetcher/fetcher-core/src/types/config.ts
  packages-fetcher/fetcher-factory/README.md
  packages-fetcher/fetcher-factory/package.json
  packages-fetcher/fetcher-factory/src/fetcher-factory.ts
  packages-fetcher/fetcher-factory/src/fetcher-sse-factory.ts
  packages-fetcher/fetcher-factory/src/index.ts
  packages-fetcher/fetcher-factory/src/types/index.ts
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-delay/package.json
  packages-fetcher/fetcher-interceptor-headers/package.json
  packages-fetcher/fetcher-interceptor-login/README.md
  packages-fetcher/fetcher-interceptor-login/package.json
  packages-fetcher/fetcher-interceptor-login/src/types/index.ts
  packages-fetcher/fetcher-interceptor-login/src/util/create-interceptor-response-rejected.ts
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls-core/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher/package.json
  packages-util/error-ignore/package.json
  packages-util/md5/package.json
  pnpm-lock.yaml
  web/package.json
Due: npmPkgJsonLint, markdownlint-cli2, stylelint --fix, eslint

feat: add fetcher setup in fetcher-factory
  package.json
  packages-fetcher/fetcher-factory/package.json
  packages-fetcher/fetcher-factory/src/fetcher-factory.ts
  packages-fetcher/fetcher-factory/src/fetcher-setup.ts
  packages-fetcher/fetcher-factory/src/index.ts
  packages-util/error-ignore/package.json
  packages-util/md5/package.json
  web/package.json
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: whatever
  package.json
  packages-config/eslint-config/package.json
  packages-demo/demo-css/src/button-spin-border/index.tsx
  packages-demo/demo-css/src/index.ts
  packages-demo/demo-css/stories/cool-css/index.stories.ts
  packages-demo/demo-css/stories/cool-css/story-button.tsx
  packages-fetcher/fetcher-core/package.json
  packages-hook/use-click-away/package.json
  packages-hook/use-debounced/package.json
  packages-hook/use-is-unmounted/package.json
  packages-hook/use-route-query/package.json
  packages-theme/theme-token-base/src/font.ts
  packages-theme/theme-token-base/src/shadow.ts
  packages-ui/codemirror-headless/package.json
  packages-ui/transition/package.json
  packages-x/react-router-link-hijacker/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint, stylelint --fix, eslint

chore: fetcher
  packages-fetcher/fetcher-core/CHANGELOG.md
  packages-fetcher/fetcher-core/package.json
Due: npmPkgJsonLint, markdownlint-cli2

chore: whatever
  packages-dom/messenger/src/messenger/index.ts
Due: stylelint --fix, eslint

fix: use uuid not helper-data
  packages-ui/file-picker/package.json
  packages-ui/file-picker/src/util/uuid.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint, stylelint --fix, eslint

fix: use uuid directly in file picker
  packages-ui/file-picker/package.json
  packages-ui/file-picker/src/util/normalize-file-items.ts
Due: npmPkgJsonLint, stylelint --fix, eslint
