Repository justnewbee/kcuF: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint-cli2, eslint

.lintstagedrc:

{
  "package.json": "npmPkgJsonLint",
  "*.md": "markdownlint-cli2",
  "*.{jsx?,tsx?}": "eslint"
}

feat(canvas-marking): magnet to midpoint
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-util/geometry-basic/package.json
  packages-util/geometry-basic/src/helper/get-magnet-point-along-path.ts
  packages-util/geometry-basic/src/helper/get-magnet-point-along-paths.ts
  packages-util/geometry-basic/src/helper/get-magnet-point-from-path-midpoints.ts
  packages-util/geometry-basic/src/helper/get-magnet-point-from-path-points.ts
  packages-util/geometry-basic/src/helper/get-magnet-point-from-path-segments.ts
  packages-util/geometry-basic/src/helper/get-magnet-point-from-paths-base.ts
  packages-util/geometry-basic/src/helper/get-magnet-point-from-paths-midpoints.ts
  packages-util/geometry-basic/src/helper/get-magnet-point-from-paths-points.ts
  packages-util/geometry-basic/src/helper/get-magnet-point-from-paths-segments.ts
  packages-util/geometry-basic/src/index.ts
  packages-util/geometry-basic/src/types/index.ts
Due: npmPkgJsonLint

fix: marking crossing with 1e-4 diff
  package.json
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-demo/demo-rc/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/sls-logger-base/package.json
  packages-fetcher/sls-logger-web/package.json
  packages-util/geometry-basic/src/helper/point-is-in-segment-projection.ts
  packages-util/geometry-basic/test/segment-is-crossing.test.ts
Due: npmPkgJsonLint

fix(marking): dont push point when along path
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-util/geometry-basic/src/helper/path-segment-list.ts
  packages-util/geometry-basic/src/helper/point-is-along-path.ts
  packages-util/geometry-basic/src/helper/point-is-in-segment-projection.ts
  packages-util/geometry-basic/src/util/is-nearly-equal.ts
  packages-util/geometry-basic/test/path-has-segment-crossing.test.ts
  packages-util/geometry-basic/test/point-is-along-path.test.ts
  packages-util/geometry-basic/test/segment-is-crossing.test.ts
Due: none

fix(marking): shall not complete rect when the size is indeed small
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-canvas/canvas-marking/src/util/get-path-creating-rect.ts
  packages-canvas/canvas-marking/src/util/get-path-creating-rect2.ts
  packages-util/geometry-basic/src/helper/index.ts
  packages-util/geometry-basic/src/helper/path-rect-by-segment-and-point.ts
  packages-util/geometry-basic/src/helper/path-rect-by-two-points.ts
Due: none

chore: before pub
  packages-canvas/canvas-marking/package.json
  packages-util/geometry-basic/package.json
Due: npmPkgJsonLint

fix(marking): rect logic and zoom reset logic fixed
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/util/can-finish-rect.ts
  packages-canvas/canvas-marking/src/util/get-path-creating-rect.ts
  packages-canvas/canvas-marking/src/util/index.ts
  packages-util/geometry-basic/src/helper/path-rect-by-segment-and-point.ts
Due: none

chore: before pub
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-util/geometry-basic/package.json
  packages-util/geometry-basic/src/index.ts
Due: npmPkgJsonLint

chore: up ✨
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-rc/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-hook/react-hook-click-away/package.json
  packages-hook/react-hook-controllable/package.json
  packages-hook/react-hook-is-unmounted/package.json
  packages-hook/react-hook-mouse-hover/package.json
  packages-hook/react-hook-with-class/package.json
  packages-rc-headless/rc-headless-alert/package.json
  packages-rc-headless/rc-headless-backdrop/package.json
  packages-rc-headless/rc-headless-button/package.json
  packages-rc-headless/rc-headless-form/package.json
  packages-rc-headless/rc-headless-input-text/package.json
  packages-rc/rc-backdrop/package.json
  packages-theme/theme-base/package.json
  packages-theme/theme-token-base/package.json
Due: npmPkgJsonLint

feat(geometry): perpendicular
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-util/geometry-basic/src/helper/base/index.ts
  packages-util/geometry-basic/src/helper/base/point-distance-to-segment-detailed.ts
  packages-util/geometry-basic/src/helper/base/point-distance-to-segment.ts
  packages-util/geometry-basic/src/helper/comparison/index.ts
  packages-util/geometry-basic/src/helper/justify/point-justify-magnet-path-segments.ts
  packages-util/geometry-basic/src/helper/justify/point-justify-right-angle.ts
  packages-util/geometry-basic/src/helper/relation/check-path-for-duplicate.ts
  packages-util/geometry-basic/src/helper/relation/index.ts
  packages-util/geometry-basic/src/helper/relation/point-distance-to-line-detailed.ts
  packages-util/geometry-basic/src/helper/relation/point-distance-to-line.ts
  packages-util/geometry-basic/src/helper/relation/point-distance-to-segment.ts
  packages-util/geometry-basic/src/helper/relation/point-perpendicular-intersection-to-line.ts
  packages-util/geometry-basic/src/helper/relation/point-perpendicular-intersection-to-segment.ts
  packages-util/geometry-basic/src/helper/transform/index.ts
  packages-util/geometry-basic/src/helper/transform/path-rect-by-segment-and-point.ts
  packages-util/geometry-basic/src/helper/transform/path-rect-by-two-points.ts
  packages-util/geometry-basic/src/helper/transform/rotate-path.ts
  packages-util/geometry-basic/src/helper/transform/rotate-point.ts
  packages-util/geometry-basic/src/helper/transform/rotate-segment.ts
  packages-util/geometry-basic/src/helper/transform/translate-path.ts
  packages-util/geometry-basic/src/helper/transform/translate-segment.ts
  packages-util/geometry-basic/test/point-distance-to-line.test.ts
  packages-util/geometry-basic/test/point-distance-to-segment.test.ts
  packages-util/geometry-basic/test/point-distance.test.ts
  packages-util/geometry-basic/test/point-perpendicular-intersection-to-line.test.ts
  packages-util/geometry-basic/test/rotate-point.test.ts
  packages-util/geometry-basic/test/rotate-segment.test.ts
  packages-util/geometry-basic/test/translate-path.test.ts
  packages-util/geometry-basic/test/translate-point.test.ts
  packages-util/geometry-basic/test/translate-segment.test.ts
Due: none

fix(marking): use most bottom api
  packages-util/geometry-basic/src/helper/justify/point-justify-magnet-path-segments.ts
  packages-util/geometry-basic/src/helper/relation/point-perpendicular-intersection-to-segment.ts
Due: none

chore(geometry): rename
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-util/geometry-basic/src/helper/justify/index.ts
  packages-util/geometry-basic/src/helper/justify/justify-point-magnet-along-path.ts
  packages-util/geometry-basic/src/helper/justify/justify-point-magnet-along-paths.ts
  packages-util/geometry-basic/src/helper/justify/justify-point-magnet-path-midpoints.ts
  packages-util/geometry-basic/src/helper/justify/justify-point-magnet-path-points.ts
  packages-util/geometry-basic/src/helper/justify/justify-point-magnet-path-segments.ts
  packages-util/geometry-basic/src/helper/justify/justify-point-magnet-paths-base.ts
  packages-util/geometry-basic/src/helper/justify/justify-point-magnet-paths-midpoints.ts
  packages-util/geometry-basic/src/helper/justify/justify-point-magnet-paths-points.ts
  packages-util/geometry-basic/src/helper/justify/justify-point-magnet-paths-segments.ts
  packages-util/geometry-basic/src/helper/justify/justify-point-right-angle.ts
  packages-util/geometry-basic/src/helper/justify/justify-point-snap-around-point-base.ts
  packages-util/geometry-basic/src/helper/justify/justify-point-snap-around-point-between.ts
  packages-util/geometry-basic/src/helper/justify/justify-point-snap-around-point.ts
  packages-util/geometry-basic/src/helper/justify/point-justify-magnet-along-path.ts
  packages-util/geometry-basic/src/helper/justify/point-justify-magnet-along-paths.ts
  packages-util/geometry-basic/src/helper/justify/point-justify-magnet-path-midpoints.ts
  packages-util/geometry-basic/src/helper/justify/point-justify-magnet-paths-midpoints.ts
  packages-util/geometry-basic/src/helper/justify/point-justify-magnet-paths-points.ts
  packages-util/geometry-basic/src/helper/justify/point-justify-magnet-paths-segments.ts
  packages-util/geometry-basic/src/helper/justify/point-justify-snap-around-point-between.ts
  packages-util/geometry-basic/src/helper/justify/point-justify-snap-around-point.ts
Due: none

fix: use for of
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-util/geometry-basic/src/helper/justify/justify-point-right-angle.ts
Due: none

chore: up
  package.json
  packages-canvas/canvas-helper/package.json
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-particles/package.json
  packages-canvas/canvas-sorting-algorithm/package.json
  packages-demo/demo-rc/package.json
  packages-dom/mere-dom/package.json
  packages-dom/sandbox-escape/package.json
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/sls-logger-base/package.json
  packages-fetcher/sls-logger-web/package.json
  packages-hook/react-hook-click-away/package.json
  packages-hook/react-hook-controllable/package.json
  packages-hook/react-hook-is-unmounted/package.json
  packages-hook/react-hook-mouse-hover/package.json
  packages-hook/react-hook-with-class/package.json
  packages-rc-headless/rc-headless-alert/package.json
  packages-rc-headless/rc-headless-backdrop/package.json
  packages-rc-headless/rc-headless-button/package.json
  packages-rc-headless/rc-headless-form/package.json
  packages-rc-headless/rc-headless-input-text/package.json
  packages-rc/rc-backdrop/package.json
  packages-theme/theme-base/package.json
  packages-theme/theme-helper-code-gen/package.json
  packages-theme/theme-token-base/package.json
  packages-util/base64/package.json
  packages-util/geometry-basic/package.json
  packages-util/geometry-extended/package.json
  packages-util/json-stringify-ordered/package.json
  packages-util/storage-factory/package.json
  packages-util/subscribable/package.json
  packages-util/ts-missing-helpers/package.json
Due: npmPkgJsonLint

feat(canvas-marking): basic right angle adjust for creating
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-canvas/canvas-marking/src/const/index.ts
  packages-canvas/canvas-marking/src/types/options.ts
  packages-canvas/canvas-marking/src/util/canvas-draw-area.ts
  packages-canvas/canvas-marking/src/util/canvas-draw-path-border.ts
  packages-canvas/canvas-marking/src/util/canvas-draw-right-angle-mark.ts
  packages-canvas/canvas-marking/src/util/canvas-draw-shape.ts
  packages-canvas/canvas-marking/src/util/index.ts
  packages-canvas/canvas-marking/src/util/marking-draw-border.ts
  packages-canvas/canvas-marking/src/util/marking-draw-insertion-point.ts
  packages-canvas/canvas-marking/src/util/marking-draw-point.ts
  packages-util/geometry-basic/src/helper/base/angle-degrees.ts
  packages-util/geometry-basic/src/helper/base/angle-radians.ts
  packages-util/geometry-basic/src/helper/base/index.ts
  packages-util/geometry-basic/src/helper/base/normalize-line.ts
  packages-util/geometry-basic/src/helper/base/normalize-vector.ts
  packages-util/geometry-basic/src/helper/base/segment-line.ts
  packages-util/geometry-basic/src/helper/base/segment-vector-normalized.ts
  packages-util/geometry-basic/src/helper/base/segment-vector.ts
  packages-util/geometry-basic/src/helper/comparison/is-equal-lines.ts
  packages-util/geometry-basic/src/helper/justify/_check-threshold-angle.ts
  packages-util/geometry-basic/src/helper/justify/justify-point-perpendicular-1.ts
  packages-util/geometry-basic/src/helper/justify/justify-point-perpendicular-3.ts
  packages-util/geometry-basic/src/helper/misc/angle-bisector.ts
  packages-util/geometry-basic/src/helper/relation/angle-between-segments.ts
  packages-util/geometry-basic/src/helper/relation/angle-degrees.ts
  packages-util/geometry-basic/src/helper/relation/angle-from-segment-to-segment.ts
  packages-util/geometry-basic/src/helper/relation/angle-radians.ts
  packages-util/geometry-basic/src/helper/relation/index.ts
  packages-util/geometry-basic/src/helper/relation/is-segment-collinear-with-line.ts
  packages-util/geometry-basic/src/helper/relation/parallel-line-through-point-to-line.ts
  packages-util/geometry-basic/src/helper/relation/perpendicular-intersection-through-point-to-line.ts
  packages-util/geometry-basic/src/helper/relation/perpendicular-line-through-point-to-line.ts
  packages-util/geometry-basic/src/helper/transform/index.ts
  packages-util/geometry-basic/src/helper/transform/multiply-vector-by-scalar.ts
  packages-util/geometry-basic/test/angle-from-segment-to-segment.test.ts
Due: none

feat(canvas-marking): less hard code
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/const/index.ts
  packages-canvas/canvas-marking/src/types/common.ts
  packages-canvas/canvas-marking/src/types/style.ts
  packages-canvas/canvas-marking/src/util/init-draw-style-point.ts
Due: none

feat(canvas-marking): editing justify perpendicular
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/util/index.ts
  packages-util/geometry-basic/src/helper/base/index.ts
  packages-util/geometry-basic/src/helper/base/path-angle-list.ts
Due: none

refactor(geometry): simplify method names
  package.json
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-dev/stylelint-config/package.json
  packages-rc/rc-backdrop/package.json
  packages-util/geometry-basic/src/helper/justify/index.ts
  packages-util/geometry-basic/src/helper/justify/justify-magnet-along-path.ts
  packages-util/geometry-basic/src/helper/justify/justify-magnet-along-paths.ts
  packages-util/geometry-basic/src/helper/justify/justify-magnet-points.ts
  packages-util/geometry-basic/src/helper/justify/justify-magnet-segments.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-1.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-123.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-2.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-3.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-along-path.ts
  packages-util/geometry-basic/src/helper/justify/justify-point-magnet-along-path.ts
  packages-util/geometry-basic/src/helper/justify/justify-point-perpendicular-123.ts
  packages-util/geometry-basic/src/helper/justify/justify-point-snap-around-point-between.ts
  packages-util/geometry-basic/src/helper/justify/justify-point-snap-around-point.ts
  packages-util/geometry-basic/src/helper/justify/justify-snap-around-pivot-detailed.ts
  packages-util/geometry-basic/src/helper/justify/justify-snap-around-pivot.ts
  packages-util/geometry-basic/src/helper/justify/justify-snap-between-pivots.ts
  packages-util/geometry-basic/src/helper/relation/intersection-line-with-path.ts
  packages-util/geometry-basic/src/helper/relation/intersection-path-with-path.ts
  packages-util/geometry-basic/src/helper/relation/intersection-segment-with-path.ts
Due: npmPkgJsonLint

refactor(marking): use enum
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/enum/index.ts
  packages-canvas/canvas-marking/src/types/common.ts
  packages-canvas/canvas-marking/src/types/stats.ts
  packages-canvas/canvas-marking/src/util/get-mouse-justified-status-magnet.ts
  packages-canvas/canvas-marking/src/util/index.ts
  packages-util/geometry-basic/src/enum/index.ts
  packages-util/geometry-basic/src/helper/justify/_determine-justified-perpendicular.ts
  packages-util/geometry-basic/src/helper/justify/justify-magnet-along-path.ts
  packages-util/geometry-basic/src/helper/justify/justify-magnet-along-paths.ts
  packages-util/geometry-basic/src/helper/justify/justify-magnet-points.ts
  packages-util/geometry-basic/src/helper/justify/justify-magnet-segments.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-1.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-123.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-2.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-3.ts
  packages-util/geometry-basic/src/index.ts
  packages-util/geometry-basic/src/types/index.ts
Due: none

feat(marking): perpendicular external
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/enum/index.ts
  packages-util/geometry-basic/src/helper/justify/_determine-justified-perpendicular.ts
  packages-util/geometry-basic/src/helper/justify/index.ts
  packages-util/geometry-basic/src/helper/justify/justify-magnet-segments.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-1.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-123.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-2.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-3.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-4.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-external.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-internal.ts
  packages-util/geometry-basic/src/helper/relation/check-collinear.ts
  packages-util/geometry-basic/src/helper/relation/find-attached-segments.ts
  packages-util/geometry-basic/src/helper/relation/index.ts
  packages-util/geometry-basic/src/helper/relation/is-point-along-path.ts
  packages-util/geometry-basic/src/helper/relation/is-point-in-segment-projection.ts
  packages-util/geometry-basic/src/helper/relation/is-point-on-path.ts
  packages-util/geometry-basic/src/helper/relation/is-point-on-segment.ts
  packages-util/geometry-basic/src/helper/relation/is-point-within-path.ts
  packages-util/geometry-basic/src/types/index.ts
  packages-util/geometry-basic/src/util/parse-justify-point-perpendicular-threshold.ts
  packages-util/geometry-basic/test/check-collinear.test.ts
  packages-util/geometry-basic/test/convert-angle.test.ts
  packages-util/geometry-basic/test/is-point-along-path.test.ts
  packages-util/geometry-basic/test/is-point-along-segment.test.ts
  packages-util/geometry-basic/test/is-point-on-path.test.ts
  packages-util/geometry-basic/test/is-point-on-segment.test.ts
Due: none

refactor(geometry): unified justified result type
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/util/get-mouse-justified-status-magnet.ts
  packages-util/geometry-basic/src/enum/index.ts
  packages-util/geometry-basic/src/helper/justify/_determine-justified-result.ts
  packages-util/geometry-basic/src/helper/justify/index.ts
  packages-util/geometry-basic/src/helper/justify/justify-magnet-along-path.ts
  packages-util/geometry-basic/src/helper/justify/justify-magnet-along-paths.ts
  packages-util/geometry-basic/src/helper/justify/justify-magnet-points.ts
  packages-util/geometry-basic/src/helper/justify/justify-magnet-segments.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-1.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-123.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-2.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-3.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-4.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-external.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-internal.ts
  packages-util/geometry-basic/src/helper/justify/justify-snap-around-pivot-detailed.ts
  packages-util/geometry-basic/src/helper/justify/justify-snap-around-pivot.ts
  packages-util/geometry-basic/src/helper/justify/justify-snap-around-pivots.ts
  packages-util/geometry-basic/src/helper/justify/justify-snap-between-pivots.ts
  packages-util/geometry-basic/src/index.ts
  packages-util/geometry-basic/src/types/index.ts
Due: none

refactor(geometry): unified justified result type
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-1.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-2.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-3.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-4.ts
  packages-util/geometry-basic/src/types/index.ts
Due: none

feat(marking): exteranl perpendicular mark
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/types/marking-item-class.ts
  packages-canvas/canvas-marking/src/types/options.ts
  packages-canvas/canvas-marking/src/util/canvas-draw-perpendicular-mark.ts
  packages-canvas/canvas-marking/src/util/index.ts
Due: none

chore: before pub
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/const/index.ts
  packages-util/geometry-basic/package.json
Due: npmPkgJsonLint

fix(marking): should do an extra process dragging when toggle justify or snap
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/types/marking-item-class.ts
  packages-util/geometry-basic/src/helper/justify/justify-snap-around-pivot.ts
Due: npmPkgJsonLint

fix(canvas-marking): hightlight border diff will reuse hover diff
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/marking-item.ts
  packages-canvas/canvas-marking/src/types/marking-item-class.ts
  packages-canvas/canvas-marking/stories/demo-model/const/marking-items-aerial.ts
Due: npmPkgJsonLint

fix(geometry): whatever
  packages-canvas/canvas-marking/package.json
  packages-util/geometry-basic/README.md
  packages-util/geometry-basic/package.json
  packages-util/geometry-basic/src/helper/angle/angle-between-lines.ts
  packages-util/geometry-basic/src/helper/angle/angle-between-segments.ts
  packages-util/geometry-basic/src/helper/angle/angle-degrees.ts
  packages-util/geometry-basic/src/helper/angle/angle-of-line-with-respect-to-axis-x.ts
  packages-util/geometry-basic/src/helper/angle/angle-of-line-with-respect-to-axis-y.ts
  packages-util/geometry-basic/src/helper/angle/angle-of-segment-with-respect-to-segment.ts
  packages-util/geometry-basic/src/helper/angle/angle-radians.ts
  packages-util/geometry-basic/src/helper/angle/index.ts
  packages-util/geometry-basic/src/helper/base/index.ts
  packages-util/geometry-basic/src/helper/index.ts
  packages-util/geometry-basic/src/helper/justify/_check-threshold-angle.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-1.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-2.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-3.ts
  packages-util/geometry-basic/src/helper/justify/justify-perpendicular-4.ts
  packages-util/geometry-basic/src/helper/relation/angle-between-segment-and-axis-x.ts
  packages-util/geometry-basic/src/helper/relation/angle-between-segment-and-axis-y.ts
  packages-util/geometry-basic/src/helper/relation/angle-from-segment-to-segment.ts
  packages-util/geometry-basic/src/helper/relation/index.ts
  packages-util/geometry-basic/src/helper/relation/parallel-line-through-point-to-line.ts
  packages-util/geometry-basic/src/helper/relation/parallel-line-through-point-to-segment.ts
  packages-util/geometry-basic/src/helper/relation/perpendicular-foot-through-point-to-line.ts
  packages-util/geometry-basic/src/helper/relation/perpendicular-foot-through-point-to-segment.ts
  packages-util/geometry-basic/src/helper/relation/perpendicular-line-through-point-to-line.ts
  packages-util/geometry-basic/src/helper/relation/perpendicular-line-through-point-to-segment.ts
  packages-util/geometry-basic/test/angle-between-segment-and-axis-x.test.ts
  packages-util/geometry-basic/test/angle-between-segment-and-axis-y.test.ts
  packages-util/geometry-basic/test/angle-from-segment-to-segment.test.ts
  packages-util/geometry-basic/test/angle-of-line-with-respect-to-axis.test.ts
  packages-util/geometry-basic/test/angle-of-segment-with-respect-to-segment.test.ts
  packages-util/geometry-basic/test/const/path-3-regular.ts
Due: npmPkgJsonLint, markdownlint-cli2

chore: whatever 🍺
  packages-util/geometry-basic/src/helper/angle/angle-of-segment-with-respect-to-axis-x.ts
  packages-util/geometry-basic/src/helper/angle/angle-of-segment-with-respect-to-axis-y.ts
  packages-util/geometry-basic/src/helper/angle/index.ts
Due: none

chore: before up
  packages-canvas/canvas-marking/package.json
  packages-util/geometry-basic/package.json
  packages-util/geometry-basic/test/angle-of-segment-with-respect-to-axis.test.ts
Due: npmPkgJsonLint

feat(marking): support additional draw
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/types/marking-stage-class.ts
  packages-fetcher/fetcher-fetch/stories/story-fetch.tsx
Due: npmPkgJsonLint

fix(marking): draw should have a sacle param
  packages-canvas/canvas-marking/package.json
  packages-canvas/canvas-marking/src/class/marking-stage.ts
  packages-canvas/canvas-marking/src/types/marking-stage-class.ts
Due: npmPkgJsonLint

fix(storage-factory): type naming was misleading
  packages-util/storage-factory/package.json
  packages-util/storage-factory/src/types/index.ts
Due: npmPkgJsonLint

fix(geometry): split path
  packages-fetcher/fetcher-fetch/package.json
  packages-fetcher/fetcher-interceptor-biz/package.json
  packages-fetcher/fetcher-interceptor-cache-local/package.json
  packages-fetcher/fetcher-interceptor-merging/package.json
  packages-fetcher/fetcher-interceptor-sls/package.json
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher/package.json
  packages-fetcher/fetcher/src/util/merge-config.ts
  packages-fetcher/sls-logger-base/package.json
  packages-fetcher/sls-logger-web/package.json
  packages-hook/react-hook-click-away/package.json
  packages-hook/react-hook-controllable/package.json
  packages-hook/react-hook-is-unmounted/package.json
  packages-theme/theme-helper-code-gen/package.json
  packages-util/base64/package.json
  packages-util/geometry-basic/package.json
  packages-util/geometry-basic/src/helper/comparison/compare-paths.ts
  packages-util/geometry-basic/src/helper/comparison/index.ts
  packages-util/geometry-basic/src/helper/comparison/is-equal-points-approximately.ts
  packages-util/geometry-basic/src/helper/comparison/is-point-included-approximately.ts
  packages-util/geometry-basic/src/helper/relation/intersection-line-with-path.ts
  packages-util/geometry-basic/src/helper/relation/intersection-path-with-path.ts
  packages-util/geometry-basic/src/helper/slicing/path-slice-by-line.ts
  packages-util/geometry-basic/src/helper/slicing/path-slice-by-lines.ts
  packages-util/geometry-basic/test/const/path-4-square.ts
  packages-util/geometry-basic/test/path-slice-by-line.test.ts
  packages-util/geometry-basic/test/path-slice-by-lines.test.ts
  packages-util/geometry-basic/test/types/index.ts
  packages-util/json-stringify-ordered/package.json
  packages-util/storage-factory/package.json
Due: npmPkgJsonLint

fix(geometry): split path
  packages-canvas/canvas-marking/package.json
  packages-util/geometry-basic/package.json
  packages-util/geometry-basic/src/helper/slicing/index.ts
  packages-util/geometry-basic/src/helper/slicing/slice-path-with-line.ts
  packages-util/geometry-basic/src/helper/slicing/slice-path-with-lines.ts
  packages-util/geometry-basic/test/slice-path-with-line.test.ts
  packages-util/geometry-basic/test/slice-path-with-lines.test.ts
Due: npmPkgJsonLint

feat(fetcher): json support .text()
  packages-fetcher/fetcher-fetch/src/util/fetcher-fetch.ts
  packages-fetcher/fetcher-jsonp/package.json
  packages-fetcher/fetcher-jsonp/src/types/index.ts
  packages-fetcher/fetcher-jsonp/src/util/jsonp.ts
  packages-fetcher/fetcher-jsonp/test/index.test.ts
  packages-fetcher/fetcher/src/types/common.ts
  packages-fetcher/fetcher/src/types/config.ts
Due: npmPkgJsonLint
